section#new-business
	.container
		.center.user-upgrade-form
			h1 Create Organization Profile
			p Please complete all sections of this form to upgrade your user account to an Organization. By doing this, you will be able to display local Discounts on your profile page and make money from each sale.
			= render 'users/form'