#category-filters
  .category-filters-wrap
    .primary
      .container
        ul.parent-categories-list.center
          - CATEGORIES_CLASS_NAME.each do |pc|
            a.parent-category-link
              - if pc == params[:parentCat]
                li.parent-category-item.btn-primary.is-active =pc
              - else
                li.parent-category-item.btn-primary =pc

    .sub-categories-drawer
      .container-narrow
        h4.center.sub-categories-drawer-title
          
        - CATEGORIES_CLASS_NAME.each do |pc|  
          / h4.center =pc
          ul.clearfix
            - get_sub_categories(pc).collect do |sc|
              = link_to params.permit(:parentCat, :catTypeID, :catName, :page).merge(parentCat: pc, catTypeID: sc[1], catName: sc[0]), class: "subcat-#{pc} all-subcat"
                li=sc[0]

javascript:
  $('.parent-category-item').mouseenter(function(){
    pcat = $(this).html();
    $('.all-subcat').hide();
    $('.subcat-'+pcat).show();
  });
  