footer
	ul.center.footer-nav
		= link_to content_tag('li', 'About', class: 'btn'), about_path
		= link_to content_tag('li', 'Charity', class: 'btn'), charity_path
		= link_to content_tag('li', 'Business', class: 'btn'), for_business_path
		= link_to content_tag('li', 'Learn', class: 'btn'), learn_path
		= link_to content_tag('li', 'FAQ', class: 'btn'), faq_path
		= link_to content_tag('li', 'Contact', class: 'btn'), contact_path
		= link_to content_tag('li', 'Privacy', class: 'btn'), privacy_path
		= link_to content_tag('li', 'Terms', class: 'btn'), terms_path
	.footer-social
		ul.center
			= link_to '#'
				li
					i.ion-social-facebook
			= link_to '#'
				li
					i.ion-social-twitter
			= link_to '#'
				li
					i.ion-social-youtube
			= link_to '#'
				li
					i.ion-social-linkedin

	p.center.small 
		| For more information, contact us via 
		= mail_to('infomartketpad@gmail.com')
		|  or call us at 
		= tel_to('208-659-7299')
		br
		| &copy;2017 MarketPad.com - All Rights Reserved.
		br
		| Designed by IN:DEEP Arts, LLC
	/ .center
	/ 	svg height="50px" id="footer-logo" style="enable-background:new 0 0 60 60;" version="1.1" viewBox="-50 -50 150 150" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"	
	/ 		g
	/             circle id="c1" class="logo-circle" cx="20.7" cy="32.3" r="0.2"
	/             circle id="c2" class="logo-circle" cx="21.2" cy="32.7" r="0.2"
	/             circle id="c3" class="logo-circle" cx="21" cy="33.5" r="0.4"
	/             circle id="c4" class="logo-circle" cx="19.6" cy="33.5" r="0.7"
	/             circle id="c5" class="logo-circle" cx="19.1" cy="31.3" r="1.1"
	/             circle id="c6" class="logo-circle" cx="22.3" cy="30.2" r="1.9"
	/             circle id="c7" class="logo-circle" cx="24.8" cy="34.9" r="3"
	/             circle id="c8" class="logo-circle" cx="17.1" cy="39.5" r="4.9"
	/             circle id="c9" class="logo-circle" cx="9.5" cy="28.3" r="8.1"
	/             circle id="c10" class="logo-circle" cx="26.9" cy="14.6" r="13.1"
	/             circle id="c11" class="logo-circle" cx="49.6" cy="41.5" r="20.9"
