#full-nav
  ul.center
    = link_to content_tag('li','DEALS'), deals_path
    = link_to content_tag('li','PRODUCTS'), products_path
    = link_to content_tag('li','CHARITIES'), organizations_path
    = link_to content_tag('li','BUSINESSES'), businesses_path
    - if user_signed_in? && customer?
      = link_to content_tag("li","FAVORITES"), favorite_discounts_path
      =link_to content_tag('li','CART'), carts_path
    =link_to content_tag('li','REDEEM'), my_purchase_path
    - if user_signed_in? && !customer?
      - if business? && current_user.profile.present?
        = link_to content_tag('li','MY DISCOUNTS'), discounts_path
        = link_to content_tag('li','MERCHANT ACCOUNT'), merchant_account_path
        =link_to content_tag('li','MY SALES'), my_sales_path
      = link_to content_tag("li","FAVORITES"), favorite_discounts_path
      - if agency?
        = link_to content_tag('li','MY LISTINGS'), '#'
      - if affiliate?
        = link_to content_tag('li','AFFILIATIONS'), affiliations_path
      = link_to content_tag("li","Edit Profile"), profile_path
    = link_to content_tag("li","Account"), account_path
    - if user_signed_in?
      = link_to content_tag("li","Logout"), logout_path, method: :delete
    - else
      = link_to content_tag("li","Login"), login_path
      = link_to content_tag("li","Join"), join_path
