section.discounts-gallery
	.discount-category-header
		h2.left Top Selling discounts
		= link_to content_tag('h4', 'See All >>', class: 'left'), '#'
	.discount-category-block
		= link_to deal_path, class: "discount-card spa-discount-1 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 60% off Breakfast
				p Save on our most popular...
		= link_to deal_path, class: "discount-card food-discount-4 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 40% off 6" Sub
				p Get a 6" Sub for $3.99...
		= link_to deal_path, class: "discount-card spa-discount-3 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 60% off Breakfast
				p Save on our most popular...
		= link_to deal_path, class: "discount-card food-discount-1 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 40% off 6" Sub
				p Get a 6" Sub for $3.99...
	.discount-category-header
		h2.left Food & Beverage
		= link_to content_tag('h4', 'See All >>', class: 'left'), '#'
	.discount-category-block
		= link_to deal_path, class: "discount-card food-discount-1 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 60% off Breakfast
				p Save on our most popular...
		= link_to deal_path, class: "discount-card food-discount-2 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 40% off 6" Sub
				p Get a 6" Sub for $3.99...
		= link_to deal_path, class: "discount-card food-discount-3 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 60% off Breakfast
				p Save on our most popular...
		= link_to deal_path, class: "discount-card food-discount-4 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 40% off 6" Sub
				p Get a 6" Sub for $3.99...
	.discount-category-header
		h2.left Health & Beauty
		= link_to content_tag('h4', 'See All >>', class: 'left'), '#'
	.discount-category-block
		= link_to deal_path, class: "discount-card spa-discount-1 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 60% off Breakfast
				p Save on our most popular...
		= link_to deal_path, class: "discount-card spa-discount-2 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 40% off 6" Sub
				p Get a 6" Sub for $3.99...
		= link_to deal_path, class: "discount-card spa-discount-3 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 60% off Breakfast
				p Save on our most popular...
		= link_to deal_path, class: "discount-card spa-discount-4 bx-shadow-2 pointer"
			.discount-card-love.pointer
				i.ion-ios-heart-outline
			.discount-card-info.dark
				h2 40% off 6" Sub
				p Get a 6" Sub for $3.99...
