#loading
	.mid-float.center
		svg id="loading-logo" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 300 300" width="120px" height="120px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          	g
            	g
					path class="cls-1" d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
					path class="cls-1" d="M233.44,69.48C225,54,210.75,43.87,194.64,43.87c-24,0-43.78,22.49-46.65,51.56a72.9,72.9,0,0,0-.37,7.35c0,32.54,21.05,58.91,47,58.91s47-26.37,47-58.91A69.35,69.35,0,0,0,233.44,69.48Zm-38.8,90.43c-20.37,0-36.88-20.38-36.88-45.52a52.4,52.4,0,0,1,7.8-28c6.74-10.67,17.27-17.52,29.08-17.52a30.92,30.92,0,0,1,15.09,4c12.85,7.11,21.79,23,21.79,41.54C231.53,139.53,215,159.9,194.64,159.9Z"
					path.cls-1 d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
					path.cls-2 d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
					path.cls-3 d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
				path.cls-4 d="M139.72,98.16c0,.87,0,1.73,0,2.59-20,14-34.28,32.71-37.67,56.32,11,27.46,29.3,59.39,58.16,78.93,24.58,16.65,58.75,26.26,95.39,26,0,0-53.12,4.7-98.89-23.46-27-16.59-45.67-47.25-55.6-68.3-1,45.88,19.21,97.7,65.5,126.62-2,.07-4.05.12-6.08.12A147,147,0,1,1,284.4,70.78q-9-1.35-18.5-1.91a209.78,209.78,0,0,0-21.76-.13c-8.89-22.64-27.71-38.27-49.5-38.27C164.31,30.47,139.72,60.78,139.72,98.16Z"

		p 
			| Loading 
			span.load-dot#1 . 
			span.load-dot#2 . 
			span.load-dot#3 . 
