/ MODAL

.modal-bg.modalTrigger
.modal-frame.center
	i.right.pointer.ion-ios-close-empty.modalTrigger
	/ MODAL HEADING
	h1 Current Location
	/ MODAL DESCRIPTION
	h3 Enter your current location in the form below to find Deals in your area!
	/ MODAL YIELD
	=form_tag(update_location_path)
		.field
			/ label City
			=text_field_tag "city", user_city, required: true, id: "location_city", placeholder: "Enter Your City", autofocus: true
		
		.field
			/ label State
			=text_field_tag "state", user_state, required: true, placeholder: "Enter Your State", id: "location_state"
		
		.field
			/ label Zip Code
			=text_field_tag "zipcode", user_zipcode, required: true, id: "location_zipcode", placeholder: "Enter Your Zip Code"

		.field
			/ label Search Radius
			.styled-select
			  =select_tag :search_radius, options_for_select(search_radius_select, selected: user_search_radius), prompt: "> Set Search Radius", required: true, id: "search_radius"
	    - if current_user.present?
	      p Remeber My Location?
	    - if current_user.present?
	      .styled-radio
	        =check_box_tag :remember_loc, true, current_user.try(:remember_loc), id: 'styled-radio', class: 'left'
	        label.check-label for="styled-radio"
	        
		.actions
		  = button_tag "SAVE", class: "btn btn-primary", data: {disable_with: "Saving..."}