header.navbar-down 
  nav.navbar.dark role="navigation" 
    = link_to root_path, data: { turbolinks: false }
      
      .navbar-logo.left.slideR 
        svg height="40px" id="navbar-logo" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 300 300" width="40px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          g
            path class="cls-1" d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
            path class="cls-1" d="M233.44,69.48C225,54,210.75,43.87,194.64,43.87c-24,0-43.78,22.49-46.65,51.56a72.9,72.9,0,0,0-.37,7.35c0,32.54,21.05,58.91,47,58.91s47-26.37,47-58.91A69.35,69.35,0,0,0,233.44,69.48Zm-38.8,90.43c-20.37,0-36.88-20.38-36.88-45.52a52.4,52.4,0,0,1,7.8-28c6.74-10.67,17.27-17.52,29.08-17.52a30.92,30.92,0,0,1,15.09,4c12.85,7.11,21.79,23,21.79,41.54C231.53,139.53,215,159.9,194.64,159.9Z"
            path.cls-1 d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
            path.cls-2 d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
            path.cls-3 d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
            path.cls-4 d="M139.72,98.16c0,.87,0,1.73,0,2.59-20,14-34.28,32.71-37.67,56.32,11,27.46,29.3,59.39,58.16,78.93,24.58,16.65,58.75,26.26,95.39,26,0,0-53.12,4.7-98.89-23.46-27-16.59-45.67-47.25-55.6-68.3-1,45.88,19.21,97.7,65.5,126.62-2,.07-4.05.12-6.08.12A147,147,0,1,1,284.4,70.78q-9-1.35-18.5-1.91a209.78,209.78,0,0,0-21.76-.13c-8.89-22.64-27.71-38.27-49.5-38.27C164.31,30.47,139.72,60.78,139.72,98.16Z"
      
      h2.navbar-brand.left.hide-tablet 
        | MarketPad.com 
        br
        span style="font-size:40%;font-weight:300;line-height:50%;"
          | shop - save - share - support         
          span style="font-size:25%;font-weight:700;"  TM

      ul.navbar-feature-links.hide-laptop
        li 
          / = link_to "Deals", deals_path
        li 
          / = link_to "Products", products_path

    .navbar-search.clearfix
      .search-field
        = form_tag(search_path, method: :get) 
          = text_field_tag "q", params[:q], placeholder: "Search Marketpad..."
          // = submit_tag i.search-icon.pointer.ion-ios-search
          = button_tag '', type:'submit', name: nil
            i.ion-ios-search
    
    .navbar-burger.right.pointer 
      svg height="40px" id="burger" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="35px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        g
          path#bg-top d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z" 
          path#bg-mid d="M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z" 
          path#bg-bot d="M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"
    
    ul.navbar-user-links.right.hide-small-tablet
      - if defined?(Devise)
        - if user_signed_in?
          / = link_to content_tag("li",content_tag('i','',class: 'ion-ios-gear')), account_path
          = link_to content_tag("li","Logout"), logout_path, method: :delete
          - if !customer? && current_user.profile.present?        
            = link_to content_tag("li",'Profile'), show_account_path(current_user.profile.profile_type, current_user.profile.slug)        
        - else
          = link_to content_tag("li","Login"), login_path
          = link_to content_tag("li","Join"), join_path
  
  ul.quick-navbar.clearfix
    =link_to deals_path
      li.quick-navbar-first GIFT CARDS / DEALS
    / =link_to content_tag('li','DEALS'), deals_path

    =link_to carts_path, class: 'hide-phone'
      li.quick-navbar-cart.has-items
        i.ion-android-cart
        - if cart_items_size > 0
          .cart-item-count
            p.small = cart_items_size
    =link_to favorite_discounts_path, class: 'hide-phone'
      li.quick-navbar-heart
        i.ion-ios-heart

    =link_to content_tag('li','GROUPS'), organizations_path
    - if defined?(Devise)
      - if user_signed_in?
        =link_to content_tag('li','REDEEM'), my_purchase_path
      - else
        =link_to content_tag('li','PRODUCTS'), products_path
  
  .locator-navbar.pointer.clearfix
    == render 'components/breadcrumbs'
    .locator-btn.modalTrigger
      i.small.ion-ios-arrow-right
      p.small= get_user_location_from_session

  .hide-tablet
    = render 'components/category-filters' if @show_categories

= render 'components/fullnav'

// SCROLL TO TOP BUTTON
/ #scrollTop.btn.bx-shadow-2
/   i.ion-ios-arrow-up
/   p TOP
