// UNLESS USER HAS GEOLOCATION
#location-cta.center
	h2.caps Oh No!
	h4 We can't seem to find your current location!
	p In order to browse your local deals, we need to know which deals are local to you. To do that we need to know where you're shopping from. Please enter your current location below.
	.pointer.modalTrigger
		.btn.btn-primary ENTER LOCATION
