#side-nav
  #side-nav-head.center
    = link_to root_path, class: 'navbar-logo', data: { turbolinks: false }
      svg height="40px" id="navbar-logo" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 300 300" width="40px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        g
          g
            path class="cls-1" d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
            path class="cls-1" d="M233.44,69.48C225,54,210.75,43.87,194.64,43.87c-24,0-43.78,22.49-46.65,51.56a72.9,72.9,0,0,0-.37,7.35c0,32.54,21.05,58.91,47,58.91s47-26.37,47-58.91A69.35,69.35,0,0,0,233.44,69.48Zm-38.8,90.43c-20.37,0-36.88-20.38-36.88-45.52a52.4,52.4,0,0,1,7.8-28c6.74-10.67,17.27-17.52,29.08-17.52a30.92,30.92,0,0,1,15.09,4c12.85,7.11,21.79,23,21.79,41.54C231.53,139.53,215,159.9,194.64,159.9Z"
            path.cls-1 d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
            path.cls-2 d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
            path.cls-3 d="M213.13,116c0,19.88-7.86,36-17.56,36S178,135.86,178,116s7.86-36,17.56-36c3.11,0,6,1.65,8.54,4.55-4,2.08-6.75,7-6.75,12.66,0,7.59,4.93,13.73,11,13.73a9.1,9.1,0,0,0,4.48-1.18C213,111.77,213.13,113.85,213.13,116Z"
          path.cls-4 d="M139.72,98.16c0,.87,0,1.73,0,2.59-20,14-34.28,32.71-37.67,56.32,11,27.46,29.3,59.39,58.16,78.93,24.58,16.65,58.75,26.26,95.39,26,0,0-53.12,4.7-98.89-23.46-27-16.59-45.67-47.25-55.6-68.3-1,45.88,19.21,97.7,65.5,126.62-2,.07-4.05.12-6.08.12A147,147,0,1,1,284.4,70.78q-9-1.35-18.5-1.91a209.78,209.78,0,0,0-21.76-.13c-8.89-22.64-27.71-38.27-49.5-38.27C164.31,30.47,139.72,60.78,139.72,98.16Z"
  ul.center
    li#sidenav-category-trigger.pointer CATEGORIES
    .sub-categories-drawer.mobile
            
      - CATEGORIES_CLASS_NAME.each do |pc|  
        / h4.center =pc
        ul.mobile-category-list.clearfix
          - get_sub_categories(pc).collect do |sc|
            = link_to params.permit(:parentCat, :catTypeID, :catName, :page).merge(parentCat: pc, catTypeID: sc[1], catName: sc[0]), class: "subcat-#{pc} all-subcat"
              li.mobile-category-list-item =sc[0]

    = link_to content_tag('li','DEALS'), deals_path
    = link_to content_tag('li','PRODUCTS'), products_path
    = link_to content_tag('li','CHARITIES'), organizations_path
    = link_to content_tag('li','BUSINESSES'), businesses_path
    - if user_signed_in? && customer?
      = link_to content_tag("li","FAVORITES"), favorite_discounts_path
      =link_to content_tag('li','CART'), carts_path
      =link_to content_tag('li','REDEEM'), my_purchase_path
    - if user_signed_in? && !customer?
      - if business? && current_user.profile.present?
        = link_to content_tag('li','MY DISCOUNTS'), discounts_path
        = link_to content_tag('li','MY ACCOUNT'), merchant_account_path
        =link_to content_tag('li','MY SALES'), my_sales_path
      = link_to content_tag("li","FAVORITES"), favorite_discounts_path
      - if current_user.profile.present? && (agency? || affiliate? || organization?)
        = link_to content_tag('li','Request Payout'), request_payout_path
      - if agency?
        = link_to content_tag('li','MY LISTINGS'), '#'
      - if affiliate?
        = link_to content_tag('li','AFFILIATIONS'), affiliations_path
      = link_to content_tag("li","Edit Profile"), profile_path
    - if user_signed_in?
      = link_to content_tag("li","Settings"), account_path
      = link_to content_tag("li","Logout"), logout_path, method: :delete
    - else
      = link_to content_tag("li","Login"), login_path
      = link_to content_tag("li","Join"), join_path


javascript:
  $('.parent-category-item').mouseenter(function(){
    pcat = $(this).html();
    $('.all-subcat').hide();
    $('.subcat-'+pcat).show();
  });
