#slide-banner
	- @slides.each do |slide|
		ul.slides
			li.slide
				.slide-banner-image style="background-image: url(#{slide.image});"
				.slide-banner-cta
					.container-narrow
						.slide-banner-headline.center 
							h2.caps = slide.headline
						.slide-banner-description.center
							p.center = slide.description
						.slide-banner-button.center
							= link_to slide.button, slide.target, class: 'btn btn-secondary'
	/ .slide-banner-nav
	/ 	span.slide-banner-nav-indicator.is-active
	/ 	span.slide-banner-nav-indicator
