.subscribe.center
	h3 Get Hot Deals in your Email!
	=form_tag subscribe_path, remote: true do
	  #response
	  = hidden_field_tag :authenticity_token, form_authenticity_token
	  =text_field_tag "subscriber[name]", nil, class: "hide-tablet", id: "subscribe-form-name", placeholder: "name", required: true
	  =email_field_tag "subscriber[email]", nil, id: "subscribe-form-email", placeholder: "email address", required: true
	  = button_tag "Subscribe", class: "btn btn-secondary caps", data: {disable_with: "Subscribing..."}