section#new-business
	.container
		.center.user-upgrade-form
			h1 Create Agency Profile
			p Please complete all sections of this form to upgrade your user account to an Agency. By doing this, you will be able to post Listings and display local Discounts on your profile page.
			= render 'users/form'