section.slide-form
  = simple_form_for(@slide) do |f|
    = f.error_notification

    .field
      = f.input :name
    .field
      = f.file_field :image
    .field
      = f.input :headline
    .field
      = f.input :description
    .field
      = f.input :button
    .field
      = f.input :style
    .field
      = f.input :target

    .actions
      = f.button :submit, class: 'btn-primary', data: {disable_with: 'Submitting...'}
