#slides-index
  section
    .container
      div.clearfix
        h1.left Banner Slides
        = link_to 'New Slide', new_slide_path, class: 'right btn-secondary-ghost'

      ul
        - @slides.each do |slide|
          li.slide-example 
            = image_tag slide.image.url(:medium)
            h2 = slide.name
            h3 = slide.headline
            p = slide.description
            .btn-secondary = slide.button
            p
              | Style #
              = slide.style
            p
              | Target URL 
              = slide.target
            div
              = link_to 'Show', slide
              = link_to 'Edit', edit_slide_path(slide)
              = link_to 'Destroy', slide, data: { confirm: 'Are you sure?' }, method: :delete


