p#notice = notice

p
  strong Name:
  = @slide.name
p
  strong Image:
  = @slide.image
p
  strong Headline:
  = @slide.headline
p
  strong Description:
  = @slide.description
p
  strong Button:
  = @slide.button
p
  strong Style:
  = @slide.style
p
  strong Target:
  = @slide.target

= link_to 'Edit', edit_slide_path(@slide)
'|
= link_to 'Back', slides_path
