section#edit-user-account
  .container
    .user-edit-form
      = form_for(resource, as: resource_name, url: account_path, html: { method: :put }) do |f|
        .center
          h1 
            | Edit
            |  Account
          = devise_error_messages!
        .field
          = f.label :first_name
          br
          = f.text_field :first_name, autofocus: true
        .field
          = f.label :last_name
          br
          = f.text_field :last_name
        .field
          = f.label :email
          br
          = f.email_field :email, readonly: true
        - if affiliate?
          .field
            = f.label :affiliate_code
            br
            = f.text_field :affiliate_code, disabled: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          h4 Currently waiting confirmation for: = resource.unconfirmed_email
        .field
          .left
            = f.label :password
          - if @minimum_password_length
            em.small.form-help
              |    (leave blank unless changing password)
          br
          = f.password_field :password, autocomplete: "off"
        .field
          .left
            = f.label :password_confirmation
          - if @minimum_password_length
            em.small.form-help
              |    (
              = @minimum_password_length 
              |  characters minimum)

          br
          = f.password_field :password_confirmation, autocomplete: "off"
        
        - if customer?
          .field
            .left
              = f.label 'Upgrade Account Type'
            em.small.form-help 
              = link_to "Which account type should I choose?", '#'
            br
            .styled-select
              = f.select :user_type, options_for_select(User::USER_TYPES, selected: resource.user_type), prompt: "> Please select account type"
        .actions
          = f.submit "Update Account", class: 'btn btn-primary-ghost', data: {disable_with: "Updating..."}