#devise-registration
  #devise-registration-form  
    = link_to content_tag('i','',class:'ion-ios-arrow-thin-left'), root_path, class: 'signup-exit', data: { turbolinks: false }
    = simple_form_for(resource, as: resource_name, url: join_path) do |f|
      h1.center Join MarketPad
      h4.center Register for a FREE account now!
      = devise_error_messages!
      .field
        = f.label :first_name
        br
        = f.text_field :first_name, autofocus: true
        .field
        = f.label :last_name
        br
        = f.text_field :last_name
      .field
        = f.label :email
        br
        = f.email_field :email
      .field
        .left
          = f.label :password
        - if @minimum_password_length
          em.small.form-help 
            |   (
            = @minimum_password_length
            |  characters minimum)
        br
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        br
        = f.password_field :password_confirmation, autocomplete: "off"
      .field
        .left
          = f.label 'Account Type'
        em.small.pointer.form-help#account-type-help 
          p Which account should I choose?
        br
        .form-helper-tip
          h4.center USER TYPES:
          ul.circle-list.indent-2-list
            li <strong>Customer:</strong> I'm just here Shopping for Deals!
            li <strong>Business:</strong> I have a Business with Deals to Sell!
            li <strong>Organization:</strong> My Charity or Club needs to Raise Money!
            li <strong>Agency:</strong> I want to List Homes/Cars for sale in my local community!
            li <strong>Affiliate:</strong> I'm here to make money Promoting Deals and Businesses!
        .styled-select
          = f.select :user_type, options_for_select(User::USER_TYPES), prompt: "> Please select account type"
      .actions
        = f.submit "Join Now", class: 'btn btn-primary-ghost', data: {disable_with: "Joining..."}
    hr
    .social-signup
      .center 
        = link_to user_facebook_omniauth_authorize_path, class: 'btn-login-facebook clearfix'
          .center
            i.ion-social-facebook
            p Connect
        = link_to user_google_oauth2_omniauth_authorize_path, class: 'btn-login-google clearfix'
          .center
            i.ion-social-google
            p Connect
    hr
    .center 
      p.small Already a Member?
      = render "devise/shared/links"
