/* --- MIXINS --- */

@import 'colors';
@import 'typography';
@import 'susy';
@import 'devices';


/* --- BUTTON STYLES --- */

button {
	background:none; 
	border:none;
}

.btn {
	@extend button;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 3px;
	font-size: 110%;
	font-weight: 500;
	// margin: 2px;
	cursor: pointer;
	-webkit-transition: background-color 0.4s, font-size 0.3s, color 0.4s, border 0.3s, box-shadow 0.3s;
	   -moz-transition: background-color 0.4s, font-size 0.3s, color 0.4s, border 0.3s, box-shadow 0.3s;
		-ms-transition: background-color 0.4s, font-size 0.3s, color 0.4s, border 0.3s, box-shadow 0.3s;
		 -o-transition: background-color 0.4s, font-size 0.3s, color 0.4s, border 0.3s, box-shadow 0.3s;
			transition: background-color 0.4s, font-size 0.3s, color 0.4s, border 0.3s, box-shadow 0.3s;
	&:hover {
		// margin: 1px;
		// padding: 16px 31px;
		// box-shadow: 0 3px 4px 0 $shadow;
		color: $secondary;
	}
}
a.btn,
a.btn:link,
a.btn:visited {	
	color: $white;
	-webkit-transition: color 0.3s;
	   -moz-transition: color 0.3s;
	    -ms-transition: color 0.3s;
	     -o-transition: color 0.3s;
	        transition: color 0.3s;
	&:hover {
		color: $white;
	}
}
a.btn-primary-ghost,
a.btn-primary-ghost:link,
a.btn-primary-ghost:visited {	
	color: $primary;
	-webkit-transition: color 0.3s;
	   -moz-transition: color 0.3s;
	    -ms-transition: color 0.3s;
	     -o-transition: color 0.3s;
	        transition: color 0.3s;
	&:hover {
		color: $white;
	}
}
a.btn-secondary-ghost,
a.btn-secondary-ghost:link,
a.btn-secondary-ghost:visited {	
	color: $secondary;
	-webkit-transition: color 0.3s;
	   -moz-transition: color 0.3s;
	    -ms-transition: color 0.3s;
	     -o-transition: color 0.3s;
	        transition: color 0.3s;
	&:hover {
		color: $white;
	}
}
.btn-primary {
	@extend .btn;
	background-color: $primary;
	color: $white;
	a {
		color: $white;		
	}
	&:hover {
		background-color: $primary-light;
		color: $white;
	}
}
.btn-secondary {
	@extend .btn;
	background-color: $secondary;
	color: $white;
	&:hover {
		color: $white;
		background-color: $secondary-light;
	}
}
.btn-primary-ghost {
	@extend .btn;
	border: 1px solid $primary;
	color: $primary;
	&:hover {
		background-color: $primary;
		color: $white;
	}
}
.btn-secondary-ghost {
	@extend .btn;
	border: 1px solid $secondary;
	color: $secondary;
	&:hover {
		background-color: $secondary;
		color: $white;
	}
}