/* -------------- */
/* --- MIXINS --- */
/* -------------- */

@import 'susy';
@import 'colors';
@import 'typography';
@import 'tables';
/* ----------------------- */
/* --- SUSY GRID SETUP --- */
/* ----------------------- */

$susy: (
	columns: 12,  // The number of columns in your grid
	gutters: 0.25,
	// debug: (image:show),
	global-box-sizing: border-sizing,
	clearfix: true
);

/* -------------------- */
/* --- DOM ELEMENTS --- */
/* -------------------- */

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	background: $off-white;
}
section {
	padding-top: 30px;
	padding-bottom: 30px;
	&:first-of-type {
		padding-top: 80px;
	}
}
div {}
img {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
hr {
	border-color: rgba(0,0,0,0.1);
	margin: 0 3%;
}
a,
a:link,
a:visited {
	font-size: 100%;
	font-weight: 500;
	text-decoration: none;
	color: $link-color; 
	&:hover { 
		color: $link-light;
	}
}
ul, ol {
	padding: 0;
	li {
		list-style-type: none;
		a {
			text-decoration: none;
		}
	}
	&.disc-list {
		li {
			list-style-type: disc;
			margin-bottom: 5px;
		}
	}
	&.circle-list {
		li {
			list-style-type: circle;
			margin-bottom: 5px;
		}
	}
	&.indent-list {
		padding-left: 30px;
	}
	&.indent-2-list {
		padding-left: 45px;
	}
}

/* ---------------------- */
/* --- CUSTOM CLASSES --- */
/* ---------------------- */

#stage {
    padding-top: 60px;
}
#main-content {
	@include container();	
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}
#flashes {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999;
}
#yield {
	
}
.fullscreen {
	position: relative;
	width: 100% !important;
	height: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
.container {
	padding: 0 1%;
	width: 98%;
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
}
.container-narrow {
	padding: 0 2%;
	width: 96%;
	max-width: 1120px;
	height: auto;
	margin: 0 auto;
}
.mid-float {
	position: absolute;
	width: 90%;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.pointer {
	cursor: pointer;
}
.rounded-1 {
	border-radius: 10px;
}
.rounded-2 {
	border-radius: 20px;
}
.rounded-3 {
	border-radius: 30px;
}

/* ---------------- */
/* --- CLEARFIX --- */
/* ---------------- */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

