/* --------------------- */
/* --- DEVICE WIDTHS --- */
/* --------------------- */

$small-phone-width: 320px;
$phone-width: 480px;
$small-tablet-width: 640px;
$tablet-width: 780px;
$laptop-width: 960px;
$desktop-width: 1280px;
$large-screen-width: 1920px;

/* -------------------------- */
/* --- MEDIA QUERY MIXINS --- */
/* -------------------------- */

@mixin small-phone {
  @media (max-width: #{$small-phone-width - 1px}) {
    @content;
  }
}
@mixin phone {
  @media (min-width: #{$small-phone-width}) and (max-width: #{$phone-width - 1px}) {
    @content;
  }
}
@mixin small-tablet {
  @media (min-width: #{$phone-width}) and (max-width: #{$small-tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$small-tablet-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin large-screen {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* -------------------------------------- */
/* --- REPSONSIVE HIDE & SHOW CLASSES --- */
/* -------------------------------------- */

/* ------------------- */
/* --- SMALL-PHONE --- */
/* ------------------- */

.hide-small-phone {
  @include small-phone {
    display: none;
  }
}
.show-small-phone {
  @include small-phone {
    display: block;
  }   
  @include phone {
    display: none;
  }   
  @include small-tablet {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include laptop {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include large-screen {
    display: none;
  }
}

/* ------------- */
/* --- PHONE --- */
/* ------------- */

.hide-phone {
  @include small-phone {
    display: none;
  }
  @include phone {
    display: none;
  }
}
.show-phone {
  @include small-phone {
    display: block;
  }   
  @include phone {
    display: block;
  }   
  @include small-tablet {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include laptop {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include large-screen {
    display: none;
  }
}

/* -------------------- */
/* --- SMALL-TABLET --- */
/* -------------------- */

.hide-small-tablet {
  @include small-phone {
    display: none;
  }
  @include phone {
    display: none;
  }
  @include small-tablet {
    display: none;
  }
}
.show-small-tablet {
  @include small-phone {
    display: block;
  }   
  @include phone {
    display: block;
  }   
  @include small-tablet {
    display: block;
  }
  @include tablet {
    display: none;
  }
  @include laptop {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include large-screen {
    display: none;
  }
}

/* -------------- */
/* --- TABLET --- */
/* -------------- */

.hide-tablet {
  @include small-phone {
    display: none;
  }
  @include phone {
    display: none;
  }
  @include small-tablet {
    display: none;
  }
  @include tablet {
    display: none;
  }
}
.show-tablet {
  @include small-phone {
    display: block;
  }   
  @include phone {
    display: block;
  }   
  @include small-tablet {
    display: block;
  }
  @include tablet {
    display: block;
  }
  @include laptop {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include large-screen {
    display: none;
  }
}

/* -------------- */
/* --- LAPTOP --- */
/* -------------- */

.hide-laptop {
  @include small-phone {
    display: none;
  }
  @include phone {
    display: none;
  }
  @include small-tablet {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include laptop {
    display: none;
  }
}
.show-laptop {
  @include small-phone {
    display: block;
  }   
  @include phone {
    display: block;
  }   
  @include small-tablet {
    display: block;
  }
  @include tablet {
    display: block;
  }
  @include laptop {
    display: block;
  }
  @include desktop {
    display: none;
  }
  @include large-screen {
    display: none;
  }
}

/* --------------- */
/* --- DESKTOP --- */
/* --------------- */

/* -------------------- */
/* --- LARGE-SCREEN --- */
/* -------------------- */
