/* -------------- */
/* --- MIXINS --- */
/* -------------- */

@import 'colors';
@import 'buttons';


/* ------------------- */
/* --- FORM STYLES --- */
/* ------------------- */

form {
	width: 90%;
	margin: 10px 5%;
	font-size: 110%;
	font-weight: 300;
	label {
		margin: 20px 0;
	}
	input {
		width: 94%;
		margin: 5px auto;
		padding: 10px 3%;
		font-size: 120%;
		text-align: center;
		color: $primary;
		// border: 1px solid $lt-grey;
		border: none;
		background: darken($white,5%);
		&:active,
		&:focus {
			background: $white;
		}
	}
	textarea {
		@extend input;
		height: 120px;
		font-size: 100%;
	}
	button.btn {
		width: 100%;
		padding: 24px;
		margin-top: 20px;
		text-shadow: none;
		&:hover {
			margin-top: 20px;
			padding: 24px;
			background: $primary-light;
			color: $white;
			box-shadow: 0 0 0 $shadow;
		}
	}
	select {
		margin-top: 10px;
	}
	.form-help {
		float: left;
		line-height: 100%;
		padding-left: 10px;
		margin-top: 4px;
		margin-bottom: 0;
		color: $secondary;
		a,
		a:link,
		a:visited {
			color: $secondary;
			font-weight: 300;
			&:hover {
				color: $secondary-light;
			}
		}
	}
	.styled-select {
		width: 100%;
		margin: 10px auto;
		color: $primary;
		text-align: center;
		// border: 1px solid $lt-grey;
		border: 1px solid $lt-grey;
		background: darken($white,5%);
		&:focus,
		&:active {
			background: $white;
			box-shadow: 0 1px 3px rgba(0,0,0,0.4);
		}
		select {
			background: transparent;
			width: 100%;
			margin: 0;
			padding: 5px 10px;
			text-align: center;
			line-height: 120%;
			// border: 1px solid $lt-grey;
			border: none;
			height: 40px;
			-webkit-appearance: none;
		}
	}
	.field {
		input, textarea {
			width: 98%;
		}
		.number-field {
			width: 50%;
			margin: 5px auto;
		}
	}
	.form-image {
		margin: 20px auto;
		max-width: 150px;
		max-height: 150px;
	}
	input[type=checkbox] {
		visibility: hidden;
	}
	.styled-radio {
		width: 80px;
		height: 26px;
		background: darken($white,5%);
		margin: 10px auto;

		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		position: relative;
	}

	.styled-radio:after {
		content: 'NO';
		font: 12px/26px Arial, sans-serif;
		color: $secondary;
		position: absolute;
		right: 10px;
		z-index: 0;
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(255,255,255,.15);
	}

	.styled-radio:before {
		content: 'YES';
		font: 12px/26px Arial, sans-serif;
		color: $primary;
		position: absolute;
		left: 10px;
		z-index: 0;
		font-weight: bold;
	}

	.styled-radio label {
		display: inline;
		width: 42px;
		height: 26px;
		background: $secondary;
		
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;

		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		-ms-transition: all .4s ease;
		transition: all .4s ease;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.styled-radio input[type=checkbox]:checked + label {
		left: 37px;
		background: $primary;
	}
	.check-label {
		// display: inline;
		margin: 0;
		color: $md-grey;
	}
	.multi-select {
		padding: 10px;
		width: 100%;
		font-size: 120%;
	}
	.form-helper-tip {
		padding: 30px;
		background: transparentize($white,0.1);
		border-radius: 15px;
		-webkit-box-shadow: 0 9px 15px -9px rgba(0,0,0,0.4);
				box-shadow: 0 9px 15px -9px rgba(0,0,0,0.4);
		pointer-events: none;
		width: auto;
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		transition: all 333ms ease-in-out;
		&.is-visible {
			display: block;
		}
		ul {
			li {
				margin: 30px;
			}
		}
	}
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  line-height: 110%;
}
::-moz-placeholder { /* Firefox 19+ */
  line-height: 110%;
}
:-ms-input-placeholder { /* IE 10+ */
  line-height: 110%;
}
:-moz-placeholder { /* Firefox 18- */
  line-height: 110%;
}