/* -------------- */
/* --- MIXINS --- */
/* -------------- */

@import 'colors';


/* ----------------------------------- */
/* --- SHADOW STYLE CUSTOM CLASSES --- */
/* ----------------------------------- */

.text-shadow-1 {
	text-shadow: 0 1px 2px $shadow;
}
.text-shadow-2 {
	text-shadow: 0 2px 2px $shadow;
}
.text-shadow-3 {
	text-shadow: 0 3px 3px $shadow;
}
.text-shadow-4 {
	text-shadow: 0 4px 5px $shadow;
}
.box-shadow-1 {
	box-shadow: 0 1px 2px 0 $shadow;
}
.box-shadow-2 {
	box-shadow: 0 2px 4px 0 $shadow;
}
.box-shadow-3 {
	box-shadow: 0 3px 6px 0 $shadow;
}
.box-shadow-4 {
	box-shadow: 0 4px 7px 1px $shadow;
}
