@import 'colors';

table { 
	width: 100%; 
	vertical-align: middle;
	thead {
		tr {border-bottom: 1px solid $md-grey;}
		th {
			text-align: center;
			padding: 10px;
			margin: 0;
			background: none;
			font-size: 80%;
			font-weight: 300;
		}
	}
	td {
		text-align: center;
		padding: 15px;
		margin: 0;
		vertical-align: middle;
		img {
			width: 30px;
			height: 30px;
			padding: 0;
			margin: 0;
			background: $secondary;
		}
	}
}
