/* ------------- */
/* --- FONTS --- */
/* ------------- */

@import url('//fonts.googleapis.com/css?family=Open+Sans:300,500,700');

/* -------------- */
/* --- MIXINS --- */
/* -------------- */

@import 'colors';
@import 'devices';


/* ------------------------- */
/* --- TYPOGRAPHY STYLES --- */
/* ------------------------- */

html,body {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-size: 100%;
	font-weight: 500;
	line-height: 100%;
	-webkit-font-smoothing: antialiased;
}
h1 {
	margin: 0;
	padding: 5px 0;
	font-size: 240%;
	font-weight: 500;
	// line-height: 100%;
}
h2 {
	margin: 0;
	padding: 5px 0;
	font-weight: 500;	
}
h3 {
	margin: 0;
	padding: 4px 0;
	font-weight: 300;
}
h4 {
	margin: 0;
	padding: 3px 0;
	font-weight: 300;
}
h5 {
	margin: 0;
	padding: 1px 0;
	font-weight: 300;
}
p {
	margin: 5px 0;
	padding: 0;
	font-weight: 500;
	line-height: 130%;
	@include phone {
		padding-left: 8px;
		font-size: 120%;
		line-height: 135%;
	}
}
h1,h2,h3,h4,h5,h6 {
	line-height: 110%;
	@include phone {
		padding-left: 8px;
	}	
}
.mid-float, footer {
	h1,h2,h3,h4,h5,h6,p {
		padding-left: 0;
	}
}
em {}
strong {
	font-weight: 900;
}
i {
	font-size: 240%;
	padding: 5px;
}

/* --------------------------------- */
/* --- CUSTOM TYPOGRAPHY CLASSES --- */
/* --------------------------------- */

.caps {
	text-transform: uppercase;
}
.small {
	font-size: 60%;
}
.big {
	font-size: 240%;
}
.strong {
	font-weight: 700;
}
.weak {
	font-weight: 300;
}
.mid-float, footer {
	h1,h2,h3,h4,h5,h6,p {
		padding-left: 0;
	}
}

