#redeem-index
	section.redeem-info
		.container-narrow
			h4.center Reedem My Deals
			p.center To redeem the deals you've purchased. Show this screen to business at point of purchase and click the Redeem button
	section.container
			table.deal-redeem-table
				thead
					tr
						th Image
						th Name
						th ID
						th MSRP
						th Paid
						th Redeem
				tbody.deal-redeem-list
					tr.deal-redeem-item
						td deal.image
						td deal.name
						td deal.unique_id
						td deal.price
						td deal.discounted_price
						td 
							.btn-primary
								| Redeem
