<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Hi <%= @user.email.split("@")[0] %>,</p>

<p>
  Thank you for your order with MarketPad
</p>

<p><b>Order Number: </b> <%= @cart.purchase_number %></p>
<p><b>Date Placed: </b> <%= @cart.completed_at.strftime("%b, %d %Y") %></p>
<p><b>Order Status: </b> <span style="color:green;">Success</span></p>
</br></br>

<p><b>Order Items:-</b></p>
<table border="1">
	<thead>
	  <tr>
	    <td><b>Name</b></td>
	    <td><b>Type</b></td>
	    <td><b>Merchant</b></td> 
	    <td><b>Seller</b></td>
	    <td><b>Price</b></td>
	  </tr>
	</thead>
	<tbody>
	  <% @purchased_items.each do |item| %>
		  <tr>
		    <td><%= item.discount.name %></td>
		    <td><%= item.discount.discount_type %></td>
		    <td><%= item.business.name %></td> 
		    <td><%= item.seller_name %></td>
		    <td><%= number_to_currency(item.total_price) %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

</br></br>
<p><b>Order Total:-</b></p>

<table border="1">
	<thead>
	  <tr>
	    <td><b>Sub Total</b></td>
	    <td><b>Shipping</b></td> 
	    <td><b>Taxes</b></td>
	    <td><b>Total</b></td>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td><%= number_to_currency(@cart.sub_total) %></td>
	    <td><%= number_to_currency(@cart.shipping) %></td> 
	    <td><%= number_to_currency(@cart.taxes) %></td>
	    <td><%= number_to_currency(@cart.total_price) %></td>
	  </tr>
	</tbody>
</table>

</br>
<p>
  Thanks again for your order.
</p>
<p>
  MarketPad Staff
</p>

</body>
</html>