<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Hi <%= @business_name %>,</p>

<p>
  Weekly Sales Infomation:-
</p>

<p><b>Items List:-</b></p>
<table border="1">
	<thead>
	  <tr>
	  	<td>S.No</td>
	  	<td><b>Order Number</b></td>
	  	<td><b>Order Date</b></td>
	  	<td><b>Customer</b></td>
	    <td><b>Name</b></td>
	    <td><b>Type</b></td>
	    <td><b>Price</b></td>
	  </tr>
	</thead>
	<tbody>
	  <% @items.each_with_index do |item, index| %>
		  <tr>
		  	<td><%= index + 1 %></td>
		  	<td><%= item[0] %></td>
		  	<td><%= item[1] %></td>
		  	<td><%= item[2] %></td>
		    <td><%= item[4] %></td>
		    <td><%= item[5] %></td>
		    <td><%= number_to_currency(item[9]) %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

</br></br>
<p><b>Total Amount:-</b></p>

<table border="1">
	<thead>
	  <tr>
	    <td><b>Sub Total</b></td>
	    <td><b>Shipping</b></td> 
	    <td><b>Taxes</b></td>
	    <td><b>Total Sale</b></td>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td><%= number_to_currency(@sub_total) %></td>
	    <td><%= number_to_currency(@shipping) %></td> 
	    <td><%= number_to_currency(@taxes) %></td>
	    <td><%= number_to_currency(@total_sale) %></td>
	  </tr>
	</tbody>
</table>


</br></br></br>
<p>
  Thank You,
</p>
<p>
  MarketPad Staff
</p>

</body>
</html>