<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Hi <%= @items.first[0] %>,</p>

<p>
  Product(s) Sale Infomation
</p>

<p><b>Order Number: </b> <%= @cart.purchase_number %></p>
<p><b>Date Placed: </b> <%= @cart.completed_at.strftime("%b, %d %Y") %></p>
<p><b>Order Status: </b> <span style="color:green;">Completed</span></p>
</br></br>

<p><b>Order Items:-</b></p>
<table border="1">
	<thead>
	  <tr>
	    <td><b>Name</b></td>
	    <td><b>Type</b></td>
	    <td><b>Price</b></td>
	  </tr>
	</thead>
	<tbody>
	  <% @items.each do |item| %>
		  <tr>
		    <td><%= item[1] %></td>
		    <td><%= item[2] %></td>
		    <td><%= number_to_currency(item[6]) %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

</br></br>
<p><b>Product Total Amount:-</b></p>

<table border="1">
	<thead>
	  <tr>
	    <td><b>Sub Total</b></td>
	    <td><b>Shipping</b></td> 
	    <td><b>Taxes</b></td>
	    <td><b>Total</b></td>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td><%= number_to_currency(@sub_total) %></td>
	    <td><%= number_to_currency(@shipping) %></td> 
	    <td><%= number_to_currency(@taxes) %></td>
	    <td><%= number_to_currency(@total_price) %></td>
	  </tr>
	</tbody>
</table>

</br></br>
<p><b>Shipping Address:</b></p>

<table >
	<thead>
	  <tr>
	    <td></td>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td><%= @shipping_address.full_name %></td>
	  </tr>
	  <tr>
	    <td><%= @shipping_address.street_1 %></td>
		</tr>
		<tr>
			<td><%= @shipping_address.street_2 %></td>
		</tr>
		<tr>
			<td><%= @shipping_address.address %></td>
		</tr>
		<tr>
		  <td><b>Contact Number: </b><%= @shipping_address.phone_number %></td>
	  </tr>
	</tbody>
</table>


</br></br></br>
<p>
  Thank You,
</p>
<p>
  MarketPad Staff
</p>

</body>
</html>