<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Hi Team,</p>

<p>
 New Payout Request has come with below details:-
</p>

<p><b>Requester Type:</b> <%= @profile.profile_type.titleize %></p>
<p><b>Requester Name:</b> <%= @profile.name %></p>
<p><b>Requester Email:</b> <%= @profile.user.email %></p>
<p><b>Requester Address:</b> <%= @profile.address %></p>

</br></br>
<p><b>Request Payout Amount: </b><%= number_to_currency( @earnings) %>


</br></br></br>
<p>
  Thank You,
</p>
<p>
  MarketPad Staff
</p>

</body>
</html>