<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Yay!</p>

<p>
  You've received a gift from <%= @gifter_name %> on MarketPad!
</p>
<p>
	To redeem your gift, please visit the following link:  <%= link_to "Accept Gift", accept_deal_gift_url(giftID: @purchase_no) %>
</p>
<p>
	If you already have a MarketPad account, simply login to receive your gift. If not, just fill our the registration form and your gift will be automatically added to your new account. 
</p>

<p>
  Thank You,</p>
<p>
  MarketPad Staff
</p>

</body>
</html>