<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
	Hi <%= @user.full_name %>,</p>

<p>
	Welcome To MarketPad
</p>
</br>
<p>
	Welcome to our newly redesigned website!  As part of our commitment to our customers to make local business and products much more accessible to our customers, we have created a more navigable website with additional resources, better tools, and a new visual design.
</p>
<p>
	All to support;
</p>
<ul>
	<li>• Local business,</li>
	<li>• Clubs,</li>
	<li>• Schools,</li>
	<li>• Churches</li>
	<li>• and Organizations</li>
</ul>
<p>
	This site offers not only a new look, but a lot of great features we hope you will find useful. We’d like to take a few minutes to highlight some of those features.
</p>
<ul>
	<li>• Easier way to find New Deals,</li>
	<li>• Easier way to find Hottest Deals,</li>
	<li>• Easier way to find those deals you LOVE the most</li>
	<li>• Easier way to redeem purchase through you Mobil devises.</li>
</ul>
<p>
	We have also made it easier for users to find;
</p>
<ul>
	<li>• All Local Charities</li>
	<li>• All local businesses from 50 miles to worldwide..</li>
	<li>• All worldwide product for sale</li>
</ul>
<p>
	Users will find all the Local Charities that offer deals from their local businesses in their communities, as well as products that can be purchased and shipped to them and all the Local Business that are within 100 miles of you, or the distance you have personally set.
</p>

<p>
	For those visiting our website on mobile devices, the new site offers a responsive design.  The site will automatically adjust itself to fit whatever screen size you may be using such as a tablet or smart phone.
</p>
<p>
	We hope you enjoy the new site and find it to be a great resource for your business or for you personally!  We hope you’ll come back and visit us over and over and over again.
</p>
<p>
	For those of you who are returning users from our old site, please visit the <a href="https://www.marketpad.com/welcome-back">Welcome Back</a> page for tutorials on what's new, and how to access and update your existing information. As always, don't hesitate to contact us with any questions that remain after visiting the <a href="https://www.marketpad.com/welcome-back">Welcome Back</a> and <a href="https://www.marketpad.com/faq">Frequently Asked Questions</a> pages.
</p>


<p>
	Thank You,
</p>
<p>
	MarketPad Staff
</p>

</body>
</html>