<% if object.errors.any? %>
  <p style= "width:96%;font-size:16px; color: red;">
  	The form contains <%= pluralize(object.errors.count, "error") %>.
  </p>
  </br>
  <p style= "width:96%;font-size:16px; color: red;">
    <%= formatted_error_messages(object)%>
  </p>
  </br>
<% end %>