= form_for(@profile, url: update_profile_path, html: {multipart: true, method: :post, id: "progress_form"}) do |f|
	= render partial: 'users/errors', locals: {object: @profile}
	.prog-form-steps
		.prog-form-step.prog-form-step-1.is-visible
			p Tell Us About Your #{@account_type}
			.field#business-name
			  = f.text_field :name, placeholder: "#{@account_type} name"
			.field#business-description
				= f.text_area :description, placeholder: "#{@account_type} Description"
			- if business?
			  p Affiliate Code
			- if business?
				.field#business-description
				  = f.text_field :affiliate_code, placeholder: "Affiliate Code", id: "profile_aff_code"
			p Is Your #{@account_type} Family Friendly?
			.field.styled-radio#business-family
				= f.check_box :family_friendly, id: 'styled-radio', class: 'left'
				label.check-label for="styled-radio"
			.prog-form-actions
				/ .btn-secondary-ghost.prog-form-cancel BACK
				.btn.btn-primary.prog-form-next NEXT


		.prog-form-step.prog-form-step-2
			p Where is your #{@account_type} located?
			.field#business-street
				= f.text_field :street, placeholder: "#{@account_type} Address"
			.field.styled-select
			  = f.select :country, options_for_select(Country.order(:name).pluck(:name), selected: @profile.country), prompt: "> Please select a country"
			.field.styled-select
			  = render partial: "pages/states_list"
			.field#business-city
				= f.text_field :city, placeholder: "City"
						
			.field#business-zip
			  = f.text_field :zipcode, placeholder: "Zipcode"
			.prog-form-actions
				.btn-secondary-ghost.prog-form-back BACK
				.btn.btn-primary.prog-form-next NEXT


		.prog-form-step.prog-form-step-3
			p How can customers reach you?
			.field#business-phone
			  = f.text_field :phone_number, placeholder: "Phone Number"
			.field#business-website
			  = f.text_field :website, placeholder: "http://www.YourWebsite.com"
			p Are you on social media?
			.field#business-facebook
			  = f.text_field :fb_link, placeholder: "http://www.facebook.com/your-profile"
			.field#business-twitter
			  = f.text_field :twitter_link, placeholder: "http://www.twitter.com/your-profile"
			.field#business-google
			  = f.text_field :google_link, placeholder: "http://plus.google.com/your-profile"
			.prog-form-actions
				.btn-secondary-ghost.prog-form-back BACK
				.btn.btn-primary.prog-form-next NEXT


		.prog-form-step.prog-form-step-4
			p Make sure your profile looks great!
			.field#business-profile-image
				label Profile Image
				- if @profile.image?
					.form-image
						= image_tag(@profile.image.url(:medium))
				= f.file_field :image, placeholder: "Upload Profile Image", class: 'file-field'
			.field#business-cover-image
				label Cover Image
				- if @profile.cover_image?
					.form-image
						= image_tag(@profile.cover_image.url(:medium))
				= f.file_field :cover_image, placeholder: "Upload Cover Image", class: 'file-field'
			.prog-form-actions
				.btn-secondary-ghost.prog-form-back BACK
				= link_to "SAVE", "javascript:", class: "btn btn-primary prog-form-next", id: "progress_submit_btn"

javascript:
  $(function(){

    $('#profile_country').change(function(){

        country_name = $(this).val();
        profile_id = '#{@profile.try(:id)}'
	    $.ajax({
	      type: 'POST',
	      url: "/pages/load_states",
	      data: {country_name: country_name, profile_id: profile_id}
	    })
	});

  });