#redeem-index
	section.redeem-info
		.container-narrow
			h3.center My Gift
	section.container
			table.deal-redeem-table
				thead
					tr
						th Image
						th Name
						th Gifter Name
						th Merchant
						th Gift Date
						th Sales Purchase No.
						th 
				tbody.deal-redeem-list
					tr.deal-redeem-item
						td =image_tag @item.discount.image_url(:medium), class: "cart-discount-image"
						td=@item.discount.name
						td=@item.gifter_name
						td=@item.business.name
						td=@item.gift_time.strftime("%b, %d %Y")
						td=@item.sales_purchase_number
						td.redeem-btn id="redeem_item_#{@item.id}"
							- if @item.redeemed?
								=link_to "Redeemed", "javascript:", style: "color:red;"
							- else
								=link_to "Redeem", mark_deal_redeem_path(@item), remote: true, method: :post, data: {confirm: "Are you sure you want to redeem this deal now? This can only be done once!"}, class: 'btn btn-primary'

