section.discounts-gallery
  .discount-category-block
    - @discounts.each do |discount|
      .discount-card.bx-shadow-2
        = link_to discount_path(discount.slug)
          .discount-card-image style="background-image:url(#{discount.image});"
        = link_to discount_path(discount.slug)
          .discount-card-info.dark
            - if discount.family_friendly?             
              i.ion-ios-people
              i.ion-checkmark-circled
            h2 = discount.name
            p = truncate(discount.description.html_safe, :length => 45)
            
        .discount-card-buy
          p.small 
            | was 
            span 
              | $
              = discount.price
          .discount-card-buy-button.btn-primary 
            | $
            = discount.discounted_price
        .discount-card-love
          = link_to discount_like_path(discount.slug), method: :post, remote: true, id: "discount_like_#{discount.id}"
            - if current_user && discount.liked?(current_user.id)
              i.ion-ios-heart
            - else
              i.ion-ios-heart-outline
              
  = will_paginate @discounts