section
	.container-narrow
		.stripe-connect-div
			h1.center Connect to Stripe 
			p.center Link Your Stripe Merchant Account with MarketPad to recieve payments instantly whenever you sell a Deal or Product!
			.stripe-connect-btn
				=link_to image_tag('stripe_connect'), stripe_connect_path

section
	.container-narrow
		table#cart-items-list
			thead.table-head
				tr.cart-header
					th Stripe Publishable Key
					th Access Token
					th Active
					th Stripe User ID
					th Live Account
			tbody.table-body 
		    - @merchant_accounts.each do |account|
					tr.cart-item
						td= account.stripe_publishable_key[0..10]
						td= account.access_token[0..10]
						td= account.active ? "Yes" : "No"
						td= account.stripe_user_id[0..10]
						td= account.livemode ? "Yes" : "No"

