#redeem-index
	section.redeem-info
		.container-narrow
			h3.center My Deals
			p.center Below are all of the Deals you've purchased on MarketPad. To Redeem your Deals, simply open this page on your phone at the time of final transaction, and allow the business owner/asssociate to press the "Redeem" button next to the Deal you want to use.
	section.container
			table.deal-redeem-table
				thead
					tr
						th Image
						th Name
						/ th Type
						th Merchant
						th Sales Purchase No.
						th Price
						th Purchase Date / Gift Date
						th Redeemed Date
						th
						th 
				tbody.deal-redeem-list
					- @items.each do |item|
						tr.deal-redeem-item
							td =image_tag item.discount.image_url(:medium), class: "cart-discount-image"
							td=item.discount.name
							/ td=item.discount.discount_type
							td=item.business.name
							td=item.sales_purchase_number
							td=number_to_currency(item.total_price)
							td=item.cart.completed_at.strftime("%b, %d %Y")
							td=item.redeemed_time.strftime("%b, %d %Y") if item.redeemed_time.present?
							td.redeem-btn
								- if item.cart.try(:user_id) == current_user.id
									- if item.deal?
										- if item.redeemed?
										- else
										  - if item.gift
										    =link_to "Gift Sent", "javascript:", style: "color:red;"
										  - else
											  =link_to "Gift", "javascript:", class: 'btn btn-secondary gift-item', id: "gift_#{item.id}"
									.gift-modal id= "gift_modal_#{item.id}"
										i.ion-close
										=form_tag(send_deal_as_gift_path(item.id), remote: true)
											p.center Please enter the name and email of the gift recipient below.
											.field
												input type='text' placeholder="Friend's Name" required="true" name= 'giftee_name'
											.field
												input type='email' placeholder="Friend's Email" required="true" name="giftee_email"
												= button_tag "Send Gift", class: "btn btn-primary", data: {disable_with: "Sending..."}
							td.redeem-btn id="redeem_item_#{item.id}"
								- if item.deal?
									- if item.redeemed?
										=link_to "Redeemed", "javascript:", style: "color:red;"
									- else
										=link_to "Redeem", mark_deal_redeem_path(item), remote: true, method: :post, data: {confirm: "Are you sure you want to redeem this deal now? This can only be done once!"}, class: 'btn btn-primary'

				= will_paginate @items

javascript:
  $('.gift-item').click(function(){
    id = $(this).attr("id").split("_")[1];
    $('.gift-modal').hide();
    $('#gift_modal_'+id).show();
  });

  $('.ion-close').click(function(){
    $('.gift-modal').hide();
  });