section#new-business
	.container
		.center.user-upgrade-form
			.prog-form
				.prog-form-head
					.prog-form-title
						h1 Complete Your #{@account_type} Profile
						p Please fill all sections of this form.
					.prog-form-progress
						.prog-circle.is-active
							i.ion-ios-information-outline
						.prog-circle
							i.ion-ios-location-outline
						.prog-circle
							i.ion-ios-world-outline
						.prog-circle
							i.ion-ios-camera-outline
				.prog-form-body
					= render 'users/form'
					.center
						= link_to 'Abort!', root_path, data: { turbolinks: false }