section#devise-login
  #devise-login-form
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      h3.center Change your password
      = f.hidden_field :reset_password_token
      .field
        = f.password_field :password, autocomplete: "off", placeholder: "New Password"
      br
      .field
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password"
      .actions
        = f.submit "Change my password", class: 'btn btn-primary-ghost', data: {disable_with: "Submitting..."}
  .center
    = render "devise/shared/links"
