section#devise-login
  #devise-login-form
    = simple_form_for(resource, as: resource_name, url: forgot_password_path, html: { method: :post }) do |f|
      h3.center Forgot your password?
      .field
        = f.email_field :email, autofocus: true, placeholder: "Enter Email Address", required: true
      .actions
        = f.submit "Send me reset password instructions", class: 'btn btn-primary-ghost', data: {disable_with: "Sending..."}
  .center
    = render "devise/shared/links"
