#redeem-index
	section.redeem-info
		.container-narrow
			h4.center My Business Sales
	section.container
			table.deal-redeem-table
				thead
					tr
						th Image
						th Name
						th Type
						th Customer
						th Sales Purchase No.
						th Price
						th Purchase Date
						th Redeemed Date
						th 
				tbody.deal-redeem-list
				  - @items.each do |item|
						tr.deal-redeem-item
							td =image_tag item.discount.image_url(:medium), class: "cart-discount-image"
							td=item.discount.name
							td=item.discount.discount_type
							td=item.cart.customer.try(:email)
							td=item.sales_purchase_number
							td=number_to_currency(item.total_price)
							td=item.cart.completed_at.strftime("%b, %d %Y at %I:%M %P %Z")
							td=item.redeemed_time.strftime("%b, %d %Y") if item.redeemed_time.present?
							td id="redeem_item_#{item.id}"
							  - if item.deal?
							    - if item.redeemed?
							      =link_to "Redeemed", "javascript:", style: "color:red;"
							    - else
										.btn-primary
											=link_to "Redeem", mark_deal_redeem_path(item), remote: true, method: :post, data: {confirm: "Do you want to redeem this deal on behalf of customer?"}

				= will_paginate @items