section#new-business
	.container
		.center.user-upgrade-form
			h1 Create Business Profile
			p Please complete all sections of this form to upgrade your User account to an Agency. By doing this, you will be able to create and sell Discounts.
			= render 'users/form'