<% unless location_remembered? %>
  <script>
    $(function() {
      getLocation();

    });

    function getLocation() {
      if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(showPosition, showError);
      } else { 
      	//Geolocation is not supported by this browser.
        openLocationModal();
      }
    }

    function showPosition(position) {
      lat = position.coords.latitude;
      lon = position.coords.longitude;
      //send ajax request to server and stroe in Session
      $.ajax({
        type: 'POST',
        url: "/pages/save_location",
        data: {'lat': lat, 'lon': lon}
      });

    }

    function showError(error) {
      switch(error.code) {
        case error.PERMISSION_DENIED:
          //User denied the request for Geolocation
          //openLocationModal();
          break;
        case error.POSITION_UNAVAILABLE:
          //Location information is unavailable
          //openLocationModal();
          break;
        case error.TIMEOUT:
          //The request to get user location timed out
          //openLocationModal();
          break;
        case error.UNKNOWN_ERROR:
          //An unknown error occurred
          //openLocationModal();
          break;
      }
    }

    ///If user location not found / denied / not supported by Browser / or any error occured then opne Location Modal
    function openLocationModal(){
      var $btn = $('.modalTrigger'),
        $modal = $('.modal-wrap'),
        $bg = $('.modal-bg'),
        $content = $('.modal-frame');

      if ($modal.hasClass('modal-open')) {
        console.log('Close Modal');
        $content.addClass('modal-out');
        $bg.addClass('modal-out');
        $content.removeClass('modal-in');
        $bg.removeClass('modal-in');
        setTimeout(function(){
          $modal.removeClass('modal-open');
        }, 600);
      // Animate Modal In
      } else {
        console.log('Open Modal');
        $content.addClass('modal-in');
        $bg.addClass('modal-in');
        $modal.addClass('modal-open');
        setTimeout(function(){
          $content.addClass('modal-in');
          $bg.addClass('modal-in');
        }, 600);
      }
    }
  </script>
<% end %>