#about-page.static-page
	section.primary.dark
		.container-narrow
			h1.center.dark About MarketPad
	
	section
		.container-narrow
			.center
				iframe width="560" height="315" src="https://www.youtube.com/embed/Qu-DGuDdDQw?list=PLC0KhCWX6ePrA4b13OFbOdLqN-wE3Bbth?ecver=1" frameborder="0"

	section.white
		.container-narrow
			h2 Search local. Shop global.
			p MarketPad is a powerful marketing system designed to be the EPICENTER of marketing.  MarketPad brings everyone...buyers, sellers, clubs, school programs, and charities together on the same playing field, and gives each of them a win.
			p Any club, charity, church, individual, business or company will benefit from MarketPad while using the geometric growth, referral power and tools of social networking.
			p With MarketPad - listings are simple and users can opt to see only local listings, national listings, or both  and easily share your listings on social networks and other marketplace websites. At MarketPad, we want to drive transactions not inhibit - thus we embrace an ‘open’ policy to facilitate your listings being easily shared. After-all, the more people that view your listings the better your sales opportunities. Better marketing plus better user experience equals sales.
			p MarketPad unifies buyers and sellers by funding Charities and Causes; and all the while rewarding the local businesses who support the charity with a growing network of new customer relationships. Best of all, every time something sells, there is revenue to support the cause. 
			p Charities and Clubs already have networks of loyal members who want to assist their cause. With MarketPad, they support their cause by become long-term customers...all while enjoying great prices on products and services. Members support the cause by referring; passing the word and forwarding sellers offers via text, email, and social media to their networks!
			p Like many of the e-commerce providers before us, MarketPad.com has built an internet marketplace site … but MarketPad has built the foundation for so much more. Our vision was to ‘raise the bar’ and build the one-stop marketplace that facilitates both business-to-consumer and consumer-to-consumer transactions with a broad and robust platform of easy-to-use solutions that encourages small and medium size businesses to have an on-line marketing and sales presence.


	section
		.container-narrow
			h2 Our Consumer-to-Consumer Approach
			p MarketPad makes it easy to do business and enjoy the benefits. MarketPad charges No UPFRONT COSTS to anyone, and just charges a transaction fee at the time of a sale, which means all customers are Pre-paid Customers. Whenever a sale occurs, a portion of the transaction fee is automatically deposited directly into the bank account of the seller and the Charity! 
			p MarketPad takes away all the usual fundraising pain and makes it EASY for businesses to jump in and support a Cause. Anyone selling a product or service is given a FREE, unlimited mobilized storefront with a merchant account ready to accept debit and credit cards. Sellers can load their store with unlimited products. They can use our easy online tools with forms, fliers, coupons, classifieds, video and photos to make offers and deals visible to HUNDREDS of local networks, as well as all networks worldwide! 
			p MarketPad autofill’s the deals and special offers from each seller's storefront and pushes them out to the local networks FULL of people supporting their Cause! Buyers see local deals sent out to them on text, email, and social media and can redeem them right on their smartphone.


	section.white
		.container-narrow
			h2 History
			p In 2010, Dave Spiker - our visionary and founder - was frustrated with the tools to effectively market, promote and sell his businesses services and products. Why did it take so much time and so many different applications to manage inventory, communicate his value proposition, promote his product and services, and offer a deal to attract new customers? And, why weren’t the applications on a single easy-to-use platform? With the excessive time spent managing his businesses - when would he actually pound nails, meet with sub-contractors, list homes, show homes and all the other necessary things to run his myriad of businesses and community involvement?
			p A die-heart entrepreneur, problem solver and rugged outdoorsman, Dave “loves to find, create, and tweak solid business models to meet the ever changing challenges of today.” So, Dave being Dave, he put his tenacity, brain and grit to work determined to figure out a better way. And, along the way, he recruited an incredible team that embraced his vision, and then some.
			p After working the problems for a while, the MarketPad team settled on the idea of creating a one-stop shop where both businesses and consumers could buy and sell. Initially, not all that novel! But – wait. What if he coupled that with a business directory, expansive store fronts showcasing products and services, classifieds that effectively marketed with unlimited photos and video, local listings that can pop first, a low cost deal model with immediate payment, real time inventory management and more? Definitely, sounding better! But - wait. What if all this was simple and not much of a learning curve for all the businesses without an on-line store front and e-commerce presence or the neighbor wanting to unload his old lawnmower or snow blower? Whoa, this might rock! But – wait, there’s more. What if MarketPad was accessible on any desktop and mobile device? What if modern application design was utilized making for a great user experience? What if customers had the confidence their purchase was secure? YES – we’ve got liftoff!
			p Fast track to spring of 2014 and we’re launching. We’re MarketPad.com and we’ve delivered this experience for other small businesses and consumers. Now in 2017, MarketPad is even better for businesses and the consumer, in fact, we have just finished a complete over haul on our web site so your business growth will accelerate with our even easier-to-use business building e-commerce platform that we will keep improving on every day and ‘Be the Pad’ where sellers and buyers come together to search local – shop global.


	section
		.container-narrow
			h2 Our Values
			ul
				li 
					h4 Family Friendly 
					p We embrace family friendly values to guide our business decisions, and content policies.

				li 
					h4 Integrity 
					p We are honest and dedicated to doing right and doing things right.

				li 
					h4 Teamwork 
					p We are a collection of individuals who trust, respect and leverage each other’s experience and skills to succeed as a team. Our team values extend to include the small businesses and consumers that endorse and support our solutions.

				li 
					h4 Innovation 
					p Great industry pioneers have come before us. We embrace the breakthroughs that many others have achieved and aspire to earn the title of Pioneers and Innovators ourselves.

				li 
					h4 Common Sense 
					p This may define us as we seek to balance common sense with innovation in our quest to keep MarketPad simple and easy-to-use. Hard and complex does not necessarily mean more functionality but does mean less utilization. We’ll vote for more utilization all day every day.

				li 
					h4 Grit 
					p Did we say that Dave, our founder and CEO, has grit? So therefore goes the MarketPad team! Solving pervasive problems and making complex answers seem simple takes grit and perseverance but we will succeed.

				li 
					h4 Wisdom 
					p Our wisdom is the sum of our team. We leverage our collective experiences, knowledge, successes, failures, and understanding to gain clarity on the best strategy for our solutions, the businesses and consumers who count on them, our company and each other.

				li 
					h4 Fearlessness 
					p We believe in our vision and the impact it can have on businesses and consumers alike. We’re not afraid of the risks, hard work and conflicts that come from ‘figuring out the better way’.

			section
				.center
					= link_to 'REGISTER FREE TODAY!', join_path, class: 'btn-primary'
