#autism-page
	section.primary.dark
		.container-narrow
			h1.center.dark MarketPad Supports Autism
	section.white
		.container-narrow
			h2 How Does MarketPad Support Autism?
			p MarketPad.com has only been in the wholesale manufacturing business of compression wear for little over a year. In fact, MarketPad.com has been working with a U.S. based company, who has been designing and making sports compression performance wear since 1997.
			p MarketPad.com entered the manufacturing of compression clothing for the autistics community though one of our partner’s sisters. She has a son who is experiencing severe sensory autism.  One day, on a whim, our partner decided to send a compression shirt to his sister to see if a light compression would have some effect on his nephew. What she discovered was, it had a calming effect on her son. What was discovered next was a surprise, his nephew wanted to have this shirt on all the time. The boy would pull the shirt out of the dirty laundry, the washing machine and even the dyer so he could put it on. Before this time he would take every shirt as well as his pants off. He hated the touch of pretty much all fabric.  Needless to say AWI sent his sister several more compression shirts. 
			p One day MarketPad.com decided if the compression shirts would have an effect on him what kind of an effect a one-piece compression suit would have. MarketPad.com sent the compression suit and there was the same effect!  With these results, MarketPad.com decided to manufacture several other compression items that will have an effect on the autistic person.
			p For families that have members with Autism, we want to help. We took a hard look at quality and pricing of autism products on the market today, We realized that autism is a complex neurobiological disorder that typically lasts throughout a person's lifetime. We also realize that even though there are similar traits in children who have autism, however not every child will respond to the same treatments. Depending what survey you look at, today, 1 in 85 to 1 in 150 children are diagnosed with autism, MaretPad.com felt it could help in some way with what it had discovered. MarketPad.com also realizes that autism occurs in all racial, ethnic, and social groups and is four times more likely to strike boys than girls. We have found there is a need for specialty items to combat Autism.
			p Many children are extra-sensitive to the texture and feel of clothing. Soft compression and loose fit (clothing for all) is the first line of inclusive clothing designed with the needs of all children with Autism, Sensory Processing Disorder, ADHD, Developmental Delays, and more in mind. We use a 6 needle flat stitching for extra comfort and strength, tag-less printed labels and much more. Our goal is to design clothing as well as accessories that can enhance social skills, sensory organization, and concentration, by addressing unique sensory needs, but without sacrificing personal style and self-expression.
			h3 Compression
			p Soft compression (clothing for all children) is a specialized line of clothing for children with extreme sensory sensitivity, or tactile defensiveness, associated with Autism, Asperger’s, and Sensory Processing Disorder.
			p Special educators, as well as other professionals, occupational therapists, parents, and individuals with Autism and SPD are developing the line, so that it can be tailored to meet the specific needs of sensitive dressers. 
			h3 Compression for Autism
			p Individuals suffering from many neurological sensory disgorges are typically affected with impaired motor control. Individuals suffering from neurological sensory disorders often also suffer from proprioception and pressure-sensory deficits, which prevent the reception of stimulation and result in a lack of sensory input from their environment. The lack sensory input tend to render the afflicted individual unaware of his or her environment. Ultimately, this lack of sensory input results in the lack of muscular and motor control. In a preferred embodiment, the Lycra material is a 17/83 blend of Lycra and nylon. The compression load of the product is provided by its close fitting to the body part of the wearer. In a preferred embodiment, the size of the product is about 70 to about 85% of the size of normal (loose fit) products. In the method of providing sensory input to a person suffering from neurological sensory disorder character by impaired motor control, use of the flexible compression product results in an improvement in motor control including improvements in grading, stability, balance, movement, calming, vocalization and feeding.
			p The Lycra compression product we will be offering, provides a flexible compression and stabilization that is useful in providing sensory input and body awareness to the wearer. 
			p Not only will we cater to the special needs individuals, this product will serve well in the sports performance arena. 
			p With all this consideration for the product, we feel that we can serve more than just one purpose with our products.


		section
			.center
				= link_to 'REGISTER FREE TODAY!', join_path, class: 'btn-primary'
