#business-index
	// IF USER HAS GEOLOCATION
	- if location_exists?
		section#featured-businesses.secondary
			.container
				div
					h4 Featured Local Businesses
				div
					ul#featured-profiles
						- @businesses.take(2).each do |business|
							= link_to show_account_path(business.profile_type, business.slug)
								li.featured-profile 
									.featured-profile-image style="background-image: url(#{business.cover_image}) ;"
									.featured-profile-info
										h3 = truncate(business.name, :length => 30)
										p = truncate(business.description.try(:html_safe), :length => 60)

		section#local-businesses-gallery.discounts-gallery
			.container
				h4 Local Businesses
				= will_paginate @businesses
				.discount-category-block
					ul#featured-profiles
						- @businesses.each do |business|
							li.discount-card.bx-shadow-2
								= link_to show_account_path(business.profile_type, business.slug)
									.discount-card-image style="background-image:url(#{business.image});"
								= link_to show_account_path(business.profile_type, business.slug)
									.discount-card-info.dark
										- if business.family_friendly?             
											i.ion-ios-people
											i.ion-checkmark-circled
										h2 = truncate(business.name, :length => 30)
										p = truncate(business.description.try(:html_safe), :length => 45)
								/ .discount-card-love
					            	= link_to '#'
					            		i.ion-ios-heart-outline
				= will_paginate @businesses


	// UNLESS USER HAS GEOLOCATION
	- else !location_exists?
		p &nbsp;
		section#location-cta.center
			h2.caps Oh No!
			h4 We can't seem to find your current location!
			p In order to browse your local businesses, we need to know which businesses are local to you. To do that we need to know where you're shopping from. Please enter your current location below.
			.pointer.modalTrigger
				.btn.btn-primary ENTER LOCATION

