#clubs-page
	section.primary.dark
		.container-narrow
			h1.center.dark Supporting Charities
	section.white
		.container-narrow
			h1 Clubs & Organizations
			h3 Pick A Storefront And Support A Cause Today!
			h4 Everyone and every organization has a network, and we believe each should help out the other.
			ul
				li We create online storefronts for clubs & organizations to share with their network, and a portion of every sale is donated to their club, or a charity of their choice.  
				li Why not save money on local deals and support your cause?  MarketPad offers a FREE toolbox for charities, clubs and organizations to raise money and awareness for their cause. 
				li Businesses love adding a deal to MarketPad.com because they get instant visibility.  We put their deal on EVERY storefront automatically after a deal is created.
				li Profits also stay with the businesses. Unlike other deal sites that take 50-75% of profits.  We get less than 10%.  Meaning money stays local, businesses stay profitable and charities benefit!
			h1 Fundraising
			h3 Fundraising
			p MarketPad provides different ways for organizations to raise both money and awareness.  Also, our platform ensures you have safe & easy online transactions with our merchant service provider, making things simple for all parties involved.  MarketPad is locally-focused, but offers global online potential allowing you to be seen well outside of your regional area.  We support locally-run clubs, charities, and organizations, with the goal of stimulating local businesses and local economies.  We don't want to leave anybody out here at MarketPad, which is why we have developed a platform that opens the door for entire communities.
			h4 Promotions:  
			p Clubs, charities, and other organizations utilize MarketPad's platform in a variety of ways; including promoting their cause, local businesses, and raising funds. MarketPad offers a system where organizations earn money off of businesses they support through Deals and Gift Cards provided by the local businesses, in which are sold to the public.  A portion of these proceeds go to the organization they are supporting, impacting both parties involved and keeping money in the community.
			h4 Donate: 
			p MarketPad also provides a tool that allows people to donate money to an organization of their choice. You do not have to purchase a Deal or Gift Card in order to support a cause that you believe in.  You can create multiple "needs" for donations in just a few minutes.  Once created each donation request can distribute to over 300 social networking sites, increasing awareness and promoting your cause for all to see.
			h4 Events: 
			p MarketPad has created a tool that allows organizations to create, promote, and share their upcoming events. Our platform allows you to create an Event Listing in our MarketPlace complete with unlimited text, photos, and video.  This ensures you get the correct message across to the people who are thinking about attending your event. We also provide a direct link to your website, printable flyers to distribute, map of your location, as well as a message system that allows you to answer any questions that somebody may have.
			h4 Raffles: 
			p MarketPad allows organizations to promote & increase their ticket sales by offering a raffle system online. Raffle tickets can be created for full face value or at a discount and showcased on MarketPad.com. Raffles can either be exclusively on MarketPad, or combined with current promotions.

			h1 Community Outreach 
			h3 Community Outreach
			p Here at MarketPad, we are all about supporting the community!  That is why we developed a platform that gives local merchants, clubs, charities, organizations, etc a toolbox that benefits all of their fundraising needs.
			h4 Support for Local Merchants & Organizations: 
			p We provide a connection between local businesses and causes that benefits all parties involved.  Our platform allows businesses to 'sponsor' local organizations by creating Deals and Gift Cards they can put on their virtual storefront, and a portion of each sale goes to their needs.  This also allows for local businesses to support multiple causes, year round and provides the business with FREE brand awareness across many networks with NO UPFRONT COST!
			h4 Gaining Experience: 
			p Our platform that teaches business networking, compassion for causes, and provides real-world experience for those who support their community.  Our system allows future entrepreneurs to work with local merchants and provide additional support & resources for the organization they belong to.  The result is a stimulated economy because we're keeping money local, building awareness for charities and ensuring local businesses keep thriving.

			h1 Events 
			h3 Events
			p We developed tools that allow your organization or business to create, promote, share, and sell tickets for upcoming events or promotions.  You should have the power to create and promote events that will stimulate your cause, local economy and we give it to you at NO COST!
			p Not only can you create an event with our FREE online platform, you can promote your event  with just a click of a button.
			h4 Creating an event with MarketPad includes....
			ul
				li Unlimited photos, video, and text to ensure your message is concise and clear.
				li Direct links to your website, email, or any URL of your desire.
				li A showing of the Google Map location.
				li Time, date, and venue.
				li A featured advertisement in our 'Events' section on MarketPad.com that can be easily found through online searches.
				li Printable Flyers to promote & distribute for your event.
				li Message system to answer and questions/comments/concerns that people may have.
				li The ability to sell tickets for your event online.
				li The ability to share with over 300 social media outlets.

			h1 Enhanced Marketing
			h3 Enhanced Marketing
			p MarketPad allows you to promote & share your marketing strategies in a whole new way.  Our model advocates community involvement and sharing within networks.  This is one of the most powerful ways of communication today.  
			p By offering an online presence for both businesses and charities and providing a toolbox filled with FREE tools at their disposal 24/7 365, there's no way anyone loses.  It's a WIN, WIN for everybody!  It is no longer difficult for you to enhance & promote your cause so you can gain additional support, members, and funds for your organization.  
			h5 Sharing is caring!  

			section
				.center
					= link_to 'REGISTER FREE TODAY!', join_path, class: 'btn-primary'
