#contact-page.static-page
	section.primary.dark
		.container-narrow
			h1.center.dark Contact MarketPad
			/ p.center 
			/ 	| Please note: we prefer you use the contact form first when trying to contact us.
			/ 	br 
			/ 	| It helps us track the performance of our customer service.
	section.white
		ul.center
			li 
				h4 Email
				p = mail_to('infomarketpad@gmail.com')
				p = mail_to('amarkmarketpad@gmail.com')
			li
				h4 Phone
				p = tel_to('(208) 659-7299')

			li 
				h4 Address
				p 
					| 1489 N. Moonstone Street
					br
					| Post Falls, ID 83854
			li 
				h4 Office Hours
				p 8am - 5pm Mon - Fri (PST)

	section
		.center
			= link_to 'REGISTER FREE TODAY!', join_path, class: 'btn-primary'
