#discount-index
	// IF USER HAS GEOLOCATION
	- if location_exists?
		section
		section#featured-discounts.secondary
			.container
				div
					h4 Featured Local Deals
				div
					ul#featured-profiles
						- @discounts.take(2).each do |discount|
							= link_to discount_path(discount.slug)
								li.featured-profile 
									.featured-profile-image style="background-image: url(#{discount.image}) ;"
									.featured-profile-info
										h3 = truncate(discount.name, :length => 30)
										p = truncate(discount.description.try(:html_safe), :length => 60)

		section#local-discounts-gallery.discounts-gallery
			.container
				h4 Local Deals
				= will_paginate @discounts
				.discount-category-block
					ul#featured-profiles
						- @discounts.each do |discount|
							li.discount-card.bx-shadow-2
            					- if discount.sold_out?
            						.sold-out-card
            							h2.sold-out-text SOLD OUT
								= link_to discount_path(discount.slug)
									.discount-card-image style="background-image:url(#{discount.image});"
								= link_to discount_path(discount.slug)
									.discount-card-info.dark
										- if discount.family_friendly?             
											i.ion-ios-people
											i.ion-checkmark-circled
										h2 = truncate(discount.name, :length => 30)
										p = truncate(discount.description.try(:html_safe), :length => 45)
								.discount-card-buy
									p.small 
										| was 
										span 
											= number_to_currency(discount.price)
									.discount-card-buy-button.btn-primary 
										= number_to_currency(discount.discounted_price)
								.discount-card-love
					            	= link_to discount_like_path(discount.slug), method: :post, remote: true, id: "discount_like_#{discount.id}"
										- if current_user && discount.liked?(current_user.id)
											i.ion-ios-heart
										- else
											i.ion-ios-heart-outline
				= will_paginate @discounts
				- if params[:catTypeID].present? && @discounts.count == 0
				  br 
				  br
				  h4 No deals found with category "#{params[:catName]}".
				  =link_to "Reset Filter", root_path , class: "btn-secondary-ghost"


	// UNLESS USER HAS GEOLOCATION
	- else !location_exists?
		p &nbsp;
		section#location-cta.center
			h2.caps Oh No!
			h4 We can't seem to find your current location!
			p In order to browse your local discounts, we need to know which discounts are local to you. To do that we need to know where you're shopping from. Please enter your current location below.
			.pointer.modalTrigger
				.btn.btn-primary ENTER LOCATION

