#faq-page.static-page
	section.primary.dark
		.container-narrow
			h1.center.dark Frequently Asked Questions
			p.center This page is currently under construction. We apologize for any inconvenience.			
	section.white
		.container-narrow
			ul#faqs
				li
					h3.faq How Do I Register?
					ul.disc-list.indent-list
						li Go to MarketPad.com and click on the 'Join' link located at the upper right corner of the page.
						li Fill out the Registration Form
						li Be sure to choose the Account-Type to fit your needs
						ul.circle-list.indent-2-list
							li <strong>Customer:</strong> I'm just here Shopping for Deals!
							li <strong>Business:</strong> I have a Business with Deals to Sell!
							li <strong>Organization:</strong> My Charity or Club needs to Raise Money!
							li <strong>Agency:</strong> I want to List Homes/Cars for sale in my local community!
							li <strong>Affiliate:</strong> I'm here to make money Promoting Deals and Businesses!
					.center
						<iframe width="560" height="315" src="https://www.youtube.com/embed/EuCDbrRQEk0?ecver=1" frameborder="0" allowfullscreen></iframe>
					hr

				li
					h3.faq How to Create a Business, Organization, Agency, or Affiliate Profile?
					ul.disc-list.indent-list
						li
							| Once you have Registered, 
							em Welcome!  
							| You will be sent to the 
							= link_to ' "Edit Profile" ', profile_path
							|  page.
						li Be sure to complete all the form fields and choose your best pictures to be sure your profile looks as good as it can!
					.center
						<iframe width="560" height="315" src="https://www.youtube.com/embed/Ctr4nevur_Q?ecver=1" frameborder="0" allowfullscreen></iframe>
					hr

				li
					h3.faq How do I edit my account information?
					ul.disc-list.indent-list
						li 
							| Your important account information can be edited at any time including Name, Email Address and Password by clicking the 
							= link_to ' "Settings" ', account_path
							| link in the sidebar.

						li Edit the information in the form and click save. (note: you may be asked for your account password to make some changes)
					.center
						<iframe width="560" height="315" src="https://www.youtube.com/embed/O_Jye0Ft27Q?ecver=1" frameborder="0" allowfullscreen></iframe>
					hr


				li
					h3.faq How to Create a Deal or Product Discount?
					ul.disc-list.indent-list
						li 
							| Once you have created your Business Profile, navigate to the 
							= link_to 'My Discounts ', discounts_path
							| page in the sidebar.
						li Click the "New Discount" button near the top right of the screen and complete the following form.
						li Be sure to fill out all the form fields with the best information and beautiful images to make sure your discount looks as good as it can!
					.center
						<iframe width="560" height="315" src="https://www.youtube.com/embed/f8qzXSAvKQ8?ecver=1" frameborder="0" allowfullscreen></iframe>
					hr

				li
					h3.faq 	How can I accept credit cards on my profile?
					ul.disc-list.indent-list
						li First you need to Connect your Business Profile with a Stripe Merchant Account
						li Don't worry...we've made it easy for you!
						li 
							| Navigate to the 
							= link_to 'My Account ', merchant_account_path
							| link in the sidebar and click on the blue "Connect with Stripe" button.
						li On the next page, just follow Stripes's instructions and you're ready to start selling!
					.center
						<iframe width="560" height="315" src="https://www.youtube.com/embed/1sMkPK9aIUg?ecver=1" frameborder="0" allowfullscreen></iframe>
					hr
				li
					h3.faq 	How can I update my current location and search radius?
					ul.disc-list.indent-list
					.center
						<iframe width="560" height="315" src="https://www.youtube.com/embed/1utp2hoQu-U?ecver=1" frameborder="0" allowfullscreen></iframe>
					hr
				li
					h3.faq 	How do I send a gift to my friend or client?
					ul.disc-list.indent-list
						li Purchase a Deal as you normally would do for yourself
						li 
							| Navigate to your 
							= link_to 'Redeem ', my_purchase_path
							| link in the top or side navigation menu
						li Click the "Gift" button next to the Deal you wish to send
						li Enter the recipient's name and email in the popup window
						li They will recieve an email with a link to redeem their gift!
					.center
						<iframe width="560" height="315" src="https://www.youtube.com/embed/0ZMJjBdcG4U?ecver=1" frameborder="0" allowfullscreen></iframe>
					hr

				/ li
				/ 	h3.faq
				/ 	ul.disc-list.indent-list
				/ 		li

				/ li
				/ 	h3.faq
				/ 	ul.disc-list.indent-list
				/ 		li

				/ li
				/ 	h3.faq
				/ 	ul.disc-list.indent-list
				/ 		li


section
	.center
		= link_to 'REGISTER FREE TODAY!', join_path, class: 'btn-primary'
