#for-business-page.static-page
	section.primary.dark
		.container-narrow
			h1.center.dark MarketPad For Businesses
			p.center This page is currently under construction. We apologize for any inconvenience.

	section.white
		.container-narrow
			h2.center For Businesses
			
			h3.center.faq What MarketPad Can Do For Businesses
			.center
				iframe width="560" height="315" src="https://www.youtube.com/embed/CCvEG1crXgY?ecver=1" frameborder="0"
			p We provide an Ecommerce platform that is easy to use and allows YOU to accelerate your company's growth.  You can utilize our online storefronts, business directories, low-cost deal and coupon models, classifieds and more! 

			p Prospective customers can access your business directory and information via any mobile device, tablet or computer.  Let MarketPad give you a toolbox of instruments that allow you to take control of your online presence and increase traffic into your location.

			p Every business gets a <strong>FREE</strong> Business Directory [+] Listing that will spotlight your products and services throughout the community and beyond!  We provide a mobile-friendly web page that you, your employees, customers, family and friends can drive business to with just a push of a button!

			p Create your own e-commerce business platform in as little as 15 mins, update 24/7, add/remove products in real-time, create eGift Cards, Deals, and Coupons in mere minutes!  All of this is provided at ZERO up-front cost, you pay nothing until you see the results for yourself!

			h3 Show your Business Online with Your Virtual Storefront

			p Secure Your Business In a local Dynamic Virtual Mall – We want you to think of MarketPad as your local “everything” resource so you can find whatever you may be looking for in your customizable search radius. Whatever type of business you may be looking for, we can provide a dashboard page listing, photos, videos, complete real-time inventory listings, map locations and up-to-the-minute information for any visitor to see whether you are mobile or in the comfort of your home.

			p <strong>Special Offers</strong> – Real time “Special Offers” can be uploaded and/or edited 24/7 on your dashboard page. Let customers know what potential specials you may be offering through your MarketPad profile and easily sync the message to 300+ social networks.

			p <strong>Discounted Deals/Gift Cards</strong> – Is there a slow time in your restaurant/business? Maybe between the hours of 2-5PM? Need more happy hour advertisement? Big game coming up this weekend? Overstock of certain items? Offer discounts or deals to whomever visits your page or falls into the criteria by creating a discount and spread the word of what you have to offer.

			p <strong>BUY NOW DEALS</strong> – Live, real-time Deals/GiftCards that can be purchased online with one simple click of a mouse. Be in control of your Deals without having to spend a fortune on a print-ad or hiring a design company to take a cut of your already discounted services. Control how many can be purchased, the time-limit and virtually every aspect of how you would like to offer these BUY NOW deals to your customers. Transactions are purchased online via computer or mobile device and money is securely transferred to your account in a timely manner. 


			h3 Your One-Click Social Media Experience

			p MarketPad has the ability to be your social media “Universal Platform” that can help make your business more marketable through over 300 social media outlets. MarketPad provides all viral tools through one platform that lets you advertise/post to all of your social media sites through one mechanism. With the multitude of sites that are out there these days it can be challenging to keep up with posting on every single one, so let MarketPad do the busy work for you and simplify your daily postings by offering a tool that lets you connect to all of them through one simple instrument.

			p <strong>Reach Customers Local and Worldwide</strong> – People can input their search radius anywhere from one mile away to a worldwide search. Whether you are taking a walk down the street and want to discover a new place to eat, see what new items your favorite restaurant has to offer. Maybe you would like to plan a trip accordingly, let MarketPad do the searching for you and give you a greater knowledge of what there is to offer.

			p <strong>Easily Shared with Hundreds of Social Media Outlets</strong> – Whatever social media you may be connected to, whether it be Facebook, Twitter, LinkedIn, Google +, or a variety of over 300 additional social media accounts, let MarketPad simplify your life and be your universal platform to convey messages through any of our choices of social platforms. We provide all of the tools necessary to post any message you would like to share with every site you link to your MarketPad account. 

			h3 Timely Return on Payment from Merchant Services

			p <strong>Ensuring Immediate Payment</strong> – MarketPad offers almost instantaneous payment to your business account with our well-known payment distribution options. STRIPE offers a low-risk, low-fee option that can deliver money to your account in as little as 5 business days. 

			p <strong>Easy to Use secure Transactions</strong> – Security is a major concern with any online transaction, this is why we put so much emphasis on creating a safe online platform that uses only secure transaction methods that keep your information private.. 

			p Owners from small and medium size businesses are demanding more from their service providers (i.e. bookkeepers, accountants and even lawyers).  Professional Service Providers, partnered with MarketPad, can provide their clients an enhanced ability to manage customer relationships.  This contribution is not limited to the business model but also includes developing the right processes.  

			p MarketPad creates an opportunity for a business to strengthen sales by providing a virtual storefront to showcase inventory, post deals and coupons, accept sales transactions and much more.  This promotes positive input of the business; therefore, your clients excel no matter what kind of business they are involved in.

			h3 Professional Service Providers

			p Together we can make a valuable contribution to businesses in our community.  Contributions that are tailored to their specific needs and industry.  We show Professional Service Providers how they can strengthen the services and market position of their clients within the target group of the business.

			p We ARE your key to shaping a robust, effective and client specific value proposition for your clients business.

			p <strong>Robust: </strong> MarketPad's understanding of business is taken from years of practical business experience of our owners, staff and clients.

			p <strong>Effective: </strong> MarketPad only supplies tools that have proven themselves in a marketplace environment and because our customer support ensures your clients and employees enjoy utilizing these tools.

			p <strong>Client Specific: </strong> Our goal, as well as yours, is to make our clients value proposition suit the business type we serve.

			p The key is to match the client needs of Professional Service Providers with the resources of MarketPad, combining to produce a stronger unity and business presence for all parties involved.

			h3 Chamber of Commerce

			p MarketPad can now help Chamber members build their business by providing them with a FREE virtual MarketPlace, printable flyers, Coupons, BUY NOW Deals, unlimited photos/videos and an overall stronger web presence. One of the major universal small business goals is to sell their products and services faster and easier than the competition. This is usually best accomplished by positioning the business in front of the target audience and offering something they can't refuse or find elsewhere. MarketPad; along with the Chamber, can help businesses target their audience by having them focus not only on local sales but global sales as well.

			p MarketPad can now provide Chamber members an easy-to-use business building e-commerce platform that will allow them to accelerate their growth, profitability and overall consumer reach. To this end, one of the smartest things a small business owner can do for their business is take the time to develop a small business marketing plan that will set them apart from the competition and will give that business maximum exposure. MarketPad can be a viral tool in the development of a small business marketing plan, provide better direction and increase visibility.

			p With the help of MarketPad, Chamber members can increase their exposure within the local community, as well as consumers outside member’s normal circle of consumer influence. With each chamber being a sponsor of the businesses in their town, consumers can see who is endorsing that business with a special link that we provide that shows who a local business may be sponsored by and what affiliations they have. This will have a greater consideration that this business is active in the local Chamber of Commerce or other local membership groups, providing an effective and professional business strategy overall along with highlighting the organizations that you are a part of.

			p Another key tool MarketPad can offer the Chamber members’ current customers is access to their 'Business Profile' and 'Dashboard' via any desktop and mobile device through social media. If utilized correctly, businesses have an opportunity to develop a significant amount of influence on consumer behavior through social media channels. The top three social networks used by B2B marketers are LinkedIn (91%); Twitter (85%); and Facebook (81%). This means that the influencers within various social media channels can potentially have a significant impact on consumer behavior.

			section
				.center
					= link_to 'REGISTER FREE TODAY!', join_path, class: 'btn-primary'
