#home
	= render 'pages/location'
	= render 'components/slider'
	= render 'components/subscribe'
	/ = render 'components/category-filters'

	
	// IF USER HAS GEOLOCATION
	- if location_exists?
		.discounts-gallery
			.container

				.discount-category-header
					h2.left LOCAL DEALS
					= link_to content_tag('h4', 'See All >>', class: 'left'), deals_path
				p.category-header-help Find Deals in Your Local Area!
				- if @discounts.present?
					.discount-category-block
						- @discounts.take(12).each do |discount|
							.discount-card.bx-shadow-2
								- if discount.sold_out?
									.sold-out-card
										h2.sold-out-text SOLD OUT
								= link_to discount_path(discount.slug)
									.discount-card-image style="background-image:url(#{discount.image});"
								= link_to discount_path(discount.slug)
									.discount-card-info.dark
										- if discount.family_friendly?
											i.ion-ios-people
											i.ion-checkmark-circled
										- if discount.sold_out?
										  h1 SOLD OUT
										h2 = truncate(discount.name, :length => 30)
										p = truncate(discount.description.try(:html_safe), :length => 45)
								.discount-card-buy
									p.small 
										| was 
										span 
											= number_to_currency(discount.price)
									.discount-card-buy-button.btn-primary 
										= number_to_currency(discount.discounted_price)
								.discount-card-love
									= link_to discount_like_path(discount.slug), method: :post, remote: true, id: "discount_like_#{discount.id}"
										- if current_user && discount.liked?(current_user.id)
											i.ion-ios-heart
										- else
											i.ion-ios-heart-outline
				- else
					h3.sorry Unfortunately there are no deals available in your local search area at this time. 


				.discount-category-header
					h2.left LOCAL CHARITIES
					= link_to content_tag('h4', 'See All >>', class: 'left'), organizations_path
				p.category-header-help Shop for Deals on a Charity's Profile and Help them Earn Money for their foundation!
				- if @organizations.present?
					.discount-category-block
						- @organizations.take(12).each do |organization|
							.discount-card.bx-shadow-2
								= link_to show_account_path(organization.profile_type, organization.slug)
									.discount-card-image style="background-image:url(#{organization.cover_image});"
								= link_to show_account_path(organization.profile_type, organization.slug)
									.discount-card-info.dark
										- if organization.family_friendly?             
											i.ion-ios-people
											i.ion-checkmark-circled
										h2 = truncate(organization.name, :length => 30)
										p = truncate(organization.description.try(:html_safe), :length => 45)
								/ .discount-card-love
									= link_to '#'
										i.ion-ios-heart-outline
				- else
					h3.sorry Unfortunately there are no charities or clubs participating in your local search area at this time. 


				.discount-category-header
					h2.left LOCAL BUSINESSES
					= link_to content_tag('h4', 'See All >>', class: 'left'), businesses_path
				p.category-header-help These are all the Local Businesses offering Deals to Support Charity!
				.discount-category-block
					- if @businesses.present?
						- @businesses.take(12).each do |business|
							.discount-card.bx-shadow-2
								= link_to show_account_path(business.profile_type, business.slug)
									.discount-card-image style="background-image:url(#{business.cover_image});"
								= link_to show_account_path(business.profile_type, business.slug)
									.discount-card-info.dark
										- if business.family_friendly?
											i.ion-ios-people
											i.ion-checkmark-circled
										h2 = truncate(business.name, :length => 30)
										p = truncate(business.description.try(:html_safe), :length => 45)
								/ .discount-card-love
									= link_to '#'
										i.ion-ios-heart-outline
					- else
						h3.sorry Unfortunately there are no businesses participating in your local search area at this time. 


				.discount-category-header
					h2.left PRODUCTS
					= link_to content_tag('h4', 'See All >>', class: 'left'), products_path
				p.category-header-help Shop these Special Prices on Products from All Over the Country!
				.discount-category-block
					- @products.take(12).each do |discount|
						.discount-card.bx-shadow-2
							- if discount.sold_out?
								.sold-out-card
									h2.sold-out-text SOLD OUT
							= link_to discount_path(discount.slug)
								.discount-card-image style="background-image:url(#{discount.image});"
							= link_to discount_path(discount.slug)
								.discount-card-info.dark
									- if discount.family_friendly?
										i.ion-ios-people
										i.ion-checkmark-circled
									h2 = truncate(discount.name, :length => 30)
									p = truncate(discount.description.try(:html_safe), :length => 45)
								.discount-card-buy
									p.small 
										| was 
										span 
											= number_to_currency(discount.price)
									.discount-card-buy-button.btn-primary 
										= number_to_currency(discount.discounted_price)
								/ .discount-card-love
									= link_to discount_like_path(discount.slug), method: :post, remote: true, id: "discount_like_#{discount.id}"
										- if current_user && discount.liked?(current_user.id)
											i.ion-ios-heart
										- else
											i.ion-ios-heart-outline


	// UNLESS USER HAS GEOLOCATION
	- else !location_exists?
		= render 'components/no-location'

		.discounts-gallery
			.container
				.discount-category-header
					h2.left PRODUCTS
					= link_to content_tag('h4', 'See All >>', class: 'left'), products_path
				p.category-header-help Shop these Special Prices from All Over the Country!
				.discount-category-block
					- @products.take(12).each do |discount|
						.discount-card.bx-shadow-2
							- if discount.sold_out?
								.sold-out-card
									h2.sold-out-text SOLD OUT
							= link_to discount_path(discount.slug)
								.discount-card-image style="background-image:url(#{discount.image});"
							= link_to discount_path(discount.slug)
								.discount-card-info.dark
									- if discount.family_friendly?
										i.ion-ios-people
										i.ion-checkmark-circled
									h2 = truncate(discount.name, :length => 30)
									p = truncate(discount.description.try(:html_safe), :length => 45)
								.discount-card-buy
									p.small 
										| was 
										span 
											= number_to_currency(discount.price)
									.discount-card-buy-button.btn-primary 
										= number_to_currency(discount.discounted_price)
								/ .discount-card-love
									= link_to discount_like_path(discount.slug), method: :post, remote: true, id: "discount_like_#{discount.id}"
										- if current_user && discount.liked?(current_user.id)
											i.ion-ios-heart
										- else
											i.ion-ios-heart-outline


