#learn-page.static-page
	section.primary.dark
		.container-narrow
			h1.center.dark Learn Stuff
			p.center This page is currently under construction. We apologize for any inconvenience.

	section.white
		.container-narrow
			h2 For Users
			p MarketPad is a revolutionary platform that offers several different tools that can help you find exactly what you are looking for. We showcase businesses and consumers alike that offer Deals, Gift Cards, Online Storefronts, Real Estate Listings, Events and Jobs. Sound like a lot? We've got you covered.

			h3.faq What Can We Do For You?
			ul#faqs.indent-list.circle-list
				li Free Registration
				li Buy & Sell Deals & Products
				li Fundraising for Local Clubs & Charities
				li Sales & Marketing Affiliate Programs
				li Local Business Directory
				li Local Auto & Real Estate Listings

			/ h3.faq Network Strategist Programs With MarketPad
			/ ul#faqs.indent-list.circle-list
			/ 	li Compensation Plan Video
			/ 	li Quick Glance Compensation
			/ 	li Marketing Materials
			/ 	li Video Library
			
			h3.faq How Do I Become a Network Strategist?
			p We work with local business owners to developed offerings such as Discounted Deals, Coupons, and Gift Cards.  We offer them multiple avenues to begin spreading the word about those offerings to build brand awareness and market share for FREE.  Unlike Groupon and other deal based sites, we don’t take 50%-75% of their sales profits.  We actually want businesses to succeed long-term!

			p A Network Strategist is a small business owner and makes their own schedule.  Work full-time, part-time or whenever you have a free moment and make $.  Share what we're doing with those places you love going to, get them to sign up for FREE, and begin sharing with family, friends, your social network and get paid.

			br
			.center
				= image_tag('mp-compensation.png')
			br

			p We also have organizations such as high school clubs (DECA, sports teams etc.), Lions Club, Churches, Cancer Organizations and more that are all looking for ways to support the community, build up their local economy and help keep money local.  If you sign a business up and one of these local organizations begins pushing that deal or gift card, you get paid for each one sold.  The potential for income is limitless.  Think of the residual income you can make just for sharing a local hot spot!  

			p If you have others that share what you're doing and they begin to get other local companies to sign up and sell deals...you get paid.  This is truly a model that puts money back into the small businesses, the people who shop there, and the community.  Let's take our future back and make sure the small local places we love are still there for our kids to enjoy.  

			br
			.center
				iframe width="560" height="315" src="https://www.youtube.com/embed/RXumOJquwAI" frameborder="0" allowfullscreen="true"
			br

	 		h5.center 
	 			| For information about how your organization can earn money,
	 			br 
	 			| email us at 
	 			= mail_to('amarkmarketpad@gmail.com')
	 			br 
	 			| or give us a call at 
	 			= tel_to('(208) 659-7299')
	 			br
	 			| to learn more and setup an appointment.



			section
				.center
					= link_to 'REGISTER FREE TODAY!', join_path, class: 'btn-primary'

