#organization-index
	// IF USER HAS GEOLOCATION
	- if location_exists?
		section#featured-organizations.secondary
			.container
				div
					h4 Featured Local Organizations
				div
					ul#featured-profiles
						- @organizations.take(2).each do |organization|
							= link_to show_account_path(organization.profile_type, organization.slug)
								li.featured-profile 
									.featured-profile-image style="background-image: url(#{organization.cover_image}) ;"
									.featured-profile-info
										h3 = truncate(organization.name, :length => 30)
										p = truncate(organization.description.try(:html_safe), :length => 60)

		section#local-organizations-gallery.discounts-gallery
			.container
				h4 Local Organizations
				= will_paginate @organizations
				.discount-category-block
					ul#featured-profiles
						- @organizations.each do |organization|
							li.discount-card.bx-shadow-2
								= link_to show_account_path(organization.profile_type, organization.slug)
									.discount-card-image style="background-image:url(#{organization.image});"
								= link_to show_account_path(organization.profile_type, organization.slug)
									.discount-card-info.dark
										- if organization.family_friendly?             
											i.ion-ios-people
											i.ion-checkmark-circled
										h2 = truncate(organization.name, :length => 30)
										p = truncate(organization.description.try(:html_safe), :length => 45)
								/ .discount-card-love
					            	= link_to '#'
					            		i.ion-ios-heart-outline
				= will_paginate @organizations


	// UNLESS USER HAS GEOLOCATION
	- else !location_exists?
		p &nbsp;
		section#location-cta.center
			h2.caps Oh No!
			h4 We can't seem to find your current location!
			p In order to browse your local organizations, we need to know which organizations are local to you. To do that we need to know where you're shopping from. Please enter your current location below.
			.pointer.modalTrigger
				.btn.btn-primary ENTER LOCATION

