#privacy-page.static-page
	section.primary.dark
		.container-narrow
			h1.center.dark Privacy Policy
	section.white
		.container-narrow
			p Your privacy is important to MarketPad.com. So we’ve developed a Privacy Policy that covers how we collect, use, disclose, transfer, and store any of your personal information. Please take a moment to familiarize yourself with our privacy practices and if you have any questions don't hesitate to contact us.

			h3 General Guidelines

			p Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. We will collect and use personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.

			p MarketPad.com may revise this privacy policy for its web site at any time without notice. By using this web site you are agreeing to be bound by the most current version of our Privacy Policy.


			h3 What information do we collect?

			p We collect information from you when you register on our site, place an order or fill out a form.

			p When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.

			h3 What do we use your information for?

			p Any of the information we collect from you may be used in one of the following ways:

			ul
				li 
					h4 To personalize your experience 
					p Your information helps us to better respond to your individual needs.

				li 
					h4 To improve our website 
					p We continually strive to improve our website offerings based on the information and feedback we receive from you.

				li 
					h4 To improve customer service 
					p Your information helps us to more effectively respond to your customer service requests and support needs.

				li 
					h4 To process transactions 
					p Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.

				li 
					h4 To send periodic emails 
					p The email address you provide for order processing, will only be used to send you information and updates pertaining to your order.

			h3 How do we protect your information?

			p We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.

			p We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.

			p After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.

			h3 Do we use cookies?

			p Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information

			p Cookies are required to login to our site, and almost any other website.

			p We may use cookies to help us remember and process the items in your shopping cart and understand and save your preferences for future visits.

			h3 Do we disclose any information to outside parties?

			p We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.

			h3 Third party links

			p Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

			h3 California Online Privacy Protection Act Compliance

			p Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.

			p As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their control panel and going to the 'Edit Profile' page.

			h3 Childrens Online Privacy Protection Act Compliance

			p We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.

			h3 Terms and Conditions

			p Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at https://marketpad.com/pages/terms-and-conditions

			h3 Your Consent

			p By using our site, you consent to our web site privacy policy.

			h3 Changes to our Privacy Policy

			p If we decide to change our privacy policy, we will post those changes on this page.

			h3 More Questions?

			p 
				| If you have any questions about this Privacy Policy or want to report abuse, please contact us at 
				= mail_to('infomarketpad@gmail.com')

			h5.small Last updated October 14, 2017