section
	.container-narrow
		.stripe-connect-div
			p.center You will be able to request payout once your earnings after last payout reached at #{number_to_currency(@pt.amount)}
			.stripe-connect-btn
			    - if @enable_payout_btn
				  = link_to "Request Payout", submit_payout_request_path, class: "btn btn-primary", method: :post
				- else
				  = link_to "Request Payout", "javascript:", class: "btn-secondary-ghost", disabled: true

section
	.container-narrow
		table#cart-items-list
			thead.table-head
				tr.cart-header
					th Total Earnings Till Date
					th Earnings After Last Payout
					th Last Payout
			tbody.table-body 
				tr.cart-item 
					td= number_to_currency(@earning.total_earnings_till_date)
					td= number_to_currency(@earning.earnings_after_last_payout)
					td= number_to_currency(@earning.last_payout)
