$('.locator-btn p').text("<%= session[:location] %>");
$('#location_city').val("<%= session[:city] %>");
$('#location_zipcode').val("<%= session[:zipcode] %>");
$('#location_state :selected').val("<%= session[:state] %>");
<% if @reload_page %>
  location.reload();
<% end %>