#search-results
	section
		.container-narrow
			h2.page-title #{@results.try(:total_entries)} Search Results for "#{params[:q]}"
        .container-narrow
        - if @results.present?
      		#discount-search-results
      			.container-narrow
                    ul.search-results-filters.left.clearfix
                        h5 Filter By Discount:
                        li.search-result-filter style="#{params[:filter_by_dis] == "deal" ? 'background: white' : nil}" =link_to "DEALS", search_path(q: params[:q], filter_by_dis: 'deal', filter_by_pro: params[:filter_by_pro])
                        li.search-result-filter style="#{params[:filter_by_dis] == "product" ? 'background: white' : nil}" =link_to "PRODUCTS", search_path(q: params[:q], filter_by_dis: 'product', filter_by_pro: params[:filter_by_pro])
                        br
                        h5 Filter By Profile:
                        li.search-result-filter style="#{params[:filter_by_pro] == "affiliate" ? 'background: white' : nil}" =link_to "AFFILIATES", search_path(q: params[:q], filter_by_pro: 'affiliate', filter_by_dis: params[:filter_by_dis])
                        li.search-result-filter style="#{params[:filter_by_pro] == "agency" ? 'background: white' : nil}" =link_to "AGENCIES", search_path(q: params[:q], filter_by_pro: 'agency', filter_by_dis: params[:filter_by_dis])
                        li.search-result-filter style="#{params[:filter_by_pro] == "business" ? 'background: white' : nil}" =link_to "BUSINESSES", search_path(q: params[:q], filter_by_pro: 'business', filter_by_dis: params[:filter_by_dis])
                        li.search-result-filter style="#{params[:filter_by_pro] == "organization" ? 'background: white' : nil}"  =link_to "CHARITIES", search_path(q: params[:q], filter_by_pro: 'organization', filter_by_dis: params[:filter_by_dis])
                        
                        h5 =link_to "Reset Filters", search_path(q: params[:q]), class: "btn-secondary-ghost"
                    = will_paginate @results if @results.present?
                    ul.search-results-list.right.clearfix
      					- @results.each do |r|
      						- if r.present?
      							= link_to (r.is_a?(Profile) ? show_account_path(r.profile_type, r.slug, q: params[:q]) : discount_path(r.slug, q: params[:q]))
                                    li.search-result-card.clearfix
          								.search-result-image
          									= image_tag(r.image.url(:thumb)) if r.image.present?
                                        //.search-result-distance
                                            //= "distance from user"
          								.search-result-info
          									h3 = r.name
                                            .search-result-profile-data 
                                                - if r.is_a?(Profile)
                                                    p = r.address
                                                    p = r.phone_number
                                                br
                                                p = truncate(r.description.try(:html_safe), length: 300)
                                            .search-result-button.right
                                                - if r.is_a?(Profile)
                                                    //p.btn-primary-ghost VIEW
                                                - if r.is_a?(Discount)
                                                    p.btn-primary = number_to_currency(r.discounted_price)
          								.search-result-type
          									p = r.is_a?(Profile) ? r.profile_type.titleize : r.discount_type.titleize
                    = will_paginate @results if @results.present?

      	- else
          #discount-search-results
            .container-narrow
              = "No result matches. Please modify your search."
              br
              br
              - if params[:filter_by_pro].present? || params[:filter_by_dis].present?
                =link_to "Reset Filters", search_path(q: params[:q]), class: "btn-secondary-ghost"
              - else
                =link_to "Modify Search", root_path, class: "btn-secondary-ghost"