$('#response').show();
<% if @success %>
  $('#response').show();
  $('#response').html('<%= @success %>').css("color", "white").fadeOut(10000);
<% else %>
  $('#response').html('<%= @error %>').css("color", "orange").fadeOut(10000);
<% end %>