#terms-page.static-page
	section.primary.dark
		.container-narrow
			h1.center.dark Terms of Use
	section.white
		.container-narrow
			h3.center Read This Terms Of Use Agreement Before Accessing MarketPad.com.
			ul
				li 
					h4 Terms
					p Effective Date: This Terms of Use Agreement was last updated on Aug 06, 2015. By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
				li
					h4 Use License
					p Permission is granted to temporarily download one copy of the materials (information) on MarketPad.com's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
					ul
						li modify or copy the materials;
						li use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
						li attempt to decompile or reverse engineer any software contained on MarketPad.com's web site;
						li remove any copyright or other proprietary notations from the materials; or
						li transfer the materials to another person or "mirror" the materials on any other server.
				li
					h4 Disclaimer
					p The materials on MarketPad.com's web site are provided "as is". MarketPad.com makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, MarketPad.com does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
				li
					h4 Limitations
					p In no event shall MarketPad.com or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on MarketPad.com's Internet site, even if MarketPad.com or a MarketPad.com authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you. User agrees to indemnify and hold MarketPad.com, its parents, subsidiaries, affiliates, officers and employees, harmless from any claim or demand, including reasonable attorneys' fees and costs, made by any third party due to or arising out of User's use of the Website, the violation of this agreement, or infringement by User, or other user of the Website using User's computer, of any intellectual property or any other right of any person or entity.
				li
					h4 Revisions and Errata
					p The materials appearing on MarketPad.com's web site could include technical, typographical, or photographic errors. MarketPad.com does not warrant that any of the materials on its web site are accurate, complete, or current. MarketPad.com may make changes to the materials contained on its web site at any time without notice. We reserve the right, at any time, to modify, alter, or update the terms and conditions of the Agreement at any time and without prior notice. Modifications shall become effective immediately upon being posted at the Website. Your continued use of the classified and related services after amendments are posted constitutes an acknowledgement and acceptance of the Agreement and its modifications. You must review this agreement on a regular basis to keep yourself apprised of any changes. MarketPad.com does not, however, make any commitment to update the materials.
				li
					h4 eMail Notification
					p All registered MarketPad.com users, including business and personal accounts, may be contacted via email address provided upon registration. These contacts may include, but are not limited to: promotional offers, updates, new features, additions, and any other informative content regarding MarketPad.com and its registered members in order to increase awareness.
				li
					h4 Links
					p MarketPad.com has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by MarketPad.com of the site. Use of any such linked web site is at the user's own risk. MarketPad.com may include links to other sites on the Internet that are owned and operated by online merchants and other third parties. You acknowledge that we are not responsible for the availability of, or the content located on or through, any third-party site.
				li
					h4 Site Terms of Use Modifications
					p MarketPad.com may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the most current version of these Terms and Conditions of Use.
				li
					h4 Governing Law
					p Any claim relating to MarketPad.com's web site shall be governed by the laws of the State of Idaho without regard to its conflict of law provisions. User assumes all knowledge of applicable law and is responsible for compliance with any such laws. User may not use the Website in any way that violates applicable state, federal, or international laws, regulations or other government requirements. User further agrees not to transmit any material that encourages conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national, or international law or regulation.
				li
					h4 Conduct
					p You agree not to post, message, email, or in any other way make available Content:
					ol
						li that is unlawful, harmful, threatening, abusive, harassing, defamatory, libelous, invasive of another's privacy, or is harmful to minors in any way;
						li that is pornographic, sexual in nature, or depicts a human being engaged in actual sexual conduct. MarketPad.com has a “No Nudity” rule and any violations of that rule will result in immediate expulsion from MarketPad.com. MarketPad is a family-friendly site.
						li that harasses, degrades, annoys, intimidates or is hateful toward an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;
						li that violates the Fair Housing Act Per section 3604(c) in any way by stating, in any notice or ad for the sale or rental of any dwelling, a discriminatory preference based on race, color, national origin, religion, sex, familial status or handicap.
						li that violates federal, state, or local equal employment opportunity laws, stating in any advertisement for employment a preference or requirement based on religion, race, color, sex, age, national origin, or disability.
						li that includes personal, financial or identifying information about another person without that person's prior, explicit consent;
						li that is knowingly false, deceptive, deceitful, or misleading.
						li that infringes any patent, trademark, copyright, or other proprietary rights of any persons or organization, or Content that you do not have a right to use or make available.
						li that constitutes or information or content that otherwise would be considered “spam”. MarketPad.com has a strict NO SPAMMING policy which we will enforce immediately upon violation.
						li that constitutes or contains any form of advertising or solicitation if: posted in areas of the MarketPad.com sites which are not designed for such purposes; or emailed to MarketPad.com users who have chosen not to receive communication from other users. We take our Stop Spam seriously and any infraction will result in expulsion from MarketPad.com immediately.
						li that includes ads for escort services, or individuals offering escort services, or that solicits or encourages activity that is, or could be viewed or construed to be prostitition or sexual in nature.
						li that misuses MarketPad.com's “report ad”, "flagging system" or other monitoring systems without each flag being manually entered by the person that initiates the flag, or use the flagging tool to remove ads of competitors. Violation of these rules will result in expulsion from MarketPad.com.
						li that is considered by MarketPad to be "over-posting", either by what we consider to be too many duplicate ads in too many areas, or by duplicating the same ad too frequently in any area. The definition of "over-posting" is at MarketPad's sole discretion.
				li
					h4 Images and files uploaded to MarketPad.com
					p The following may not be uploaded, or displayed under any circumstances on MarketPad.com:
					ul
						li Pornographic files. This includes, but is not limited to, files depicting genitalia, nudity, or sexual situations.
						li Images of people not wearing socially acceptable clothing for public places.  (People must be wearing clothing socially acceptable to wear in a public place.) Modeled undergarments & partial nudity is not acceptable for our family friendly atmosphere.
						li Files that are illegal and/or are in violation of any United States laws.
						li Files that infringe on the copyrights of any entity excluding the user.
						li Non-image or non-video files. This includes archived non-image files.
						li Files intending to harass or spam, or promote anything for commercial profit.
					p Any trade-specific state or federal advertising requirements are the full responsibility of the user and must be related to MarketPad.com within 24 hours of payment for affiliate banner. User agrees to make MarketPad.com aware of any state or federally mandated inclusions in their advertising (ie Fair Housing logo on all Real Estate related advertising). Failure to comply is the sole responsibility of the user and MarketPad.com accepts no responsibility for advertising guidelines of particular industries not being adhered to.
					p If user acts as an independent contractor or consultant, it is user’s responsibility to determine appropriate use of affiliate or consultant’s website content including images and text. By supplying MarketPad.com with web links to additional material and content, user acknowledges MarketPad.com may make use of logos and images and user takes full responsibility for any infringement of copyrighted images contained in websites supplied by user to MarketPad.com.
				li
					h4 Goods and Services Offered
					p The following policies refer to paid advertising (also known as Power Pages or banner ads) on this site.

				li
					h4 DELIVERY OF (PAID) GOODS AND SERVICES
					p Strictly speaking, no "wares" or "goods" are provided through this site, only the service of text and/or image advertising via online advertising. Ads placed on MarketPad.com are delivered immediately upon verification of placement, payment and administrative approval if applicable. Delivery is at the point of sale.
				li
					h4 REFUNDS, RETURNS, EXCHANGES
					p All sales are final.  Should you decide to cancel your ad on MarketPad.com, your account is NOT credited for unused funds. For example, if you purchase an ad to appear for one year on this site and cancel the ad after just one month, there will be no balance to refund. The only option available to you is to resume your billboard or banner ad. Under no circumstance are refunds provided for any portion of your order, even immediately following the completion of your order. Finally, at no time shall a change in MarketPad.com's traffic level, usage level, types of users, traffic or page count, constitute grounds for a refund of advertising fees in any portion, nor shall these conditions be basis for complaint or failure to receive your desired result. We cannot guarantee any result.
				li
					h4 Firearms Section - Regarding the sale or transfer of Firearms on MarketPad.com
					p A Federal Firearm License (“FFL”) is a license that allows companies and individuals to engage in the sale of firearms. Holding a Federal Firearm License to engage in certain such activities has been a legal requirement within the United States since the enactment of the Gun Control Act of 1968 (“GCA”).
					p It is important to know that MarketPad.com does not condone nor promote firearm or ammo sales by non-FFL individuals. MarketPad.com does allow non-FFL licensed individuals to list their firearms for sale on our classifieds for free, but we insist that you conduct the sale of your firearms at a licensed firearms dealership that can assist you with the legalities that vary in each state. Please do the research and follow the law when buying or selling firearms.
					ul
						li Sale of transfer of firearm and related items limited to users 18 years of age or older.
						li User understands that MarketPad is not and does not become involved in transactions between parties and does not certify, investigate, or in any way guarantee the legal capacity of any party to transact on this site or in any way.
						li User is responsible for following and obeying all applicable enforcement mechanisms, including, but not limited to federal, state, municipal, and tribal statutes, laws, rules, regulations, ordinances, and judicial decisions, including compliance with all applicable licensing requirements.
						li User will not use MarketPad.com for any illegal purpose.
						li If user is at all unsure about firearm sales or transfers of any kind, user will contact the Bureau of Alcohol, Tobacco, Firearms, and Explosive at 1-800-ATF-GUNS and visit the ATF website at http://www.atf.gov.
						li MarketPad may edit or remove information, including my posts, from the site without notice and subject to our terms of use.
						li If a user violates ANY terms of use, MarketPad may permanently remove that user from the site or, depending on the nature and severity of the violation, avail itself of such remedies as are prescribed by law. MarketPad will at all times comply with federal, state, municipal, and tribal law enforcement entities pursuant to the Constitution of the United States and Due Process of Law regarding specifically the sale and transfer of firearms and all laws and regulations in general.
						li User takes full responsibility for user’s actions whilst using MarketPad.com. User also takes full responsibility for any and all of my actions related to, or resulting from, use of MarketPad.com. Further, user is solely responsible for any and all consequences of such actions.
						li User indemnifies and will hold harmless MarketPad and all of its owners, directors, officers, employees, and agents for any and all loss, harm, damage, costs, liability, and expense caused to them, whether intentionally or unintentionally, by user’s use of MarketPad.com, including but not limited to direct or indirect results of violations of any and all applicable laws.

				li
					h4 The following list of prohibited persons are ineligible to own firearms under the Brady Handgun Violence Prevention Act.
					ul
						li Those convicted of felonies and certain misdemeanors except where state law reinstates rights, or removes disability.
						li Fugitives from justice
						li Unlawful users of certain depressant, narcotic, or stimulant drugs
						li Those adjudicated as mental defectives or incompetents or those committed to any mental institution and currently containing a dangerous mental illness.
						li Non-US citizens, unless permanently immigrating into the U.S. or in possession of a hunting license legally issued in the U.S.
						li Illegal Aliens
						li Those who have renounced U.S. citizenship
						li Minors defined as under the age of eighteen for long guns and the age of twenty-one for handguns, with the exception of Vermont, eligible at age sixteen.
						li Persons convicted in any court of a misdemeanor crime of domestic violence (an addition)
						li Persons under indictment for a crime punishable by imprisonment for more than one year are ineligible to receive, transport, or ship any firearm or ammunition					
				li
					h4 Acquiring from dealers
					p Provided that federal law and the laws of both the dealer's and purchaser's states and localities are complied with:
					ul
						li An individual 21 years of age or older may acquire a handgun from a dealer federally licensed to sell firearms in the individual's state of residence.
						li An individual 18 years of age or older may purchase a rifle or shotgun from a federally licensed dealer in any state. However, the applicant may not purchase a pistol gripped long gun that does not have a shoulder stock until he or she is 21 years of age.
						li It shall be unlawful for any licensed importer, licensed manufacturer, or licensed dealer to sell, deliver, or transfer a firearm unless the federal firearms licensee receives notice of approval from a prescribed source approving the transfer.
						li Sale of a firearm by a federally licensed dealer must be documented by a federal form 4473, which identifies and includes other information about the purchaser, and records the make, model, and serial number of the firearm. Sales to an individual of multiple handguns within a five-day period require dealer notification to the ATF. Violations of dealer record keeping requirements are punishable by a penalty of up to $1000 and one year's imprisonment.
						li An individual holding a Curio and Relics License (officially a Type 03 Federal Firearms License (FFL); also called a C&R) may directly purchase firearms that are 50 or more years old from anyone AND any firearm officially recognized by the ATF as a Curio and Relic (C&R).
				li
					h4 Sales between individuals
					p In a private transaction, federal law prohibits the transfer or the sale of a handgun or ammunition, for use only in handguns, to individuals under 18 years of age. There is no federal law concerning minimum age for the transfer or sale of a firearm that is not defined as a handgun, such as rifles, semiautomatic rifles, short-barreled rifles, shotguns, short-barreled shotgun, etc., for transactions that don't involve federal firearms licensees.
					p An individual who does not possess a federal firearms license may not sell a modern firearm to a resident of another state without first transferring the firearm to a dealer in the purchaser's state. Firearms received by bequest or intestate succession are exempt from those sections of the law which forbid the transfer, sale, delivery or transportation of firearms into a state other than the transferor's state of residence. Likewise, antique firearms are exempt from these sections of the law in most states. (Antique firearms are defined as those manufactured pre-1899 by US federal law, or modern replicas thereof that do not use cartridges. State law definitions on antique firearms vary considerably from state to state.)
				li
					h4 MarketPad suggests all buyers and sellers of firearms study and be aware of the laws regarding sale, transfer and use of firearms including the reading of the Federal Firearms Regulations Reference Guide available by clicking <a href="https://www.atf.gov/firearms/docs/guide/federal-firearms-regulations-reference-guide-2014-edition-atf-p-53004/download">here.</a>
				hr
				li 
					h4 By clicking "I accept the terms of use of this agreement" on the register page, user electronically represents ("signs") that user agrees to all above terms and further certifies that they have read, and completely agree, to be legally bound by our Terms of Use.