#welcome-back-page
	section.primary.dark
		.container-narrow
			h1.center.dark Welcome Back!!
	section.tuts-section.white
		.container-narrow
			h1.center MarketPad's New Website!!
			p.center First of all, we want to thank you for being such a loyal business with MarketPad. We've rebuilt our entire web application from the ground up including a shiny, new mobile-friendly design and a bunch of cool new features that we're excited for you to discover! Thanks again for being such a great customer. We tried to make this new sign in as painless as possible. We would like you to follow along with any of the tutorial below to learn more about the new MarketPad.com. 
	section.tuts-section
		.container-narrow
			h3.center The First Thing We'd Like You To Do is
			h2.center Logging Into Your Existing Account
			p If you had an existing account on the original version of MarketPad, then you're in luck. Your information has been transfered to our new system! The first step in retrieving that information is to make a new password for your account. 
			br
			ul
				li 
					p.center
						| To update your password, just follow this 
						= link_to "UPDATE PASSWORD ", forgot_password_path
						| link and enter the email you used on the original app 
						br
						span.small hint: it's the same one your Welcome Back email was sent to.
						.center
							.btn-primary
								= link_to "UPDATE PASSWORD ", forgot_password_path
					hr
				li
					p.center 
						| Check your email inbox for the Reset Passwords instructions email
						br
						span.small note: If you don't see the email in 5 minutes, check your spam/junk folder
					.tuts-image.center
						= image_tag('tuts/reset-password-form.jpg')
					hr
				li
					p.center 
						| Follow the link in the Reset Password email, and enter your new password on that page.
						br
						span.small hint: you can also use the same password from before...nobody will know.
					.tuts-image.center
						= image_tag('tuts/new-password-form.jpg')
					hr
				li
					p.center 
						| You can now 
						= link_to "LOGIN", login_path
						| , and access your account information from our original app.
						br
						span.small note: some of your information may have been altered during transfer to our new system, so please update any incorrect information that you find, thanks!
					.tuts-image.center
						= image_tag('tuts/login-form.jpg')
					hr


	section.tuts-section.white
		.container-narrow
			h3.center The Second Thing We'd Like You To Do is
			h2.center Connecting Your Merchant Account
			br
			p The simplest way we could explain this process to you was to creating a short video for you. If you would log in to this URL address below, It will give you complete information on how to video.<br> It's very simple process to reconnect with your strip account. 
			.center
				<iframe width="560" height="315" src="https://www.youtube.com/embed/1sMkPK9aIUg?ecver=1" frameborder="0" allowfullscreen></iframe>
			br
			/ p 
			/ 	| If you need to update any of the information on your profile page, navigate to the
			/ 	= link_to " Edit Profile ", profile_path
			/ 	| link in the sidebar navigation, and follow the instructions below.
			/ br
			/ .tuts-image.center
			/ 	= image_tag('tuts/sidebar-edit-profile.jpg')
			/ hr
			/ ul
			/ 	li 
			/ 		p.center Page 1 of the Edit Profile Form has Business Name, Business Description, an Affiliate Code (don't worry if you don't have one of these) and a Family-Friendly Business switch.
			/ 		.tuts-image.center
			/ 			= image_tag('tuts/edit-profile-1.jpg')
			/ 		hr
			/ 	li
			/ 		p.center Page 2 of the Edit Profile Form has Address Information for the Business/Organization
			/ 		.tuts-image.center
			/ 			= image_tag('tuts/edit-profile-2.jpg')
			/ 		hr
			/ 	li
			/ 		p.center Page 3 of the Edit Profile Form has Contact Information like Phone Number and Website for the Business/Organization (both required) as well as Social Media links (optional)
			/ 		.tuts-image.center
			/ 			= image_tag('tuts/edit-profile-3.jpg')
			/ 		hr
			/ 	li
			/ 		p.center Page 4 of the Edit Profile Form has Image Uplaods for the Business/Organization
			/ 		.tuts-image.center
			/ 			= image_tag('tuts/edit-profile-4.jpg')
			/ 		hr

	section.tuts-section
		.container-narrow
			h2.center Editing Your Profile Page
			p Once you've reset you password, and logged in to retrieve your existing account information, you may notice that some of your information is incorrect. We sincerely appologize for any inconvenience, but we tried our best to get all of your existing information into our new system without any errors but hey, we're human too.
			br
			.center
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Ctr4nevur_Q?ecver=1" frameborder="0" allowfullscreen></iframe>
			br
	section.tuts-section.white
		.container-narrow
			h2.center Creating and Updating Deals Products for Sale
			br
			.center
				<iframe width="560" height="315" src="https://www.youtube.com/embed/f8qzXSAvKQ8?ecver=1" frameborder="0" allowfullscreen></iframe>
			br
	section.tuts-section
		.container-narrow
			h2.center Updating Your Account Settings
			br
			.center
				<iframe width="560" height="315" src="https://www.youtube.com/embed/O_Jye0Ft27Q?ecver=1" frameborder="0" allowfullscreen></iframe>
			br
	section.tuts-section.white
		.container-narrow
			h2.center Updating Current Location and Local Search Radius
			br
			.center
				<iframe width="560" height="315" src="https://www.youtube.com/embed/1utp2hoQu-U?ecver=1" frameborder="0" allowfullscreen></iframe>
			br
	section.tuts-section
		.container-narrow
			h2.center Registering for a New Account
			br
			.center
				<iframe width="560" height="315" src="https://www.youtube.com/embed/EuCDbrRQEk0?ecver=1" frameborder="0" allowfullscreen></iframe>
			br
	section.tuts-section.white
		.container-narrow
			p.center If you have any concerns or just question about MarketPad’s new features,<br>For example,<br>Our new gifting feature<br>Our new redemption feature<br>Or anything else, please call us at <br>(208)953-1590  //  (208)659-7299<br>Or email us via:<br>info@marketpad.net
