.cart-section.clearfix
	h3
		| Checkout with 
		= cart.cart_items.first.business.name

	table#cart-items-list
		thead.table-head
			tr.cart-header
				th Image
				th Name
				th.hide-tablet Merchant
				th.hide-tablet Seller
				th Price
				th
		tbody.table-body 
		- cart.cart_items.each do |item|
				tr.cart-item
					td =image_tag item.discount.image_url(:medium), class: "cart-discount-image"
					td = item.discount.name
					td.hide-tablet = item.business.name
					td.hide-tablet = item.seller_name
					td = number_to_currency(item.price)
					td = link_to content_tag('i','',class:'ion-ios-close-empty'), remove_from_cart_path(itemID: item.id), data: { confirm: "Are you sure?"}, method: :delete
		tfoot.table-foot.hide-tablet
			tr.cart-sub-total
				td.tfoot-label colspan='4' Sub Total:
				td colspan='1' =number_to_currency(cart.sub_total)
			tr.cart-shipping
				td.tfoot-label colspan='4' Shipping:
				td colspan='1' =number_to_currency(cart.shipping)
			tr.cart-tax
				td.tfoot-label colspan='4' Taxes:
				td colspan='1' =number_to_currency(cart.taxes)
			tr.cart-total
				td.tfoot-label colspan='4' &nbsp;
				td colspan='1' 
					p =number_to_currency(cart.total_price)
		tfoot.table-foot.show-tablet
			tr.cart-sub-total
				td.tfoot-label colspan='1' Sub Total:
				td colspan='1' =number_to_currency(cart.sub_total)
			tr.cart-shipping
				td.tfoot-label colspan='1' Shipping:
				td colspan='1' =number_to_currency(cart.shipping)
			tr.cart-tax
				td.tfoot-label colspan='1' Taxes:
				td colspan='1' =number_to_currency(cart.taxes)
			tr.cart-total
				td.tfoot-label colspan='1' &nbsp;
				td colspan='1' 
					p =number_to_currency(cart.total_price)

	= form_tag checkout_path, class: 'clearfix'
		= hidden_field_tag "cartID", cart.id
		= button_tag "CHECKOUT", class: 'btn btn-primary right'
	.cart-secured.right
		i.right.ion-ios-locked-outline
		h3.right Secured by Stripe
