</br></br>
<h2>Shipping Address</h2>
</br></br>
<%= hidden_field_tag "ship_add[cart_id]", @cart.id %>
<div class="field">
  <label>First Name</label>
  <%= text_field_tag "ship_add[first_name]", nil, required: true %>
</div>

<div class="field">
  <label>Last Name</label>
  <%= text_field_tag "ship_add[last_name]", nil, required: true %>
</div>

<div class="field">
  <label>Street1</label>
  <%= text_field_tag "ship_add[street_1]", nil, required: true %>
</div>

<div class="field">
  <label>Street2</label>
  <%= text_field_tag "ship_add[street_2]", nil, required: false %>
</div>

<div class="field">
  <label>City</label>
  <%= text_field_tag "ship_add[city]", nil, required: true %>
</div>

<div class="field">
  <label>State</label>
  <%= text_field_tag "ship_add[state]", nil, required: true %>
</div>

<div class="field">
  <label>Zip Code</label>
  <%= text_field_tag "ship_add[zipcode]", nil, required: true %>
</div>

<div class="field">
  <label>Country</label>
  <%= text_field_tag "ship_add[country]", nil, required: true %>
</div>

<div class="field">
  <label>Phone Number</label>
  <%= text_field_tag "ship_add[phone_number]", nil, required: true %>
</div>