<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLISH_KEY'] %>");

    function stripeResponseHandler(status, response) {
        if (response.error) {
            // re-enable the submit button
            $('.submit-button').removeAttr("disabled");
            // show the errors on the form
            $(".payment-errors").html(response.error.message);
        } else {
            var form$ = $("#payment-form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
            // and submit
            $('#payment_submit').attr("disabled", "disabled");
            form$.get(0).submit();
        }
    }

    $(document).ready(function() {
        $("#payment-form").submit(function(event) {
            // disable the submit button to prevent repeated clicks
            $('.submit-button').attr("disabled", "disabled");
            // createToken returns immediately - the supplied callback submits the form if there are no errors
            Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val()
            }, stripeResponseHandler);
            return false; // submit from callback
        });
    });

</script>
<section id="shopping-cart">
  <div class="container-narrow">
    <div class="cart-wrap clearfix">
      <div class="center cart-title">
        <i class="ion-android-cart"></i>
        <h2> Secure Checkout </h2>
        <p class="cart-review"> Please enter your billing information below.</p>
        <div class="payment-icons">
          <span class="payment-icon"><%= image_tag('icons/Safe.png') %></span>
          <span class="payment-icon"><%= image_tag('icons/mastercard.png') %></span>
          <span class="payment-icon"><%= image_tag('icons/VISA.png') %></span>
          <span class="payment-icon"><%= image_tag('icons/Cirrus.png') %></span>
          <span class="payment-icon"><%= image_tag('icons/American Express.png') %></span>
        </div>
      </div>
      <span class="payment-errors" style="color:red;"></span>
      <%= form_tag purchase_path, id: "payment-form" do %>
        <%= hidden_field_tag "cartID", @cart.id %>
        <div class="field">
          <label>Card Number</label>
          <input type="text" maxlength="16" autocomplete="off" class="card-number" />
        </div>
        <div class="field">
          <label>CVC</label>
          <input type="text" maxlength="3" autocomplete="off" class="card-cvc" />
        </div>
        <div class="field">
          <label>Expiration (MM/YY)</label>
          <select maxlength="2" class="card-expiry-month"/>
            <option value=''>--Select Month--</option>
            <option selected value='01'>01 - Janaury</option>
            <option value='02'>02 - February</option>
            <option value='03'>03 - March</option>
            <option value='04'>04 - April</option>
            <option value='05'>05 - May</option>
            <option value='06'>06 - June</option>
            <option value='07'>07 - July</option>
            <option value='08'>08 - August</option>
            <option value='09'>09 - September</option>
            <option value='10'>10 - October</option>
            <option value='11'>11 - November</option>
            <option value='12'>12 - December</option>
          </select>
          <select maxlength="2" class="card-expiry-year"/>            
            <option value=''>--Select Year--</option>
            <option selected value='17'>2017</option>
            <option value='18'>2018</option>
            <option value='19'>2019</option>
            <option value='20'>2020</option>
            <option value='21'>2021</option>
            <option value='22'>2022</option>
            <option value='23'>2023</option>
            <option value='24'>2024</option>
            <option value='25'>2025</option>
            <option value='26'>2026</option>
            <option value='27'>2027</option>
            <option value='28'>2028</option>
            <option value='28'>2029</option>
            <option value='28'>2030</option>
          </select>
        </div>

        <% if @cart.product_exist_in_cart? %>
         <%= render partial: "carts/shipping_info" %>        
        <% end %>

        <button type="submit" class="submit-button btn btn-primary" id= "payment_submit">Pay <%= number_to_currency(@cart.total_price) %></button>
      <% end %>
    </div>
  </div>

</section>

