- if @carts.present?
	section#shopping-cart
		.container-narrow
			.cart-wrap.clearfix
				.center.cart-title
					i.ion-android-cart
					h2 Shopping Cart
					p.cart-review Please review the items in your cart before proceeding to secure checkout on the next page.
					- if @carts.count > 1
						.stripe-cart-help.center.secondary
							p.center 
								span.strong ATTN: 
								| If you have added items from multiple businesses, you must complete a checkout process from each business individually. We're very sorry for this inconvenience. This is due to the limitations of our secure payment processor and we are currently researching solutions to better serve your experience on MarketPad!

				= render 'carts/data'
			
- if @carts.blank?
	section#shopping-cart
		.container-narrow
			p.large Add some deals to your cart!