section#shopping-cart
	.container-narrow
		.cart-wrap.clearfix
			.center.cart-title
				i.ion-android-cart
				h2 My Receipt
				p.cart-review You should receive an email with your purchase information soon. If you do not see it in the next 30 minutes, be sure to check your junk/spam folder. Please take a screenshot of this page to save for your records.
			table#cart-items-list
				thead.table-head
					tr.cart-header
						th Image
						th Name
						th Type
						th Merchant
						th Seller
						th Price
				tbody.table-body 
			    - @cart_items.each do |item|
						tr.cart-item
							td =image_tag item.discount.image_url(:medium), class: "cart-discount-image"
							td= item.discount.name
							td= item.discount.discount_type
							td= item.business.name
							td= item.seller_name
							td= number_to_currency(item.total_price)
				tfoot.table-foot
					tr.cart-sub-total
						td.tfoot-label colspan='5' Sub Total:
						td colspan='1' =number_to_currency(@cart.sub_total)
					tr.cart-shipping
						td.tfoot-label colspan='5' Shipping:
						td colspan='1' =number_to_currency(@cart.shipping)
					tr.cart-tax
						td.tfoot-label colspan='5' Taxes:
						td colspan='1' =number_to_currency(@cart.taxes)
					tr.cart-total
						td.tfoot-label colspan='5' Amount Paid;
						td colspan='1' =number_to_currency(@cart.total_price)
			- if session[:user_cart].present? && session[:user_cart].size > 0
				.left
					= link_to "<< Continue Shopping", carts_path, class: 'btn-primary'
			.right
				= link_to "Redeem My Deals", my_purchase_path, class: 'btn-secondary'

