section#devise-login
  #devise-login-form  
    = link_to content_tag('i','',class:'ion-ios-arrow-thin-left'), root_path, class: 'signup-exit', data: { turbolinks: false }
    = simple_form_for(resource, as: resource_name, url: login_path) do |f|
      h1.center Log in
      .field
        = f.label :email
        br
        = f.email_field :email, autofocus: true
      .field
        = f.label :password
        br
        = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable? 
        .center
          p Remember Me?
          .styled-radio
            = f.check_box :remember_me, id: 'styled-radio', class: 'left'
            label.check-label for="styled-radio"
      .actions
        = f.submit "Log in", class: 'btn btn-primary-ghost', data: {disable_with: "Logging..."}
    hr
    .social-signup
      .center 
        = link_to user_facebook_omniauth_authorize_path, class: 'btn-login-facebook clearfix'
          .center
            i.ion-social-facebook
            p Connect
        = link_to user_google_oauth2_omniauth_authorize_path, class: 'btn-login-google clearfix'
          .center
            i.ion-social-google
            p Connect
    hr
  .center
    = render "devise/shared/links"
