= form_for(@business, url: url, html: {multipart: true, method: method}) do |f|
	.prog-form-steps
		.prog-form-step.prog-form-step-1.is-visible
		    = hidden_field_tag "profile_id", @business.try(:id), disabled: true
		
			p Tell Us About Business
			- if show_user_fields
				.field#business-name
				  = email_field_tag "user[email]", nil, placeholder: "Business user email"
				.field#business-name
				  = password_field_tag "user[password]", nil, placeholder: "Business user password"
			.field#business-name
			  = f.text_field :name, placeholder: "Business name"
			.field#business-description
				= f.text_area :description, placeholder: "Business Description"
			p Is Business Family Friendly?
			.field.styled-radio#business-family
				= f.check_box :family_friendly, id: 'styled-radio', class: 'left'
				label.check-label for="styled-radio"
			.prog-form-actions
				/ .btn-secondary-ghost.prog-form-cancel BACK
				.btn.btn-primary.prog-form-next NEXT


		.prog-form-step.prog-form-step-2
			p Where is Business located?
			.field#business-street
				= f.text_field :street, placeholder: "Business Address"
			.field.styled-select
			  = f.select :country, options_for_select(Country.order(:name).pluck(:name), selected: @business.country), prompt: "> Please select a country"
			.field.styled-select
			  = render partial: "pages/states_list"
			.field#business-city
				= f.text_field :city, placeholder: "City"
			.field#business-zip
			  = f.text_field :zipcode, placeholder: "Zipcode"
			.prog-form-actions
				.btn-secondary-ghost.prog-form-back BACK
				.btn.btn-primary.prog-form-next NEXT


		.prog-form-step.prog-form-step-3
			p How can customers reach business?
			.field#business-phone
			  = f.text_field :phone_number, placeholder: "Phone Number"
			.field#business-website
			  = f.text_field :website, placeholder: "Website"
			p Are business on social media?
			.field#business-facebook
			  = f.text_field :fb_link, placeholder: "@Facebook"
			.field#business-twitter
			  = f.text_field :twitter_link, placeholder: "@Twitter"
			.field#business-google
			  = f.text_field :google_link, placeholder: "@Google+"
			.prog-form-actions
				.btn-secondary-ghost.prog-form-back BACK
				.btn.btn-primary.prog-form-next NEXT


		.prog-form-step.prog-form-step-4
			p Make sure business looks great!
			.field#business-profile-image
				label Profile Image
				- if @business.image?
					.form-image
						= image_tag(@business.image.url(:medium))
				= f.file_field :image, placeholder: "Upload Profile Image", class: 'file-field'
			.field#business-cover-image
				label Cover Image
				- if @business.cover_image?
					.form-image
						= image_tag(@business.cover_image.url(:medium))
				= f.file_field :cover_image, placeholder: "Upload Cover Image", class: 'file-field'
			.prog-form-actions
				.btn-secondary-ghost.prog-form-back BACK
				= button_tag "SAVE", class: "btn btn-primary prog-form-next", data: {disable_with: "Saving..."}