= form_for(@discount, url: url, html: {multipart: true, method: method, id: "progress_form"}) do |f|

  .prog-form-steps
    .prog-form-step.prog-form-step-1.is-visible
      p Tell Us About Discount
      .field
        = f.text_field :name, placeholder: 'Discount Name', label: ''
      .field
        = f.text_area :description, placeholder: 'Discount Description', label: ''
      .prog-form-actions
        / .btn-secondary-ghost.prog-form-cancel BACK
        .btn.btn-primary.prog-form-next NEXT


    .prog-form-step.prog-form-step-2
      p What Type of Discount Is This?
      .field
        .styled-select
          = f.select :discount_type, options_for_select(Discount::DISCOUNT_TYPES, selected: @discount.discount_type), prompt: "Please select discount type"
      br
      p Is Discount Family Friendly?
      .field.styled-radio
        = f.check_box :family_friendly, id: 'styled-radio', class: 'left'
        label.check-label for="styled-radio"
      br
      p Active?
      .field.styled-radio
        = f.check_box :active, id: 'styled-radio-active', class: 'left'
        label.check-label for="styled-radio-active"
      br
      p Choose Categories
      .field
        = f.select(:category_ids, options_for_select(Category.select(:name, :id).collect{ |c| [c.name, c.id]}, selected: @discount.category_ids),{}, {class: 'multi-select', multiple: true})      
        br
      
      - if affiliate?
        p Business Info
        .field
          .styled-select
            = f.select :business_id, options_for_select(@affiliate_businesses, selected: @discount.business_id), prompt: "Please select a business"   


      .prog-form-actions
        .btn-secondary-ghost.prog-form-back BACK
        .btn.btn-primary.prog-form-next NEXT


    .prog-form-step.prog-form-step-3
      p What is the original price?
      .field
        = f.number_field :price, placeholder: 'Original Price', class: 'number-field'
      br
      p What is the discounted price?
      .field
        = f.number_field :discounted_price, placeholder: 'Discounted Price', class: 'number-field'
      br
      .extra_price
        p What is the extra price?
        .field
          = f.number_field :extra_price, placeholder: 'Extra Price', class: 'number-field'
      .prog-form-actions
        .btn-secondary-ghost.prog-form-back BACK
        .btn.btn-primary.prog-form-next NEXT


    .prog-form-step.prog-form-step-4
      p Maximum Limit
      .field
        = f.text_field :limit, placeholder: 'Maximum Limit'
      p Limit per customer
      .field
        = f.text_field :limit_per_customer, placeholder: 'Limit Per Customer'
      br
      p Add an image to discount
      .field
        - if @discount.image?
          .form-image
            = image_tag(@discount.image.thumb.url)
        - else
          = f.file_field :image, class: 'file-field'
      br
      p = link_to "Choose from default T&C", "javascript:", id: "default_terms_link"
      .field#default_terms
        .styled-select
          = select_tag "default_terms_conditions", options_for_select(DISCOUNT_TERMS_AND_CONDITIONS), prompt: "Please select a terms form the list"
      br
      p Terms
      .field
        = f.cktext_area :terms
      .prog-form-actions
        .btn-secondary-ghost.prog-form-back BACK
        = link_to "SAVE", "javascript:", class: "btn btn-primary prog-form-next", id: "progress_submit_btn"

javascript:
  $(".extra_price").hide();
  $('#discount_discount_type').change(function(){
    val = $(this).val();
    if(val == "product"){
      $(".extra_price").show();
    }else{
      $(".extra_price").hide();
      $('#discount_extra_price').val(0.0);
    }
  });
  if($('#discount_discount_type :selected').val() == "product"){
    $(".extra_price").show();
  }
  $('#default_terms_conditions').change(function(){
    val = $(this).val();
    CKEDITOR.instances['discount_terms'].setData(val);
  });
  
  // JQuery UI Multi Select
  $(function(){
    $('.multi-select').chosen({
      max_selected_options: 3, //Max select limit 
      display_selected_options: true, 
      placeholder_text_multiple: "Select Categories",
      width:"250px"
    });    
  });