section#new-business
	.container
		.center.user-upgrade-form
			.prog-form
				.prog-form-head
					.prog-form-title
					  = render partial: "layouts/flash_messages", flash: flash if flash.present?
						h1 Create New Business
						p Please fill all sections of this form.
					.prog-form-progress
						.prog-circle.is-active
							i.ion-ios-information-outline
						.prog-circle
							i.ion-ios-location-outline
						.prog-circle
							i.ion-ios-world-outline
						.prog-circle
							i.ion-ios-camera-outline
				.prog-form-body
					= render 'affiliates/business_form', url: create_business_path, method: "post", show_user_fields: true
					.center
						= link_to 'Abort!', root_path, data: { turbolinks: false }