
section
  = render partial: "layouts/flash_messages", flash: flash if flash.present?
  h1.left Affiliate Businesses
  = link_to 'Add A Business', create_business_path, class: 'right btn-secondary-ghost'


section#local-businesses-gallery.discounts-gallery
  .container
    .discount-category-block
      ul#featured-profiles
        - @affiliate_businesses.each do |business|
          li.discount-card.bx-shadow-2
            = link_to show_account_path(business.profile_type, business.slug)
              .discount-card-image style="background-image:url(#{business.image});"
            = link_to show_account_path(business.profile_type, business.slug)
              .discount-card-info.dark
                - if business.family_friendly?             
                  i.ion-ios-people
                  i.ion-checkmark-circled
                h2 = business.name
                p = truncate(business.description, :length => 45)
            .discount-card-love
              = link_to 'Edit', update_business_path(business.slug)



section
  h1.left Affiliate Discounts
  - if @affiliate_businesses.size > 0
    = link_to 'Add A Discount', create_discount_path, class: 'right btn-secondary-ghost'
  - else
    = link_to 'Add A Discount', "javascript:", class: 'right btn-secondary-ghost', onclick: 'alert("You are not affiliated with any business!")'


section.discounts-gallery
  .discount-category-block
    - @affiliate_discounts.each do |discount|
      .discount-card.bx-shadow-2
        = link_to discount_path(discount.slug)
          .discount-card-image style="background-image:url(#{discount.image});"
        = link_to discount_path(discount.slug)
          .discount-card-info.dark
            - if discount.family_friendly?             
              i.ion-ios-people
              i.ion-checkmark-circled
            h2 = discount.name
            p = truncate(discount.description, :length => 45)
            
        .discount-card-buy
          p.small 
            | was 
            span 
              | $
              = discount.price
          .discount-card-buy-button.btn-primary 
            | $
            = discount.discounted_price
        .discount-card-love
          = link_to 'Edit', update_discount_path(discount.slug)