section#new-discount
	.container
		.center.discount-form
			.prog-form
				.prog-form-head
					.prog-form-title
					  = render partial: "layouts/flash_messages", flash: flash if flash.present?	
					  h1.center Edit Discount Info
					  p Please fill all sections of this form.
					.prog-form-progress
						.prog-circle.is-active
							i.ion-ios-information-outline
						.prog-circle
							i.ion-ios-people-outline
						.prog-circle
							i.ion-social-usd-outline
						.prog-circle
							i.ion-ios-camera-outline
					.prog-form-body
						== render 'discount_form', url: update_discount_path, method: "put"
						.center
							= link_to 'Abort!', root_path, data: { turbolinks: false }
