section#edit-discount
	.container
		.center.discount-form
			.prog-form
				.prog-form-head
					.prog-form-title	
					    h1.center Discount Info
					    p Please fill all sections of this form.
					.prog-form-progress
						.prog-circle.is-active
							i.ion-ios-information-outline
						.prog-circle
							i.ion-ios-people-outline
						.prog-circle
							i.ion-social-usd-outline
						.prog-circle
							i.ion-ios-camera-outline
					.prog-form-body
						== render 'form'
						.center
							= link_to 'Abort!', root_path, data: { turbolinks: false }
