section
  h1.left My Discounts
  - if @business.merchant_accounts.present?
    = link_to 'Add A Discount', new_discount_path, class: 'right btn-secondary-ghost'
  - else
    = link_to 'Add A Discount', "javascript:", class: 'right btn-secondary-ghost', onclick: 'alert("You have to link your stripe merchant account with MarketPad  before creating discounts.")'


section.discounts-gallery
  .discount-category-block
    - @discounts.each do |discount|
      .discount-card.bx-shadow-2
        = link_to discount_path(discount.slug)
          .discount-card-image style="background-image:url(#{discount.image});"
        = link_to discount_path(discount.slug)
          .discount-card-info.dark
            - if discount.family_friendly?             
              i.ion-ios-people
              i.ion-checkmark-circled
            h2 = discount.name
            p = truncate(discount.description.html_safe, :length => 45)
            
        .discount-card-buy
          p.small 
            | was 
            span = number_to_currency(discount.price)
          .discount-card-buy-button.btn-primary 
            = number_to_currency(discount.discounted_price)
        .discount-card-love
          = link_to "Edit", edit_discount_path(discount.slug)