<% if @status == "liked" %>
  $('#discount_like_'+'<%= @discount.id %>').html("<i class='ion-ios-heart'></i>")
<% elsif @status == "unliked" %>
  $('#discount_like_'+'<%= @discount.id %>').html("<i class='ion-ios-heart-outline'></i>")
<% end %>