- sold_out = @discount.sold_out?
#discount-show
  .container-narrow
    .discount-hero
      .discount-show-image style="background-image: url(#{@discount.image.medium.url})"
      .discount-show-title
        .center
          - if @discount.family_friendly?             
            i.ion-ios-people
            i.ion-checkmark-circled
        h1.center = @discount.name
        h5.center = @discount.business.name
      .discount-show-price.center.hide-tablet
        h2 #{sold_out ? "SOLD OUT" : "BUY NOW"}
        .center.small
          h4 was &nbsp;
          h3 
            = number_to_currency(@discount.price)
        - if sold_out
          = link_to "javascript:", method: :post, class: 'btn btn-primary'
            = number_to_currency(@discount.discounted_price)
        - else
          - if @discount.cusomter_limit_reached_for_discount?(current_user.try(:id))
            = link_to "javascript:", onclick: "alert('You can only purchase #{@discount.limit_per_customer} same discounts.')", class: 'btn btn-primary'
              = number_to_currency(@discount.discounted_price)
          - if @merchant_account
            = link_to add_to_cart_path(discountID: @discount.slug, refererType: params[:refererType], refererID: params[:refererID]), method: :post, class: 'btn btn-primary right'
              = number_to_currency(@discount.discounted_price)
          - else
            = link_to "$ #{@discount.discounted_price}", "javascript:", class: 'btn btn-primary', onclick: "alert('#{@discount.business.name} does not accept payments this time, so this item can not be added in your cart.')"


      hr.hide-laptop-up

    .discount-description
      h4.small About this Deal
      p = @discount.description.try(:html_safe)
      hr
    - if @discount.terms?
      .discount-terms
        h4.small Terms & Conditions
        p = @discount.terms.try(:html_safe)
        hr
    .business-description
      h4.small About this Business
      .business-description-logo.left
        = image_tag(@discount.business.image.url(:thumb)) if @discount.business.image.present?
      .business-description-info.clearfix
        h3 = @discount.business.name
        h5 = @discount.business.street
        h5 #{@discount.business.city}, #{@discount.business.state} #{@discount.business.zipcode} #{@discount.business.country}
      .business-description-text
        p = @discount.business.try(:description).try(:html_safe)
      hr
    .business-description-map
      iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDpY_o4sSn89UfroI8QHehYcGWja27tD3o&q=#{@discount.address}" frameborder="0" style="border:0"    
    .buy-discount
      .buy-discount-share.left
        i.ion-android-share-alt
      .left
        h2 #{sold_out ? "SOLD OUT" : "BUY NOW"}
        h4.small.left was &nbsp;
        h3.left 
          = number_to_currency(@discount.price)
      - if sold_out
        = link_to "javascript:", class: 'btn btn-primary right'
          = number_to_currency(@discount.discounted_price)
      - else
        - if @discount.cusomter_limit_reached_for_discount?(current_user.try(:id))
          = link_to "$ #{@discount.discounted_price}", "javascript:", class: 'btn btn-primary', onclick: "alert('You can only purchase #{@discount.limit_per_customer} same discounts.')"
        - else
          - if @merchant_account
            = link_to add_to_cart_path(discountID: @discount.slug, refererType: params[:refererType], refererID: params[:refererID]), method: :post, class: 'btn btn-primary right'
              = number_to_currency(@discount.discounted_price)
          - else
            = link_to "$ #{@discount.discounted_price}", "javascript:", class: 'btn btn-primary', onclick: "alert('#{@discount.business.name} does not accept payments this time, so this item can not be added in your cart.')"

