/*
 *= require normalize-rails
 *= require ionicons
 *= require rippleria
 *= require_tree ./mixins
 *= require addtohomescreen
 *= require jquery-ui
 *= require chosen
 *= require_tree .
 *= require_self
*/


.turbolinks-progress-bar {
  height: 5px;
  background-color: #e69500;
}
