@import 'mixins/core';
@import 'mixins/devices';

/* --- BUSINESS SHOW --- */

#business-show,
#organization-show,
#agency-show {
	.business-hero {
		width: 106%;
		margin: 0 -3%;
		height: 540px;
		overflow: hidden;		
		position: relative;
		.business-hero-background {
			background-position: center center;
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
			-webkit-filter: blur(6px);
			-moz-filter: blur(6px);
			-o-filter: blur(6px);
			-ms-filter: blur(6px);
			filter: blur(6px);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin: 0;
			height: 560px;
		}
		.business-hero-image {
			background-position: center center;
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
			position: absolute;
			top: 120px;
			left: 90px;
			width: 120px;
			height: 120px;
			margin-bottom: 20px;
			margin-left: 10px;
			-webkit-border-radius: 15px;
			        border-radius: 15px;
		}
		.business-hero-title {
			position: absolute;
			top: 120px;
			left: 240px;
			h1,h3,h4,p {
				color: $white;
			}
			h1 {
				padding: 0;
			}
		}
		.business-hero-description {
			position: absolute;
			top: 330px;
			left: 240px;
			max-width: 60%;
			max-height: 175px;
			overflow: scroll;
			display: none;
			
			@include tablet {
				display: block;
			}
			@include laptop {
				display: block;
			}
			@include desktop {
				display: block;
			}
			@include large-screen {
				display: block;
			}
		}
	}	


	.business-deal-gallery {
		padding-top: 20px;
		.deal-card {
			@include span(12 of 12);
			@include tablet {
				@include gallery(6 of 12);
			}
			@include laptop {
				@include gallery(3 of 12);
			}
			@include desktop {
				@include gallery(3 of 12);
			}
			@include large-screen {
				@include gallery(3 of 12);
			}
			position: relative;
			height: 210px;
			margin-bottom: 5px;
			background: $off-white;
			background-position: center center;
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
			.deal-card-love {
				position: absolute;
				top: 0;
				right: 0;
				color: $white;
				font-size: 80%;
				padding: 10px;
				text-shadow: 0 2px 2px $shadow;				
			}
			.deal-card-info {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 120px;
				margin: 0;
				z-index: 700;
				background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,1.0));
				h2,p {
					text-align: right;
					position: absolute;
				}
				h2 {
					font-size: 100%;
					font-weight: 500;
					bottom: 30px;
					right: 10px;
				}
				p {
					font-size: 80%;
					font-weight: 300;
					bottom: 10px;
					right: 10px;
				}
			}
		}
	}
}



.stripe-connect-div {
	max-width: 360px;
	margin: 10px auto;
	h1 {
		color: $primary;
	}
	p {
		color: $md-grey;
		font-weight: 300;
	}
	.stripe-connect-btn {
		width: 70%;
		max-width: 210px;
		margin: 15px auto;
		transform: scale(0.95);
		transition: all 333ms ease-in-out;
		&:hover {
			transform: scale(1.0);
		}	
	}	
}