@import 'mixins/core';

.quick-navbar-cart {
	position: relative;
	i {
	}
	.cart-item-count {
		position: absolute;
		top: 5px;
		right: 30%;
		z-index: 5;
		display: none;
		width: 15px;
		height: 15px;
		background: $secondary;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		p {
			color: $white;
			line-height: 80%;
			padding: 0 2px;
			font-weight: 700;
		}
	}
	&.has-items {
		.cart-item-count {
			display: block;
		}
	}
}

#shopping-cart {
	min-height: calc(100vh - 150px);
	background: radial-gradient(transparentize(lighten($primary-light,15%),0.5),transparentize(darken($primary-dark,3%),0.3)), url('marketpad-city_bg.jpg');
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	.cart-wrap {
		background: $white;
		margin: 30px auto 20px auto;
		padding: 30px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-border-radius: 15px;
		        border-radius: 15px;
		-webkit-box-shadow: 0 2px 15px $shadow;
		        box-shadow: 0 2px 15px $shadow;
		.cart-title {
			i.ion-android-cart, h2 {
				display: inline-block;
			}
			i.ion-android-cart {
				color: $primary;
				margin-right: 15px;
				margin-top: 5px;
				font-size: 180%;
			}
			h2 {
				color: $primary;
			}
			.cart-review {
				color: $secondary;
			}
		}
		.stripe-cart-help {
			padding: 30px;
			margin-top: 30px;
			margin-bottom: 45px;
			max-width: 640px;
		}
		hr {
			margin-bottom: 30px;
		}
	}
	.cart-section {
		padding: 15px 2% 30px 2%;
		&:nth-of-type(even) {
			background: $off-white;
		}		
		#cart-items-list {
			margin-bottom: 0;
			.cart-header {
				th {
					font-size: 85%;
					font-weight: 300;
					border-bottom: 1px solid $lt-grey;
				}
			}
			tbody.table-body {
				.cart-item {
					td {
						border-bottom: 1px solid $lt-grey;
						&:last-of-type {
							margin-bottom: 10px;
						}
						&.cart-item-image {
							width: 30px;
							height: 60px;
							padding: 0;
							margin: 0;
							background: $secondary;
						}
					}
				}
			}
			.cart-sub-total,.cart-shipping,.cart-tax {
				td {
					font-size: 85%;
					font-weight: 300;
					padding: 3px;
				}
			}
			.cart-total {
				td {
					padding: 0;
					p {
						padding: 10px;
						font-size: 120%;
						font-weight: 700;
						border-top: 1px solid $lt-grey;
					}
				}
			}
			.table-foot {
				padding-top: 20px;
			}
			.tfoot-label {
				font-size: 85%;
				font-weight: 300;
				font-style: italic;
				text-align: right;
				padding: 0;
			}
		}
		.btn {
			margin: 0;
			max-width: 240px;
		}
		.cart-secured {
			h3 {
				color: $secondary;
				padding-top: 9px;
				margin-right: 10px;
				font-size: 120%;
			}
			i {
				margin-right: 45px;
				color: $secondary;
				font-size: 150%;
			}
		}
		
	}
	

}

.cart-discount-image {
	width:40px;
	height:40px;
}
