@import 'mixins/core';

#category-filters {
	* {
		box-sizing: border-box;
	}	
	.category-filters-wrap {
		padding: 0;
		.primary {
			background: $primary;
			-webkit-box-shadow: 0 1px 3px $shadow;
		    	    box-shadow: 0 1px 3px $shadow;
		}

		ul.parent-categories-list {
			padding: 0;
			width: 100%;
			margin: 0;

			a.parent-category-link {
				color: $off-white;
				li.parent-category-item {
					transition: all 333ms ease-in-out;
					&:hover {
						background: $primary-light;
					}
					&.is-active {
						background: $primary-light;
					}
				}
			}

		}

	}

	.sub-categories-drawer {
		display: none;
		color: $primary-dark;
		width: 90%;
		max-width: 960px;
		max-height: 360px;
		overflow: scroll;
		margin: 0 auto;
		padding: 15px;
		background: $white;
		-webkit-box-shadow: 0 1px 3px $shadow;
		        box-shadow: 0 1px 3px $shadow;
	
		h1,h2,h3,h4,h5,h6,p,a,a:link,a:active,li {
			color: $primary-dark;
		}

		.sub-categories-drawer-title 	{
			margin-bottom: 13px;
		}

		ul {
			padding: 0;
			margin: 0;
			li {
				padding: 12px 6px;
				float: left;
				margin: 0 auto;
				width: 20%;
				text-align: center;
				transition: all 333ms ease-in-out;
				
				&:hover {
					background: $off-white;
				}
			}
		}

		&.drawer-is-open {
			
		}
	}	

}

