// @import 'mixins/core';
// @import 'mixins/devices';


// /* --- DEALS INDEX --- */

// .deals-gallery {
// 	.deal-category-header {
// 		@include span(12 of 12);
// 		padding-top: 20px;
// 		h2 {
// 			margin-bottom: 10px;
// 		}
// 		h4 {
// 			padding: 6px 15px;
// 		}
// 		&:first-of-type {
// 			padding-top: 0;			
// 		}
// 	}
// 	.deal-category-block {
// 		@include span(12 of 12);
// 		.deal-card {
// 			@include span(12 of 12);
// 			@include small-tablet {
// 				@include gallery(6 of 12);
// 			}
// 			@include tablet {
// 				@include gallery(6 of 12);
// 			}
// 			@include laptop {
// 				@include gallery(3 of 12);
// 			}
// 			@include desktop {
// 				@include gallery(3 of 12);
// 			}
// 			@include large-screen {
// 				@include gallery(3 of 12);
// 			}
// 			position: relative;
// 			height: 210px;
// 			margin-bottom: 5px;
// 			background: $off-white;
// 			background-position: center center;
// 			-webkit-background-size: cover;
// 			     -o-background-size: cover;
// 			        background-size: cover;
// 			.deal-card-love {
// 				position: absolute;
// 				top: 0;
// 				right: 0;
// 				color: $white;
// 				font-size: 80%;
// 				padding: 10px;
// 				text-shadow: 0 2px 2px $shadow;				
// 			}
// 			.deal-card-info {
// 				position: absolute;
// 				bottom: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 120px;
// 				margin: 0;
// 				z-index: 700;
// 				background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,1.0));
// 				h2,p {
// 					text-align: right;
// 					position: absolute;
// 				}
// 				h2 {
// 					font-size: 100%;
// 					font-weight: 500;
// 					bottom: 30px;
// 					right: 10px;
// 				}
// 				p {
// 					font-size: 80%;
// 					font-weight: 300;
// 					bottom: 10px;
// 					right: 10px;
// 				}
// 			}
// 		}
// 		.food-deal-1 {
// 			background-image: url('food1.jpg');
// 		}
// 		.food-deal-2 {
// 			background-image: url('food2.jpg');
// 		}
// 		.food-deal-3 {
// 			background-image: url('food3.jpg');
// 		}
// 		.food-deal-4 {
// 			background-image: url('food4.jpg');
// 		}
// 		.spa-deal-1 {
// 			background-image: url('spa1.gif');
// 		}
// 		.spa-deal-2 {
// 			background-image: url('spa2.jpg');
// 		}
// 		.spa-deal-3 {
// 			background-image: url('spa3.jpg');
// 		}
// 		.spa-deal-4 {
// 			background-image: url('spa4.jpg');
// 		}
// 	}
// }


// /* --- DEAL SHOW --- */

// #deal-show {
// 	.deal-hero {
// 		width: 106%;
// 		margin: 0 -3% 10px -3%;
// 		.deal-show-image {
// 			@include span(12 of 12);
// 			height: 240px;
// 			background-color: $secondary;
// 			background: url('food1.jpg');
// 			background-position: center center;
// 			-webkit-background-size: cover;
// 			     -o-background-size: cover;
// 			        background-size: cover;
// 		}
// 		.deal-show-title {
// 			@include span(12 of 12);
// 			h1 {
// 				color: $primary;
// 				font-size: 140%;
// 				padding: 10px 5px 0 5px;
// 			}
// 			h5 {
// 				color: $md-grey;
// 				padding: 5px 0 10px 0;
// 			}
// 		}
// 		.deal-show-price {
// 			h3,h4 {
// 				display: inline-block;
// 				color: $md-grey;
// 			}
// 			h3 {
// 				text-decoration: line-through;
// 			}
// 			a.btn.btn-primary {
// 				color: $white;
// 				font-size: 170%;
// 				margin: 5px;
// 				margin-bottom: 0;
// 				border-radius: 0;
// 				padding: 17px 20px 13px 20px;
// 			}
// 		}
// 		@include laptop {
// 			margin: 70px 10px 30px 0;
// 			.deal-show-image {
// 				@include span(6 of 12 first);
// 				height: 270px;
// 			}
// 			.deal-show-title {
// 				@include span(5 of 12);
// 				padding-top: 15px;				
// 			}
// 			.deal-show-price {
// 				@include span(5 of 12);				
// 			}
// 		}
// 		@include desktop {
// 			margin: 70px 10px 30px 0;
// 			.deal-show-image {
// 				@include span(6 of 12 first);
// 				height: 300px;
// 			}
// 			.deal-show-title {
// 				@include span(5 of 12);				
// 				padding-top: 15px;				
// 			}
// 			.deal-show-price {
// 				@include span(5 of 12);				
// 			}
// 		}
// 		@include large-screen {
// 			margin: 70px 10px 30px 0;
// 			.deal-show-image {
// 				@include span(6 of 12 first);
// 				height: 300px;
// 			}
// 			.deal-show-title {
// 				@include span(5 of 12);				
// 				padding-top: 15px;				
// 			}
// 			.deal-show-price {
// 				@include span(5 of 12);				
// 			}
// 		}
// 	}
// 	.deal-description,
// 	.business-description {
// 		@include span(12 of 12);
// 		padding: 5px 2% 20px 2%;
// 		p {
// 			font-weight: 300;
// 			padding-bottom: 20px;
// 		}
// 	}
// 	.buy-deal {
// 		position: fixed;
// 		bottom: 0;
// 		left: 0;
// 		right: 0;
// 		z-index: 9000;
// 		background: $white;
// 		-webkit-box-shadow: 0 -2px 3px $shadow;
// 		        box-shadow: 0 -2px 3px $shadow;
// 		.buy-deal-share {
// 			padding: 5px;
// 			margin: 5px;
// 			margin-left: 0;
// 			color: $md-grey;
// 			border-right: 1px solid $md-grey;
// 		}
// 		h2 {
// 			color: $md-grey;
// 			margin-top: 7px;
// 			padding-bottom: 0;			
// 		}
// 		h4 {
// 			color: $md-grey;			
// 		}
// 		h3 {
// 			color: $dk-grey;
// 			text-decoration: line-through;						
// 		}
// 		a.btn.btn-primary {
// 			color: $white;
// 			font-size: 170%;
// 			margin: 5px;
// 			margin-bottom: 0;
// 			border-radius: 0;
// 			padding: 17px 20px 13px 20px;
// 			&:hover {
// 				margin: 5px;
// 				padding: 17px 20px 13px 20px;
// 			}
// 		}
// 	}
// }
