@import 'mixins/core';
@import 'mixins/forms';

#devise-registration,
#devise-login {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	z-index: 9999;
	background: radial-gradient(transparentize(lighten($primary-light,15%),0.5),transparentize(darken($primary-dark,3%),0.3)), url('marketpad-city_bg.jpg');
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	#devise-registration-form,
	#devise-login-form {
		background: radial-gradient(lighten($white,10%),darken($white,3%));
		width: 90%;
		max-width: 600px;
		height: auto;
		padding: 30px 60px;
		margin: 30px auto;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-border-radius: 9px;
		        border-radius: 9px;
		-webkit-box-shadow: 0 2px 15px $shadow;
		        box-shadow: 0 2px 15px $shadow;
		.signup-exit {
			margin: -20px;
			i {
				font-size: 270%;
				color: $md-grey;
				&:hover {
					color: $secondary;
				}
			}
		}
		h1 {
			color: $primary;
			padding: 0;
		}
		h4 {
			margin-bottom: 15px;
			color: $secondary;			
		}
		hr {
			margin: 15px auto;
		}
		.field {
			width: 100%;
			margin: 10px auto;
			input {
				width: 95%;
				font-size: 140%;
			}
		}
		.btn-login-facebook,
		.btn-login-google {
			width: 48%;
			margin: 0 1%;
			display: inline-block;
			color: $white;
			padding: 3px 0 2px 0;
			line-height: 100%;
			p {
				display: inline-block;
				padding: 0;
				margin-top: 0;
				margin-left: 10px;
				padding-bottom: 10px;
			}
			i {
				display: inline-block;
				font-size: 180%;
				line-height: 50%;
			}
			.center {
				margin: 0 auto;
			}
		}
		.btn-login-facebook {
			background: #3b5998;
			i.ion-social-facebook {
				padding: 0;
				padding-top: 10px;
				margin: 0;
			}
			&:hover {
				background: lighten(#3b5998,5%);
			}
		}
		.btn-login-google {
			background: #d34836;
			i.ion-social-google {
				padding: 0;
				padding-top: 10px;
				margin: 0;
			}
			&:hover {
				background: lighten(#d34836,5%);
			}
		}
		.actions {
			button {
				width: 100%;
				padding: 24px 20%;
				margin-top: 20px;
				color: $white;
				border: none;
				background: $primary;
				-webkit-border-radius: 3px;
				        border-radius: 3px;
				&:hover {
					margin-top: 20px;
					padding: 24px 20%;
					color: $white;
					background: $primary-light;
					box-shadow: 0 0 0 $shadow;
				}
			}
		}
	}
	.social-signup {
		p.small {
			margin: 0;
		}
	}
}