@import 'mixins/core';
@import 'mixins/devices';
@import 'mixins/forms';



/* --- DISCOUNTS INDEX --- */

.deals-gallery,
.discounts-gallery {
	.discount-category-header {
		@include span(12 of 12);
		margin-top: 30px;
		h2 {
			// margin-bottom: 10px;
			color: $primary;
		}
		h4 {
			padding: 12px 15px 6px 15px;
			color: $secondary;
		}
		&:first-of-type {
			padding-top: 0;			
		}
	}
	p.category-header-help {
		margin-bottom: 20px;
	}
	.discount-category-block {
		@include span(12 of 12);
		.discount-card {
			@include span(12 of 12);
			@include small-tablet {
				@include gallery(6 of 12);
			}
			@include tablet {
				@include gallery(6 of 12);
			}			
			@include laptop {
				@include gallery(6 of 12);
			}
			@include desktop {
				@include gallery(4 of 12);
			}
			@include large-screen {
				@include gallery(3 of 12);
			}
			position: relative;
			height: 270px;
			margin-bottom: 5px;
			background: $off-white;
			.sold-out-card {
				pointer-events: none;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 99999;
				width: 100%;
				height: 100%;
				background: transparentize($white,0.3);
				.sold-out-text {
					position: absolute;
					top: 30%;
					left: 50%;
					font-size: 210%;
					font-weight: 700;
					color: $secondary;
					width: 100%;
					text-shadow: 0 3px 6px $shadow;
					transform: translate(-30%, -50%) rotate(-30deg);
				}
			}
			.discount-card-love {
				position: absolute;
				top: 0;
				right: 0;
				color: $secondary;
				background: $white;
				-webkit-border-radius: 0 0 0 30px;
				        border-radius: 0 0 0 30px;
				font-size: 80%;
				padding: 10px 6px 10px 10px;
				// text-shadow: 0 2px 2px $shadow;				
			}
			.discount-card-image {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-position: center center;
				-webkit-background-size: cover;
				     -o-background-size: cover;
				        background-size: cover;
			}
			.discount-card-info {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 120px;
				margin: 0;
				z-index: 200;
				background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,1.0));
				h2,p,i,.discount-card-buy-button {
					text-align: right;
					position: absolute;
				}
				i {
					font-size: 120%;
					color: $secondary;
					bottom: 5px;
					&:first-of-type {
						left: 5px;
					}
					&:last-of-type {
						font-size: 80%;
						left: 27px;
					}
				}
				h2 {
					font-size: 110%;
					font-weight: 500;
					bottom: 25px;
					right: 12px;
					color: $white;
					margin-bottom: 0;
				}
				p {
					color: $lt-grey;
					font-size: 80%;
					font-weight: 300;
					bottom: 5px;
					right: 10px;
				}
			}
			.discount-card-buy {
				position: absolute;
				bottom: 45px;
				right: 0;
				z-index: 300;
				p.small {
					position: absolute;
					bottom: 35px;
					right: 10px;
					color: $md-grey;
					text-align: right;
					span {
						font-size: 120%;
						color: darken($secondary-dark,10%);
						text-decoration: line-through;
					}
				}
				.discount-card-buy-button.btn-primary {
					font-size: 130%;
					font-weight: 500;
					padding: 15px 15px 12px 15px;
					margin: 10px;
					bottom: 10px;
					right: 10px;
				}
			}
		}
	}
	.sorry {
		color: $secondary-dark;
	}
}


/* --- DISCOUNT SHOW --- */

#discount-show {
	.discount-hero {
		width: 106%;
		margin: 0 -3% 10px -3%;
		.discount-show-image {
			@include span(12 of 12);
			height: 360px;
			background-color: none;
			border: 1px solid $lt-grey;
			// background-image: url('food1.jpg');
			background-position: center center;
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
		}
		.discount-show-title {
			@include span(12 of 12);
			h1 {
				color: $primary;
				font-size: 140%;
				padding: 10px 5px 0 5px;
			}
			h5 {
				color: $md-grey;
				padding: 5px 0 10px 0;
			}
		}
		.discount-show-price {
			h3,h4 {
				display: inline-block;
				color: $md-grey;
			}
			h3 {
				color: $secondary;
				text-decoration: line-through;
			}
			a.btn.btn-primary {
				color: $white;
				font-size: 170%;
				margin: 5px;
				margin-bottom: 0;
				border-radius: 0;
				padding: 17px 20px 13px 20px;
			}
		}
		@include laptop {
			margin: 100px 10px 30px 0;
			.discount-show-image {
				@include span(6 of 12 first);
				height: 360px;
			}
			.discount-show-title {
				@include span(5 of 12);
				padding-top: 15px;				
			}
			.discount-show-price {
				@include span(5 of 12);				
			}
		}
		@include desktop {
			margin: 100px 10px 30px 0;
			.discount-show-image {
				@include span(6 of 12 first);
				height: 360px;
			}
			.discount-show-title {
				@include span(5 of 12);				
				padding-top: 15px;				
			}
			.discount-show-price {
				@include span(5 of 12);				
			}
		}
		@include large-screen {
			margin: 100px 10px 30px 0;
			.discount-show-image {
				@include span(6 of 12 first);
				height: 360px;
			}
			.discount-show-title {
				@include span(5 of 12);				
				padding-top: 15px;				
			}
			.discount-show-price {
				@include span(5 of 12);				
			}
		}
	}
	.discount-description {
		margin-top: 30px;
	}
	.discount-description,
	.discount-terms,
	.business-description {
		@include span(12 of 12);
		padding: 5px 2% 20px 2%;
		p {
			font-weight: 300;
			padding-bottom: 20px;
			max-width: 95%;
		}
		.business-description-logo {
			margin-right: 15px;
		}
		.business-description-text {
			max-width: 95%;
			margin-top: 15px;
		}
		hr {
			width: 90%;
		}
	}
	.discount-terms {
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style-type: circle;
				font-size: 90%;
				font-weight: 300;
				margin-left: 30px;
			}
		}
	}
	.business-description-map {
		iframe {
			width: 96%;
			height: 180px;
			margin: 0 2%;
		}
	}
	.buy-discount {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9000;
		background: $white;
		-webkit-box-shadow: 0 -2px 3px $shadow;
		        box-shadow: 0 -2px 3px $shadow;
		.buy-discount-share {
			padding: 5px;
			margin: 5px;
			margin-left: 0;
			color: $md-grey;
			border-right: 1px solid $md-grey;
		}
		h2 {
			color: $md-grey;
			margin-top: 7px;
			padding-bottom: 0;			
		}
		h4 {
			color: $md-grey;			
		}
		h3 {
			color: $secondary;
			text-decoration: line-through;
			font-size: 100%;					
		}
		a.btn.btn-primary {
			color: $white;
			font-size: 170%;
			margin: 8px;
			margin-bottom: 0;
			border-radius: 0;
			padding: 22px 20px 18px 20px;
			&:hover {
				margin: 5px;
				padding: 22px 20px 18px 20px;
			}
		}
		@include small-phone {
			padding-bottom: 35px;
		}
		@include phone {
			padding-bottom: 35px;
		}
		@include small-tablet {
			padding-bottom: 35px;
		}
		@include tablet {
			padding-bottom: 35px;
		}
	}
}

/* --- DISCOUNT FORM --- */

#new-discount,
#edit-discount {
	min-height: calc(100vh - 150px);
	background: radial-gradient(transparentize(lighten($primary-light,15%),0.5),transparentize(darken($primary-dark,3%),0.3)), url('marketpad-city_bg.jpg');
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	.discount-form {
		background: radial-gradient(lighten($white,10%),darken($white,3%));
		width: 90%;
		height: auto;
		padding: 30px 60px 45px 60px;
		margin: 30px auto;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-border-radius: 9px;
		        border-radius: 9px;
		-webkit-box-shadow: 0 2px 15px $shadow;
		        box-shadow: 0 2px 15px $shadow;
		h1 {
			color: $primary;
		}
		p {
			color: $secondary;
			font-weight: 300;
			max-width: 720px;
			margin-left: auto;
			margin-right: auto;
		}
		textarea {
			width: 94%;
		}
		input.file-field {
			width: 94%;
		}
		.discount-form-thumb {
			width: 200px;
		}
		.actions {
			button {
				width: 100%;
				padding: 24px 20%;
				margin-top: 20px;
				color: $white;
				border: none;
				background: $primary;
				-webkit-border-radius: 3px;
				        border-radius: 3px;
				&:hover {
					margin-top: 20px;
					padding: 24px 20%;
					color: $white;
					background: $primary-light;
					box-shadow: 0 0 0 $shadow;
				}
			}
		}

	}
}