@import 'mixins/core';

#flashes {
	background: $off-white;
	color: $primary;
	padding: 15px 30px;
	margin: 15px;
	text-align: center;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 6px 9px -3px $shadow;
	        box-shadow: 0 6px 9px -3px $shadow;
	i.notice {
		background: $primary;
		color: $white;
		padding: 15px;
		width: 30px;
		height: 30px;
	}
	p.notice {
		color: $primary;
	}
	i.alert {
		background: $secondary-dark;
		color: $white;
		padding: 15px;
		width: 30px;
		height: 30px;
	}
	p.alert {
		color: $secondary-dark;
	}
}
