@import 'mixins/core';
@import 'mixins/devices';

/* --- FOOTER STYLING --- */

footer {
	clear: both;
	width: 100%;
	height: auto;
	margin-top: 20px;
	padding: 30px 0 20px 0;
	color: $primary;
	background: white;
	ul.footer-nav {
		a, a:link {
			-webkit-border-radius: 15px;
			        border-radius: 15px;
			li {
				transition: all 300ms ease-in-out;
				color: $secondary;
			}
			&:hover {
				li {
					background: $secondary;
					color: $white;
				}
			}
		}
	}
	.footer-social {
		margin: 15px auto;
		ul {
			li {
				display: inline-block;
				position: relative;
				width: 30px;
				height: 30px;
				// padding-top: 6px;
				margin: 10px;
				color: $white;
				background: $primary;
				transition: all 300ms ease-in-out;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				i {
					font-size: 113%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	svg#footer-logo {
		fill: $primary;
	}
}