@import 'mixins/colors';

#loading {
	display: none;
	opacity: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9300;
	overflow: auto;
	background: transparentize($primary,0.2);
	#loading-logo {
		fill: $white;
	}
	p {
		color: $white;
	}
	&.is-loading {
		display: block;
		opacity: 1;
	}
}