@import 'mixins/core';

.modal-bg {
	display: none;
	opacity: 0;
	width: 100%;
	height: 150vh;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9998;
	overflow: auto;
	background: transparentize($secondary,0.2);
	&.modal-open {
		display: block;
	}
	&.modal-in {
		animation: modal-bg-in 300ms ease-in-out forwards;
	}
	// &.modal-out {
	// 	animation: modal-bg-out 300ms ease-in-out forwards;				
	// }
}
.modal-frame {
	display: none;
	opacity: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	z-index: 9999;
	transform: translate(-50%, -50%);
	background: radial-gradient(lighten($white,10%),darken($white,3%));
	width: 90%;
	max-width: 720px;
	height: auto;
	padding: 30px 45px;
	margin: 15px auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 9px;
	        border-radius: 9px;
	-webkit-box-shadow: 0 2px 15px $shadow;
	        box-shadow: 0 2px 15px $shadow;
	h1 {
		color: $primary;
		font-size: 120%;
	}
	h3 {
		margin: 0 auto 30px auto;
		color: $secondary;
		font-size: 100%;
		font-weight: 300;
		max-width: 500px;
	}
	p {
		color: $secondary;
		font-weight: 300;
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	}
	input {
		border: none;
		margin: 0;
	}
	input[type="text"] {
		width: 95%;
	}
	textarea {
		width: 94%;
	}
	i {
		color: $lt-grey;
		transform: scale(1.0) rotate(0deg);
		transition: all 333ms ease-in-out;
		&:hover {
			color: $primary;
			transform: scale(1.2) rotate(90deg);
		}
	}
	&.modal-open {
		display: block;
	}
	&.modal-in {
		animation: modal-frame-in 300ms ease-in-out 200ms forwards;
	}
	// &.modal-out {
	// 	animation: modal-frame-out 300ms ease-in-out 200ms forwards;
	// }
}


@keyframes modal-bg-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
// @keyframes modal-bg-out {
// 	0% {
// 		opacity: 1;
// 	}

// 	100% {
// 		opacity: 0;
// 	}
// }


@keyframes modal-frame-in {
	0% {
		opacity: 0;
		transform: translateY(200%) translateX(-50%);
	}
	30% {
		opacity: 1;
	}
	80% {
		transform: translateY(-60%) translateX(-50%);		
	}
	100% {
		opacity: 1;
		transform: translateY(-50%) translateX(-50%);
	}
}
// @keyframes modal-frame-out {
// 	0% {
// 		opacity: 1;
// 		transform: translateY(-50%) translateX(-50%);
// 	}
// 	30% {
// 		transform: translateY(-60%) translateX(-50%);		
// 	}
// 	80% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 0;
// 		transform: translateY(200%) translateX(-50%);
// 	}
// }

