/* -------------- */
/* --- MIXINS --- */
/* -------------- */

@import 'mixins/colors';
@import 'mixins/core';
@import 'mixins/devices';


/* --------------------- */
/* --- NAVBAR STYLES --- */
/* --------------------- */

header {
    position: fixed;
    z-index: 9300;
    top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	color: $white;
    transition: top 0.2s ease-in-out, background-color 0.3s;
	nav {
		background: $primary-dark;
		height: 60px;
		width: 100%;
		margin: 0;
		padding: 0;
		a,
		a:link,
		a:visited {
			color: $white;
			&:hover {
				color: $secondary;
			}
		}
		.navbar-logo {
			width: span(2 of 12 first);
			height: 40px;
			margin: 0;
			margin-top: 10px;
			#navbar-logo {
				fill: transparentize($white,0.1);
				width: 100%;
				height: 100%;
				transition: all 333ms ease-in-out;
			}
			&:hover {
				#navbar-logo {
					fill: $white;
					transform: scale(1.1);
				}
			}
			img {
				max-height: 100%;
			}
			@include tablet {
				width: span(1 of 12 first);
			}
			@include laptop {
				width: span(1 of 12 first);
			}
			@include desktop {
				width: span(1 of 12 first);
			}
			@include large-screen {
				width: span(1 of 12 first);
			}
		}
		.navbar-brand {
			width: span(3 of 12);
			color: $white;
			margin: 0;
			padding: 12px 5px 0 5px;
			padding-left: 5px;
			font-size: 180%;
			font-weight: 700;
			line-height: 60%;
			@include desktop {
				width: span(2 of 12);
			}
			@include large-screen {
				width: span(3 of 24);				
			}
		}
		ul.navbar-feature-links {
			width: span(5 of 24);
			float: left;
			margin: 0;
			li {
				float: left;
				padding: 22px 10px;
				font-size: 120%;
				&:last-of-type {
					margin-right: 15px;
				}
			}
		}
		.navbar-search {
			float: left;
			position: relative;
			width: span(8 of 12);
			margin: 10px auto 0 auto;
			form {
				position: relative;
				margin: 0;
				input[type='text'] {
					width: 100%;
					background: darken($primary-dark, 5%);
					padding: 3px 0;
					font-size: 120%;
					font-weight: 300;
					text-align: center;
					border-radius: 20px;
					appearance: none;
					box-shadow: none;
					border: none;
					color: $white;
				}
				input[type="text"]:focus {
					outline: none;
				}
				button[type="submit"] {
					outline: none;
					border: none;
					background: darken($primary-dark, 5%);
					position: absolute;
					top: 5px;
					right: 0;
					width: 30px;
					height: 30px;
					padding: 0 0 1px 0;
					transition: all 333ms ease-in-out;
					transform: rotate(0deg) scale(1.0);
					-webkit-border-radius: 50%;
					        border-radius: 50%;
					-webkit-box-shadow: 0 0 0 0 $shadow;
					        box-shadow: 0 0 0 0 $shadow;        
					i {
						font-size: 90%;
						
					}
					&:hover {
						transform: rotate(90deg) scale(1.3);
						i {

						}
					}
				}
			}
			@include small-tablet {
				width: span(7 of 12);
				button[type="submit"] {
				}
			}
			@include tablet {
				width: span(7 of 12);
				padding-left: 15px;
				button[type="submit"] {
				}
			}
			@include laptop {
				width: span(4 of 12);
				button[type="submit"] {
				}
			}
			@include desktop {
				width: span(7 of 24);
				button[type="submit"] {
				}
			}
			@include large-screen {
				width: span(4 of 12);
				button[type="submit"] {
				}
			}
		}
		ul.navbar-user-links {
			width: span(3 of 12);
			margin: 0;
			li {
				float: right;
				display: inline-block;
				padding: 22px 10px;
				&:last-child {
					margin-right: 5px;
				}
				i {
					font-size: 120%;
				}
			}
			@include laptop {
				width: span(5 of 24);
			}
			@include desktop {
				width: span(5 of 24);
			}
			@include large-screen {
				width: span(2 of 12);
			}
		}
		.navbar-burger {
			padding: 9px 10px 8px 10px;
			fill: $white;
			background: transparentize($secondary, 1);
			transition: background 0.6s, fill 0.6s;
			&:hover {
				// background: $primary-light;
			}
		}
	}
	ul.quick-navbar {
		width: 100%;
		margin: 0;
		padding: 0;
		background: $primary;
		li {
			text-align: center;
			float: left;
			width: 25%;
			font-size: 85%;
			padding: 11px 0;
			color: $white;
			-webkit-transition: background 0.3s;
			   -moz-transition: background 0.3s;
			    -ms-transition: background 0.3s;
			     -o-transition: background 0.3s;
			        transition: background 0.3s;
			i {
				font-size: 130%;
				margin: 0;
			}
			&:hover {
				background: $primary-light;
			}
			&.quick-navbar-first {
				width: 50%;
			}
			@include small-tablet {
				width: 20%;
				&.quick-navbar-first {
					width: 40%;
				}
			}
			@include tablet {
				width: 20%;
				font-size: 100%;
				&.quick-navbar-first {
					width: 40%;
				}
			}
			@include laptop {
				width: 20%;
				font-size: 100%;
				&.quick-navbar-first {
					width: 40%;
				}
			}
			@include desktop {
				width: 20%;
				font-size: 100%;
				&.quick-navbar-first {
					width: 40%;
				}
			}
			@include large-screen {
				width: 20%;
				font-size: 100%;
				&.quick-navbar-first {
					width: 40%;
				}
			}
			&.quick-navbar-cart {
				padding-top: 10px;
				padding-bottom: 7px;
				width: 10%;
			}
			&.quick-navbar-heart {
				padding-top: 10px;
				padding-bottom: 7px;
				width: 10%;
			}
		}
	}
	.locator-navbar {
		@include span(12 of 12);
		margin: 0;
		text-align: center;
		width: 100%;
		background: $white;
		color: $primary;
		border-bottom: 1px solid $off-white;
		// -webkit-box-shadow: 0 1px 3px $shadow;
		//         box-shadow: 0 1px 3px $shadow;
		#breadcrumbs {
			@include span(16 of 24);
			margin-left: span(1 of 24 first);
			color: $primary-dark;
			text-align: left;
			a {
				color: $primary-dark;
				&:hover {
					color: $primary-light;
				}
				transition: all 300ms;
			}
			p {
				width: 100%;
				font-size: 80%;
				font-weight: 700;
				line-height: 100%;
				padding: 6px 0 2px 0;
			}
			@include small-tablet {
				@include span(23 of 24);
				p {
					line-height: 130%;
					padding: 0;
				}
			}
			@include tablet {
				@include span(23 of 24);
				p {
					line-height: 130%;
					padding: 0;
				}
			}
		}
		.locator-btn {
			@include span(7 of 24 last);
			border-left: 1px solid darken($white,4%);
			&:hover {
				background: darken($white,3%);
			}
			p.small {
				margin: 7px 10px 7px 0;
				margin-bottom: 3px;
				color: $primary-dark;
				font-weight: 500;
				padding: 0;
				text-align: right;
				float: right;
			}
			i {
				padding-top: 7px;
				font-size: 100%;
				line-height: 100%;
				color: $primary-dark;
				margin: 0;
				margin-right: 10px;
				float: right;
			}
			@include tablet {
				@include span(12 of 12);
				background: darken($white,3%);

			}
			@include small-tablet {
				@include span(12 of 12);
				background: darken($white,3%);

			}
			@include phone {
				@include span(12 of 12);
				background: darken($white,3%);

			}
			@include small-phone {
				@include span(12 of 12);
				background: darken($white,3%);

			}
		}
	}
}
.navbar-up {
    top: -60px;
}
.scroll-hide {
    bottom: -60px;
}
.is-blurred {
	// filter: blur(6px);
	// -webkit-filter: blur(6px);
}

/* ------------------------- */
/* ---- FULL SCREEN NAV ---- */
/* ------------------------- */

#full-nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9000;
	width: 100%;
	height: auto;
	min-height: 200vh;
	display: none;
	background: rgba(255,255,255,0.9);
	ul {
		margin-top: 150px;
		overflow: scroll;
		li {
			padding: 20px 30px;
			margin: 5px;
			color: $primary;
			font-size: 200%;
			font-weight: 500;
			-webkit-border-radius: 20px;
			        border-radius: 20px;
			transition: color 0.5s;
			&:hover {
				color: $primary;
			}
		}
	}
}

/* ----------------------- */
/* ---- SCROLL TO TOP ---- */
/* ----------------------- */

#scrollTop {
	cursor: pointer;
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0;
	height: 60px;
	z-index: 9999;
	color: $primary;
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 12px;
	background-color: rgba(255,255,255,0.9);
	p {
		padding: 0 3px;
		margin: 0 auto;
		line-height: 50%;
	}
	i {
		margin: 0 auto;
		padding-left: 10px;
		line-height: 2px;
	}
	&:hover {
		background-color: $primary;
		p, i {
			color: $white;
		}
	}
}
.scroll-hide {
    bottom: -60px;
}
