@import 'mixins/core';


#location-cta {
	width: 100%;
	margin: 0;
	padding: 60px 0;
	background: $secondary;
	h2 {
		color: $primary;
	}	
	h4 {
		color: $white;
	}
	p {
		max-width: 600px;
		margin: 0 auto;
	}
	.btn {
		margin-top: 15px;
	}
}

#featured-profiles {
	margin: 0;
	a, a:link {
		li.featured-profile {
			display: inline-block;
			width: 48%;
			margin: 0 1%;
			-webkit-box-shadow: 0 6px 9px $shadow;
			        box-shadow: 0 6px 9px $shadow;
			.featured-profile-image {
				height: 300px;
				background-position: center center;
				-webkit-background-size: cover;
				     -o-background-size: cover;
				        background-size: cover;				
			}
			.featured-profile-info {
				background: $white;
				padding: 15px 20px;
			}
			h3 {
				color: $primary;
				font-weight: 300;
				white-space: nowrap;
			}
			p {
				color: $md-grey;
				font-weight: 300;
				white-space: nowrap;
			}
			@include small-phone {
				width: 98%;
			}
			@include phone {
				width: 98%;
			}
			@include small-tablet {
				width: 98%;
			}
			@include tablet {
				width: 98%;
			}
		}
	}
}

#faq-page, #learn-page {
	#faqs {
		li {
			margin-top: 15px;
			.faq {
				margin-top: 45px;
			}
		}
	}
}

.tuts-section {
	.tuts-image {
		max-width: 540px;
		margin-top: 15px;
		margin-bottom: 30px;
	}
	hr {
		margin-top: 15px;
		margin-bottom: 30px;
	}
	ul {
		li {
		}
	}
}