@import 'mixins/core';

.pagination {
	padding: 10px;
	a {
		background: none;
		border: none;
		padding: 5px 10px;
		font-size: 150%;
	}
	em.current {
		padding: 5px 10px 0 5px;
		color: $primary;
	}
	span.previous_page.disabled {
		padding-right: 5px;
	}
}
