@import 'mixins/core';

.prog-form {
	.prog-form-head {
		.prog-form-title {
		}
		.prog-form-progress {
			height: 50px;
			.prog-circle {
				width: 30px;
				height: 30px;
				margin: 10px;
        cursor: pointer;
				display: inline-block;
				border: 3px solid transparentize($secondary,0.9);
				// background: darken($white,10%);
				// border: 1px solid $lt-grey;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				&.is-active {
					border: 3px solid $secondary
					// background: $secondary;
				}
				i {
					margin: 0;
					padding: 0;
					font-size: 150%;
					line-height: 145%;
					color: $primary;
				}
			}
		}
	}
	.prog-form-body {
		.prog-form-step {
			display: none;
			&.is-visible {
				display: block;
			}
		}
		.prog-form-actions {
			margin-top: 30px;
			.btn-secondary-ghost,.btn-primary {
				display: inline-block;
				width: auto;
				margin: 5px;
				padding: 20px 40px;
			}
			button.prog-form-done {
				padding: 23px 40px;
				text-shadow: none;
				margin: 5px;
				margin-top: 7px;
				&:hover {
					display: inline-block;
					width: auto;
					background: $primary-light;
				}
			}
		}
	}
}
.animate-next-out {
  animation: next-out 600ms ease-in-out forwards;
}
.animate-back-out {
  animation: back-out 600ms ease-in-out forwards;
}

.animate-next-in {
  animation: next-in 500ms ease-in-out forwards;
  display: block;
} 
.animate-back-in {
  animation: back-in 500ms ease-in-out forwards;
  display: block;
} 

.animate-up {
  animation: fly-up 500ms ease-in-out forwards;
}
  
.move-prog-circle {
	transform: translateX(60px); 
}    
  
@keyframes next-out {
  0% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
  30% {
    transform: translateX(0px) rotate(-10deg);  	
  }
  50% {
    transform: translateX(0px) rotate(5deg);  	
  }
  100% {
    transform: translateX(-200%) rotate(30deg);
    opacity: 0;
  }
}
@keyframes next-in {
  0% {
    transform: translateX(200%) rotate(30deg);
    opacity: 0;
  }
  50% {
    transform: translateX(0px) rotate(5deg);  	
  }
  70% {
    transform: translateX(0px) rotate(-10deg);  	
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes back-out {
  0% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
  30% {
    transform: translateX(0px) rotate(10deg);  	
  }
  50% {
    transform: translateX(0px) rotate(-5deg);  	
  }
  100% {
    transform: translateX(200%) rotate(-30deg);
    opacity: 0;
  }
}
@keyframes back-in {
  0% {
    transform: translateX(-200%) rotate(-30deg);
    opacity: 0;
  }
  50% {
    transform: translateX(0px) rotate(-5deg);   
  }
  70% {
    transform: translateX(0px) rotate(10deg);   
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes fly-up {
  0% {
    transform: translateY(0%) rotate(0deg);
    opacity: 1;
  }
  30% {
    transform: translateY(10px) rotate(-5deg);   
  }
  100% {
    transform: translateY(-1000px) rotate(10deg);
    opacity: 1;
  }
}

