@import 'mixins/core';

#redeem-index {
	min-height: 80vh;
	.redeem-info {
		h3 {
			color: $primary;
			font-weight: 500;
		}
		p {
			color: $md-grey;
			font-weight: 300;
			max-width: 720px;
		}
	}
	table.deal-redeem-table {
		tbody.deal-redeem-list {
			tr.deal-redeem-item {
				color: $md-grey;
				margin-bottom: 5px;
				background: $white;
				border: 2px solid $dk-grey;
				// transform: scale(0.99);
				transition: all 333ms ease-in-out;
				padding-right: 9px;
				&:hover {
					color: $primary;
					// transform: scale(1.0);
					// -webkit-box-shadow: 0 6px 12px -6px $shadow;
					//         box-shadow: 0 6px 12px -6px $shadow;
				}
				td.redeem-btn {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	.gift-modal {
		position: absolute;
		display: none;
		top: 50%;
		left: 50%;
		z-index: 9999;
		width: 420px;
		transform: translate(-60%,-50%);
		padding: 15px;
		background: $off-white;
		border-radius: 9px;
		border: 1px solid $lt-grey;
		-webkit-box-shadow: 0 9px 18px -12px $shadow;
		        box-shadow: 0 9px 18px -12px $shadow;
		input[type="text"], input[type="email"] {
			background: $white;
			width: 360px;
		}
		p {
			color: $primary;
			margin-bottom: 9px;
		}
		.btn-secondary {
			width: 332px;
			margin-top: 5px;
		}
		i.ion-close {
			cursor: pointer;
			position: absolute;
			top: 6px;
			right: 6px;
			font-size: 100%;
			color: $md-grey;
			transform: rotate(0);
			transition: all 333ms ease-in-out;
			&:hover {
				color: $primary;
				transform: rotate(90deg);
			}
		}
	}
}