@import 'mixins/core';

#search-results {
	h2 {
		color: $md-grey;
		font-weight: 500;
		padding-left: 10px;
	}
	.search-results-filters {
		margin: 40px 20px 0 0;
		width: 220px;
		h5 {
			padding: 15px;
			border-top: solid 1px $lt-grey;
		}
		li {
			cursor: pointer;
			color: $md-grey;
			font-size: 80%;
			padding: 15px;
			transition: all 222ms ease-in-out;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			&:hover {
				background: $white;
			}
			a{
			  color: $md-grey;
			}
		}
		@include tablet {
			width: 100%;
			margin: 0;
			li {
				display: inline-block;
				text-align: center;
				width: 20%;
				font-size: 100%;
			}
		}
		@include small-tablet {
			width: 100%;
			margin: 0;
			li {
				display: inline-block;
				text-align: center;
				width: 20%;
				font-size: 90%;
			}
		}
		@include phone {
			width: 100%;
			margin: 0;
			li {
				display: inline-block;
				text-align: center;
				width: 20%;
				font-size: 80%;
			}
		}
		@include small-phone {
			width: 100%;
			margin: 0;
			li {
				display: inline-block;
				text-align: center;
				width: 20%;
				font-size: 70%;
			}
		}
	}
	.search-results-list {
		margin: 0;
		width: calc(100% - 240px);
		@include tablet {
			width: 100%;
		}
		@include small-tablet {
			width: 100%;
		}
		@include phone {
			width: 100%;
		}
		@include small-phone {
			width: 100%;
		}
	}
	.search-result-card {
		position: relative;
		background: transparentize($white,0.12);
		padding: 10px;
		margin: 8px 0;
		width: 100%;
		-webkit-transition: all 200ms ease-in-out;
		   -moz-transition: all 200ms ease-in-out;
		    -ms-transition: all 200ms ease-in-out;
		     -o-transition: all 200ms ease-in-out;
		        transition: all 200ms ease-in-out;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-border-radius: 15px;
		        border-radius: 15px;
		-webkit-box-shadow: 0 4px 9px -6px $shadow;
		        box-shadow: 0 4px 9px -6px $shadow;
		-webkit-transform: scale(1.0);
		   -moz-transform: scale(1.0);
		    -ms-transform: scale(1.0);
		     -o-transform: scale(1.0);
		        transform: scale(1.0);
		&:hover {
			background: $white;
			-webkit-box-shadow: 0 6px 12px -6px $shadow;
			        box-shadow: 0 6px 12px -6px $shadow;
			-webkit-transform: scale(1.02);
			   -moz-transform: scale(1.02);
			    -ms-transform: scale(1.02);
			     -o-transform: scale(1.02);
			        transform: scale(1.02);
		}	
		.search-result-image {
			float: left;
			width: 150px;
			height: 150px;
			margin-right: 15px;
			background: $secondary;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
		}
		.search-result-distance {
			position: absolute;
			top: 170px;
			left: 15px;
			font-size: 100%;
			color: $md-grey;
			text-align: center;
			font-weight: 300;
		}
		.search-result-type {
			position: absolute;
			top: 0;
			right: 0;
			// float: right;
			padding: 2px 10px 0 10px;
			background: $secondary;
			-webkit-border-radius: 0 8px 0 8px;
			        border-radius: 0 8px 0 8px;
			p {
				color: $white;
				text-align: center;
				font-size: 70%;
				line-height: 90%;
			}
		}
		.search-result-info {
			float: right;
			padding-top: 10px;
			width: calc(100% - 165px);
			.search-result-profile-data {
				margin-bottom: 15px;
				p {
					color: $md-grey;
					font-weight: 300;
				}
			}
		}
		.search-result-button {
			.btn-primary, .btn-primary-ghost { 
				border-radius: 8px;
				margin: 0;
			}
		}
		@include laptop {
			width: 99%;
		}
		@include tablet {
			width: 99%;
		}
		@include small-tablet {
			width: 99%;
		}
		@include phone {
			width: 99%;
		}
		@include small-phone {
			width: 99%;
		}

	}
}

