@import 'mixins/core';

/* --- SIDENAV STYLES --- */

#mkpd {
	position: relative;
	#stage {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		-webkit-transition: right 0.6s;
		   -moz-transition: right 0.6s;
		    -ms-transition: right 0.6s;
		     -o-transition: right 0.6s;
		        transition: right 0.6s;
	}
	#side-nav {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		overflow: hidden;
		min-height: calc(100vh + 600px);
		// display: none;
		background: darken($primary-dark,5%);
		-webkit-transition: width 0.6s;
		   -moz-transition: width 0.6s;
		    -ms-transition: width 0.6s;
		     -o-transition: width 0.6s;
		        transition: width 0.6s;
		#side-nav-head {
			width: 100%;
			padding: 17px 0;
			h2 {
				color: $white;
			}
			svg {
				fill: $primary;
				transition: all 333ms ease-in-out;
				&:hover {
					fill: $white;
					transform: scale(1.1);
				}
			}
		}
		ul {
			li {
				display: none;
				color: $white;
				font-size: 140%;
				padding: 30px;
				font-weight: 300;
				transition: all 200ms ease-in-out;
				&:hover {
					color: $secondary;
					background: $primary-dark;
					text-shadow: 0 3px 6px $shadow;
					font-weight: 500;
					transform: scale(1.1);
				}
			}
		}
	}
	&.side-nav-open {
		#stage {
			right: 300px;
		}
		#side-nav {
			width: 300px;
		}
	}

}


.sub-categories-drawer.mobile {
	display: none;
	color: $primary-dark;
	width: 100%;
	max-width: 960px;
	max-height: 360px;
	overflow: scroll;
	margin: 0 auto;
	padding: 15px;
	background: $white;
	-webkit-box-shadow: 0 1px 3px $shadow;
	        box-shadow: 0 1px 3px $shadow;

	h1,h2,h3,h4,h5,h6,p,a,a:link,a:active,li {
		color: $primary-dark !important;
	}

	.sub-categories-drawer-title 	{
		margin-bottom: 13px;
	}

	ul.mobile-category-list {
		padding: 0;
		margin: 0;
		li {
			padding: 6px !important;
			margin: 0 auto;
			width: 100%;
			font-size: 90% !important;
			color: $primary-dark !important;
			text-align: left;
			transition: all 333ms ease-in-out;
			
			&:hover {
				background: $off-white !important;
				color: $primary;
				text-shadow: 0 0 0 rgba(255,255,255,0.0) !important;
				font-weight: 300;
				transform: scale(1) !important;
			}
		}
	}

	&.drawer-is-open {
		
	}

}	