@import 'mixins/core';

// 
// SLIDE BANNER CTA
// 

#slide-banner {
	width: 100%;
	height: 540px;
	margin: 0 auto;
	margin-top: 66px;
	padding: 0;
	position: relative;
	background-color: $secondary-dark;
	color: $white;
	overflow: hidden;
	.slide {
		padding: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		right: 0;
		// display: none;
		opacity: 0;
		transform: translateY(480px);
		transition: all 333ms ease-in-out;
		&.is-active {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.slide-banner-image {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		opacity: 1;
		transition: all 333ms ease-in-out;
		background-position: center center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	.slide-banner-cta {
		position: absolute;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		top: 15%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 30px;
		.slide-banner-headline {
			h2 {
				color: $white;
				font-size: 300%;
				font-weight: 700;
				// line-height: 110%;
				text-shadow: 0 2px 5px rgba(0,0,0,0.7);
			}
		}
		.slide-banner-description {
			p {
				text-shadow: 0 1px 4px rgba(0,0,0,0.8);
				max-width: 640px;
				margin-bottom: 30px;
			}
		}
		.slide-banner-button {
			a, a:link {
				color: $white;
				-webkit-box-shadow: 0 3px 6px $shadow;
				        box-shadow: 0 3px 6px $shadow;
			}
		}
	}
	.slide-banner-nav {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 30;
		transform: translateX(-50%);
		.slide-banner-nav-indicator {
			width: 10px;
			height: 10px;
			margin: 0 5px;
			background: $white;
			display: inline-block;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			&.is-active {
				background: $secondary;
			}
		}
	}	
}

// 
// SLIDES INDEX
// 

#slides-index {
	.slide-example {
		width: 30%;
	}
}



// 
// SLIDE FORMS
// 

#new-slide,
#edit-slide {
	min-height: calc(100vh - 150px);
	background: radial-gradient(transparentize(lighten($primary-light,15%),0.5),transparentize(darken($primary-dark,3%),0.3)), url('marketpad-city_bg.jpg');
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	.slide-form {
		background: radial-gradient(lighten($white,10%),darken($white,3%));
		width: 90%;
		height: auto;
		padding: 30px 60px 45px 60px;
		margin: 30px auto;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-border-radius: 9px;
		        border-radius: 9px;
		-webkit-box-shadow: 0 2px 15px $shadow;
		        box-shadow: 0 2px 15px $shadow;
		h1 {
			color: $primary;
		}
		p {
			color: $secondary;
			font-weight: 300;
			max-width: 720px;
			margin-left: auto;
			margin-right: auto;
		}
		textarea {
			width: 94%;
		}
		input.file-field {
			width: 94%;
		}
		.slide-form-thumb {
			width: 200px;
		}
		.actions {
			button {
				width: 100%;
				padding: 24px 20%;
				margin-top: 20px;
				color: $white;
				border: none;
				background: $primary;
				-webkit-border-radius: 3px;
				        border-radius: 3px;
				&:hover {
					margin-top: 20px;
					padding: 24px 20%;
					color: $white;
					background: $primary-light;
					box-shadow: 0 0 0 $shadow;
				}
			}
		}

	}
}