@import 'mixins/core';
@import 'mixins/devices';

.subscribe {
	@include container(12);
	padding: 15px 1% 30px 1%;
	background: $primary-dark; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	h3 {
		padding: 8px 0;
		color: $white;
	}
	input[type="text"], input[type="email"] {
		padding: 14px 5px;
		padding-left: 15px;
		margin-top: 2px;
		margin-left: 2px;
		font-size: 150%;
		font-weight: 400;
		float: left;
		width: span(12 of 12);
		border: none;
		-webkit-border-radius: 0;
		        border-radius: 0;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		&:focus {
			border: none;
		}
	}
	button.btn.btn-secondary {
		float: left;
		width: span(12 of 12);
		margin: 2px 0 0 2px;
		padding: 3px inherit;
		text-shadow: none;
		-webkit-border-radius: 0;
		        border-radius: 0;
		&:hover {
			background: $secondary-light;
			margin: 2px 0 0 2px;
			padding: 5px inherit;
		}
	}
	#subscribe-form-name {
		width: 0;
	}
	@include tablet {
		#subscribe-form-name {
		}
		#subscribe-form-email {
			width: span(9 of 12);
		}
		button.btn.btn-secondary {
			width: span(3 of 12);
		}		
	}
	@include laptop {
		#subscribe-form-name {
			width: span(3 of 12);
		}
		#subscribe-form-email {
			width: span(6 of 12);
		}
		button.btn.btn-secondary {
			width: span(3 of 12);
		}
	}
	@include desktop {
		#subscribe-form-name {
			width: span(4 of 12);
		}
		#subscribe-form-email {
			width: span(6 of 12);
		}
		button.btn.btn-secondary {
			width: span(2 of 12);
			font-size: 90%;
		}
	}
	@include large-screen {
		#subscribe-form-name {
			width: span(4 of 12);
		}
		#subscribe-form-email {
			width: span(6 of 12);
		}
		button.btn.btn-secondary {
			width: span(2 of 12);
		}
	}
}	