@import 'mixins/core';
@import 'mixins/forms';

#new-business,
#new-organization,
#new-agency,
#edit-user-account {
	min-height: calc(100vh - 150px);
	background: radial-gradient(transparentize(lighten($primary-light,15%),0.5),transparentize(darken($primary-dark,3%),0.3)), url('marketpad-city_bg.jpg');
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	.user-upgrade-form,
	.user-edit-form {
		background: radial-gradient(lighten($white,10%),darken($white,3%));
		width: 90%;
		height: auto;
		padding: 30px 60px 45px 60px;
		margin: 30px auto;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-border-radius: 9px;
		        border-radius: 9px;
		-webkit-box-shadow: 0 2px 15px $shadow;
		        box-shadow: 0 2px 15px $shadow;
		h1 {
			color: $primary;
		}
		p {
			color: $secondary;
			font-weight: 300;
			max-width: 720px;
			margin-left: auto;
			margin-right: auto;
		}
		input {
			border: none;
		}
		textarea {
			width: 94%;
		}
		#business-profile-image,
		#business-cover-image {
			float: left;
			width: 50%;
			input.file-field {
				width: 94%;
			}
		}
		.actions {
			button {
				width: 100%;
				padding: 24px 20%;
				margin-top: 20px;
				color: $white;
				border: none;
				background: $primary;
				-webkit-border-radius: 3px;
				        border-radius: 3px;
				&:hover {
					margin-top: 20px;
					padding: 24px 20%;
					color: $white;
					background: $primary-light;
					box-shadow: 0 0 0 $shadow;
				}
			}
		}

	}
}