#business-show
	.business-hero
		.business-hero-background style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(#{@profile.cover_image});"
		.business-hero-image style="background-image: url(#{@profile.image});"
		.business-hero-title.dark
			h1 = @profile.name
			- if @profile.website.present?
				p =link_to @profile.website, @profile.website, target: "_blank"
			h3 = number_to_phone(@profile.phone_number, area_code: true)
			<br /> #{@profile.street}
			h4.small #{@profile.city}, #{@profile.state} #{@profile.zipcode} #{@profile.country}
		.business-hero-description.dark
			p = @profile.description.try(:html_safe)


	.discounts-gallery
		.container
			.discount-category-header
				h2 AFFILIATED DEALS
			p.category-header-help Shop These Affiliated Deals to Raise Money for #{@profile.name}!
			= will_paginate @associated_discounts
			.discount-category-block
				- if @associated_discounts.present?
					- @associated_discounts.each do |discount|
						.discount-card.bx-shadow-2
							- if discount.sold_out?
								.sold-out-card
									h2.sold-out-text SOLD OUT
							= link_to discount_path(discount.slug, refererType: REFERER_TYPE_AFFILIATE, refererID: @profile.referer_slug)
								.discount-card-image style="background-image:url(#{discount.image});"
							= link_to discount_path(discount.slug, refererType: REFERER_TYPE_AFFILIATE, refererID: @profile.referer_slug)
								.discount-card-info.dark
									- if discount.family_friendly?             
										i.ion-ios-people
										i.ion-checkmark-circled
									h2 = truncate(discount.name, :length => 35)
									p = truncate(discount.description.try(:html_safe), :length => 45)
							
							.discount-card-buy
								p.small 
									| was 
									span 
											= number_to_currency(discount.price)
								.discount-card-buy-button.btn-primary 
									= number_to_currency(discount.discounted_price)
							.discount-card-love
								= link_to discount_like_path(discount.slug), method: :post, remote: true, id: "discount_like_#{discount.id}"
									- if current_user && discount.liked?(current_user.id)
										i.ion-ios-heart
									- else
										i.ion-ios-heart-outline


				- else
					h3.sorry Unfortunately I have no deals available in your local search area at this time.
			= will_paginate @associated_discounts


			.discount-category-header
				h2 LOCAL DEALS
			p.category-header-help Shop These Local Deals to Raise Money for #{@profile.name}!
			= will_paginate @local_discounts
			.discount-category-block
				- if @local_discounts.present?
					- @local_discounts.each do |discount|
						.discount-card.bx-shadow-2
							- if discount.sold_out?
								.sold-out-card
									h2.sold-out-text SOLD OUT
							= link_to discount_path(discount.slug, refererType: REFERER_TYPE_AFFILIATE, refererID: @profile.referer_slug)
								.discount-card-image style="background-image:url(#{discount.image});"
							= link_to discount_path(discount.slug, refererType: REFERER_TYPE_AFFILIATE, refererID: @profile.referer_slug)
								.discount-card-info.dark
									- if discount.family_friendly?             
										i.ion-ios-people
										i.ion-checkmark-circled
									h2 = truncate(discount.name, :length => 35)
									p = truncate(discount.description.try(:html_safe).try(:html_safe), :length => 45)
							
							.discount-card-buy
								p.small 
									| was 
									span 
										= number_to_currency(discount.price)
								.discount-card-buy-button.btn-primary 
									= number_to_currency(discount.discounted_price)
							.discount-card-love
								= link_to discount_like_path(discount.slug), method: :post, remote: true, id: "discount_like_#{discount.id}"
									- if current_user && discount.liked?(current_user.id)
										i.ion-ios-heart
									- else
										i.ion-ios-heart-outline


				- else
					h3.sorry Unfortunately there are no deals available in your local search area at this time.
			= will_paginate @local_discounts


			.discount-category-header
				h2 PRODUCTS
			p.category-header-help Shop These Products to Raise Money for #{@profile.name}!
			= will_paginate @products
			.discount-category-block
				- if @products.present?
					- @products.each do |discount|
						.discount-card.bx-shadow-2
							- if discount.sold_out?
								.sold-out-card
									h2.sold-out-text SOLD OUT
							= link_to discount_path(discount.slug, refererType: REFERER_TYPE_ORGANIZATION, refererID: @profile.referer_slug)
								.discount-card-image style="background-image:url(#{discount.image});"
							= link_to discount_path(discount.slug, refererType: REFERER_TYPE_ORGANIZATION, refererID: @profile.referer_slug)
								.discount-card-info.dark
									- if discount.family_friendly?             
										i.ion-ios-people
										i.ion-checkmark-circled
									h2 = truncate(discount.name, :length => 35)
									p = truncate(discount.description.try(:html_safe), :length => 45)
							
							.discount-card-buy
								p.small 
									| was 
									span 
										| $
										= discount.price
								.discount-card-buy-button.btn-primary 
									| $
									= discount.discounted_price
							.discount-card-love
								= link_to discount_like_path(discount.slug), method: :post, remote: true, id: "discount_like_#{discount.id}"
									- if current_user && discount.liked?(current_user.id)
										i.ion-ios-heart
									- else
										i.ion-ios-heart-outline

			= will_paginate @products
