doctype html
html
  head
    title =@page_title || "MarketPad - search local, shop global"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    meta name="mobile-web-app-capable" content="yes"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    #mkpd
      #stage
        - if flash.present?
          #flashes
            p.notice = notice
            p.alert = alert
        = render 'components/navbar'
        #main-content
          #yield
            = yield
        = render 'components/footer'
      = render 'components/sidenav'
      = render 'components/modal'
      = render 'components/loading'
    script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=#{ENV['ADDTHIS_PUB_KEY']}"

